[2019-10-23 16:37] kienstra commented on #450
Hi @lukecarbis,
Thanks for opening this. I'll work on this, though I might not start until the weekend if that's alright.

[2019-10-25 03:38] guzart opened #451 "Blade rendering engine for blocks"
Hello 👋,

We are currently using [Sage WordPress Theme](https://roots.io/sage/) which uses Laravel's [Blade Templates](https://laravel.com/docs/5.8/blade). It would be amazing to be able to extend Block Lab to use any custom rendering engine.

So far I am able to render our Blade components with the following `/blocks/button/block.php`:

[code]

[2019-10-25 11:29] martinbon commented on #430
I do believe I have the same/similar issue occuring.

It suggests posts nicely at first
![blocklab-certificate-title](https://user-images.githubusercontent.com/34155711/67568027-c3b01380-f733-11e9-8ac1-91bf2f80ef58.jpg)

But then when I type the suggested post type in there manually, it can't find it.
![blocklab-certificate-title-invalid](https://user-images.githubusercontent.com/34155711/67568064

[2019-10-25 14:44] kienstra commented on #430
@martinbon,
Thanks for bringing this up, and for your good screenshots. We've talked about prioritizing this.

You can check back here to see the status, a PR that fixes this will link to this issue.

[2019-10-27 00:15] lukecarbis commented on #451
Hey @guzart – that's super interesting. I've come across this once before. We'll definitely have to take a closer look into how Blade Templates could work with Block Lab.

[2019-10-28 03:06] #315 closed, assigned to nobody

[2019-10-28 03:10] #405 closed, assigned to kienstra

[2019-10-28 03:32] kienstra opened #452 "Color control unexpectedly displays [object Object]"
## Steps to reproduce
1. Create a Block Lab block with a color control. It probably doesn't matter if it has help text or a default value.
2. Create a new post, and add that block to it
3. Select a color
4. Expected: The color value appears in the `<input>` (I think)
5. Actual: `[object Object]` appears

<img width="690" alt="unexpectedly-here" src="https://user-images.githubusercontent.com/406388

[2019-10-28 03:36] kienstra commented on #452
This looks to not be an issue in the previous release (`1.4.1`). For example, when running:
[code]
...this issue doesn't appear.

Here's [the diff](https://github.com/getblocklab/block-lab/compare/41fd3922f44ce1dbb1c4677d5b7f54317c5959a6...6f07bc00d8cfe0d3e79c2008f7e6a437818a6ca9) since that previous release.

[2019-10-28 04:25] #452 closed, assigned to nobody

[2019-10-28 04:39] kienstra opened #456 "Styling issues with some controls in WP 5.3-RC2"
With WordPress `5.3-RC2`, there look to be styling issues for the Color, Select, Multi-select, and Toggle controls (without Gutenberg active).

Expected: The label appears at the top of the control
Actual: The label appears on the same line as the control:

<img width="404" alt="label-appearing" src="https://user-images.githubusercontent.com/4063887/67652432-7afe8300-f90a-11e9-84ec-d0e820599d83.pn

[2019-10-28 10:28] RobStino opened #458 "Think through default for Classic Text field"
Not 100% sure if this is the best solution.
Not a bug, but maybe we do something different.
![image](https://user-images.githubusercontent.com/1578148/67671344-7e087a80-f9c1-11e9-8960-1e4b15d42f61.png)

[2019-10-28 10:32] RobStino opened #459 "Post field doesn't go 100% wide"
TBH, 100% wide would probably look not as good as it is, but it breaks the standardised UX of all the other fields.

We should either make them go 100% or remove the width settings from those fields

In Block Builder
![image](https://user-images.githubusercontent.com/1578148/67671579-ef482d80-f9c1-11e9-85d1-f84522140a1b.png)

In editor
![image](https://user-images.githubusercontent.com/1578148/676

[2019-10-28 10:33] RobStino opened #460 "Controls overlap with Rich Text"
The controls for the Rich text field overlap the field above.
![image](https://user-images.githubusercontent.com/1578148/67671679-228abc80-f9c2-11e9-8057-d102c683e69b.png)

[2019-10-28 10:33] RobStino commented on #459
Noticed that this is the same for the taxonomy fields.

[2019-10-28 10:37] RobStino opened #461 "Incremental Numbering for Duplicated fields not working - "Nan""
This was working ok on the PR branch, but observing the following on the v1.5 version bump branch.
I confirmed I was on the right branch and that I had ran `nom run build`
![image](https://user-images.githubusercontent.com/1578148/67671958-9f1d9b00-f9c2-11e9-86b2-43412401065f.png)

[2019-10-28 15:08] kienstra commented on #458
Hi @RobStino,
Thanks for opening this.

Is this issue only for the 'Default Value' field? Were you thinking of how that's simply an `<input>`, though the Classic Text field allows markup?

[2019-10-28 15:09] kienstra commented on #458
If so, we should have some kind of resolution on this issue before the release. We don't want to change it later, and then break backwards compatibility.

[2019-10-28 15:22] kienstra commented on #459
Hi Rob, good find! Thanks for opening this.

[2019-10-29 01:11] kienstra commented on #461
Hi @RobStino,
Thanks for opening this. Could you please add a few steps to reproduce? Thanks.

[2019-10-29 01:26] kienstra commented on #458
Hi @RobStino,
Good to see you a minute ago.

Per our discussion on Zoom, it sounds like we're going to keep this as is, and maybe later have more of a 'Rich Text' type editor for the Default field.

Does that sound good?

[2019-10-29 02:50] RobStino commented on #458
Sounds good!

[2019-10-29 02:50] #458 closed, assigned to nobody

[2019-10-29 09:21] #442 closed, assigned to nobody

[2019-10-29 09:21] lukecarbis commented on #441
This was resolved in #438.

[2019-10-29 09:21] #441 closed, assigned to nobody

[2019-10-29 09:30] lukecarbis commented on #461
OH NO! I can't reproduce!!

![Screen Shot 2019-10-29 at 7 30 32 pm](https://user-images.githubusercontent.com/1097667/67754675-98565d00-fa82-11e9-8acf-6274c46f927d.png)

[2019-10-29 09:48] lukecarbis commented on #460
Just tested and the style is different again in 5.3. My suggestion is that we skip this for the current release, and make sure that it's addressed when working on a fix for #456.

[2019-10-29 22:52] RobStino commented on #461
So, I'm testing this again this morning and without changing anything, I can't replicate...
I recommend we move forward with the release. If it's a real issue, it will surface again.
It's not going to break anything existing either as it will only surface (if it does) when people add/duplicate new fields.

[2019-10-29 23:03] kienstra commented on #461
Sounds good, feel free to update this if you see it again.

[2019-10-29 23:23] kienstra commented on #461
Closing this for now.

[2019-10-29 23:31] lukecarbis commented on #461
Reopening since I managed to replicate it. Will post again with more details once I figure more out.

[2019-10-29 23:33] lukecarbis commented on #461
Here's how to replicate the issue:

1. Add a field
2. Add another field, and manually give it the exact same field name
3. Duplicate one of those two fields

[2019-10-30 04:10] #461 closed, assigned to nobody

[2019-10-31 02:45] kienstra commented on #450
Hi @lukecarbis,
Thanks for bringing this up.

Could you please help with a screenshot of the block where this error occurs? Is this for any 'blurring,' like clicking outside of the Rich Text field, or tabbing outside it?

I didn't see this issue in Safari or Chrome, though not to say it's not valid.

<img width="956" alt="rich-text-here" src="https://user-images.githubusercontent.com/4063887/67914

[2019-10-31 04:01] lukecarbis commented on #450
I can no longer replicate this issue.

[2019-10-31 04:01] #450 closed, assigned to kienstra

[2019-10-31 04:11] kienstra commented on #450
All good, feel free to reopen it if you see it again.

[2019-10-31 22:46] RobStino opened #464 "Onboarding help prompts persisting after adding first block"
Started a new site with a new install of BL. Added my first block etc, but the onboarding prompts are hanging around.

![image](https://user-images.githubusercontent.com/1578148/67991186-146bc300-fc84-11e9-9ff1-f3c2e6969e89.png)

[2019-10-31 23:17] RobStino opened #465 "Classic Editor not interactive in Repeater in 2nd+ rows"
Added a classic field to a repeater block and noticed that I could not interact with it from the second row onwards.
Video here on steps to reproduce.
https://d.pr/v/PjCSlG

[2019-11-03 01:31] forcedefrappe opened #468 "Blocks are not printed if the content of the post is returned through get_post_field"
Hi! I created a few blocks using the plugin earlier on (it's really great!) but noticed that they are not echoed if the content of the page\post is returned using using the get_post_field function.

Here's a very summarised version of the relevant code:

$id = get_the_ID();
$wp_content = get_post_field("post_content",$id);
echo $wp_content;

The "normal" content of the post is displayed correctly,

[2019-11-03 16:41] kienstra commented on #468
Hi @5g4kQNpw,
Thanks for bringing this up, and for using Block Lab.

Where is `get_post_field("post_content",$id);` running, and is there a reason it can't run in the loop?

I also see the issue you mentioned, and it looks like it also exists for another [dynamic block](https://developer.wordpress.org/block-editor/tutorials/block-tutorial/creating-dynamic-blocks/), the Latest Comments block.

If b

[2019-11-04 00:55] kienstra opened #469 "Refactor 'Edit Block' UI to use React"
The 'Edit Block' UI has served the plugin well so far. There have been very few bugs, and I think it's a great UI.

<img width="1129" alt="edit-block-ui" src="https://user-images.githubusercontent.com/4063887/68094946-eac0c080-fe6a-11e9-808f-034978b1c0f7.png">

But as the UI adds more features, it's going to get harder to maintain. There's a [jQuery-based file](https://github.com/getblocklab/block

[2019-11-04 01:05] kienstra commented on #469
I think the first option to consider would be using a basic Gutenberg setup with:

[code]

<img width="1440" alt="no-blocks-used" src="https://user-images.githubusercontent.com/4063887/68095124-62dbb600-fe6c-11e9-8a44-1d4a56bde5dc.png">

The 'Document' panel has most of the functionality as before.

But the 'block' UI would need a lot of consideration. Of course, we wouldn't want the ability to ad

[2019-11-04 01:24] kienstra commented on #469
Update: per the [comment below](https://github.com/getblocklab/block-lab/issues/469#issuecomment-555178725), it'd probably be better to disable block editing entirely.

By calling something like:
[code]
...we could prevent users from being able to simply type text into the UI (creating a paragraph block). This would then display:

<img width="1157" alt="add-block-to" src="https://user-images.githu

[2019-11-04 16:22] forcedefrappe commented on #468
Hey!

I had no particular reason not to use the loop - in fact I switched to it and now everything is working perfectly (and I am very much enjoying my custom blocks) 👍

I opened the issue for your reference, mostly.

Other than that, using block_field() had no effect, sadly: the content wouldn't still be echoed.

Take care!

[2019-11-04 17:05] kienstra commented on #468
Thanks, I appreciate it. I also saw the issue once you brought it up, so it's helpful to know that.

Ah, OK. Yeah, `block_field()` is intended for use inside the block template, I forgot about that.

[2019-11-07 22:58] #228 closed, assigned to nobody

[2019-11-09 04:43] #459 closed, assigned to nobody

[2019-11-09 04:43] #460 closed, assigned to nobody

[2019-11-11 01:41] lukecarbis opened #471 "Minimum repeater rows and checkboxes"
This seems fairly edge case, but I feel it might point to a more fundamental problem.

If you create a repeater with a minimum amount of rows greater than 1, and include a checkbox inside that repeater, then the checkboxes are linked when adding them to the editor.

What I mean by that is when you check one checkbox, all become checked.

What's more, the block doesn't save (attributes error).

![2

[2019-11-11 01:45] #465 closed, assigned to nobody

[2019-11-11 01:45] kienstra commented on #471
Hi @lukecarbis,
Thanks for opening this. Tomorrow is probably the earliest I could look at this, if that's alright.

[2019-11-11 03:28] lukecarbis opened #472 "Re-ordering the classic fields inside a repeater doesn't work"
![2019-11-11 13-27-21 2019-11-11 13_27_50](https://user-images.githubusercontent.com/1097667/68558982-15bc9d00-0487-11ea-8684-3bc185dac252.gif)

[2019-11-11 03:28] lukecarbis commented on #471
No problem!

[2019-11-12 23:33] lukecarbis opened #474 "Group Control"
It would be nice to be able to group sets of fields together, so that they're displayed as a "set".

This could also be a precursor to saving a group of fields, so that they can be reused. For example, you might save a `button` group, containing:

- Button style (select)
- Button text (text)
- Button link (url)

Visually, the design could resemble the repeater field, but without the ability to add

[2019-11-12 23:34] lukecarbis opened #475 "Heading & Description Controls"
It could be interesting to explore controls that are purely informational. That is, they don't actually have anything editable, and they have no output on the frontend.

They could be useful when structuring a block to help group fields and provide additional information for clients / users using the block.

[2019-11-14 11:49] gfazioli opened #476 "Filter block_lab_icons broken block with wp 5.3"
with wordpress 5.3 my filter

[code]
still works fine, I can see my icon in the BlockLab editor but I cannot see the block when I edit a page. Just remove my icon and all work fine. Any clue?

![image](https://user-images.githubusercontent.com/432181/68856028-d210a000-06df-11ea-8834-9088d228e109.png)

[2019-11-16 20:21] kienstra commented on #476
Hi @gfazioli,
Thanks for bringing this up.

Is there a JS console error or warning when that message appears?

[2019-11-18 18:55] kienstra commented on #278
**Question about scope**

Hi @lukecarbis,
Sorry I missed you yesterday. Could you please help with a question about the scope here?

It sounds like this issue does not include conditions that apply to the entire block, right?

There are already some, like:

<img width="877" alt="condition-block" src="https://user-images.githubusercontent.com/4063887/69080730-1fec1780-0a02-11ea-9943-13e4f3d90f2e.pn

[2019-11-18 19:46] kienstra commented on #469
It looks like it's possible to disable block editing, as that doesn't apply to this:

[code]

[code]

<img width="1286" alt="block-editor" src="https://user-images.githubusercontent.com/4063887/69084365-b07a2600-0a09-11ea-90e3-36a8d963ca42.png">

[2019-11-18 19:54] kienstra commented on #469
In the [PHP rendering function](https://github.com/getblocklab/block-lab/blob/9ebc88088cfee932a55bb9bb04571aca8f451ecc/php/post-types/class-block-post.php#L521) for the metabox circled above, it could simply output a container for the metabox, like `<div id="bl-field-editor"></div>`, and maybe a JavaScript `const` with any needed data.

Then, a separate script could render the metabox:

[code]

Th

[2019-11-18 22:30] rohan2388 opened #477 "Preview does not work when you have a lot of contents"
So the issue is if I add a lot of contents (multiple textarea with multiple paragraphs) in a block, the preview stops working. I get the following error in console:
`GET http://attacq.local/wp-json/wp/v2/block-renderer/block-la...  414 (Request-URI Too Long)`

So is there a way to fix this?

[2019-11-18 22:56] kienstra commented on #477
Hi @rohan2388,
Thanks for bringing this up.

It looks to be the same issue as https://github.com/getblocklab/block-lab/issues/436#issuecomment-534349462, though it would have been hard to know that by searching.

Unfortunately, there isn't an easy way to fix this. The GET request limit is set by the server, I think.

As mentioned in https://github.com/WordPress/gutenberg/issues/16396#issuecomment-

[2019-11-18 23:49] lukecarbis commented on #469
@kienstra That sounds like a really good solution!

[2019-11-18 23:50] lukecarbis commented on #278
Yes, only field level. We could consider opening separate issues for other options – but to my knowledge there's been no demand for that level of functionality.

[2019-11-19 00:15] kienstra commented on #278
Thanks, that sounds great.

[2019-11-19 00:16] kienstra commented on #469
Thanks, Luke!

[2019-11-23 23:41] kienstra commented on #469
The metabox that's [rendered as above](https://github.com/getblocklab/block-lab/issues/469#issuecomment-555182287) can access and alter the post content directly.

For example:

[code]

Then, the new content should be available with:

[code]

[2019-11-23 23:45] kienstra commented on #469
This should ideally allow the meta box that was previously [rendered with PHP](https://github.com/getblocklab/block-lab/blob/9ebc88088cfee932a55bb9bb04571aca8f451ecc/php/post-types/class-block-post.php#L521) to be rendered with React, as [described above](https://github.com/getblocklab/block-lab/issues/469#issuecomment-555182287).

Just like in the PHP rendering function, how it gets the post and

[2019-11-24 04:38] #464 closed, assigned to nobody

[2019-11-25 03:16] pcfreak30 commented on #157
@lukecarbis @RobStino

I would consider this the next killer thing after repeaters. I'm building a custom theme with a CSS framework, and if I could get a block to render with the CSS classes I want (without adding manually every time, as I have dequeued the wp-blocks CSS), i could easily build blocks that use fields and such to render layout blocks more rapidly. Combine that with the API, and you

[2019-11-25 11:48] pcfreak30 opened #480 "Theme Isle Block CSS Compatibility"
Not sure if I need to bring this up with them (it's a free but very useful plugin).

Apparently using the `block-css` plugin on a get lab block throws an attribute error.

![Selection_301](https://user-images.githubusercontent.com/10647/69538021-5e785980-0f4f-11ea-9f5a-04e95d12c66e.jpg)

Everything else does work if I click to focus it, just not the preview.

[2019-11-25 11:56] pcfreak30 commented on #480
A bit of digging in the network calls to `/wp-json/wp/v2/block-renderer/block-lab/background-overlay?context=edit&attributes%5Bimage%5D=3920&attributes%5Bopacity%5D=0.5&attributes%5Bposition%5D=center%20center&attributes%5Brepeat%5D=no-repeat&attributes%5Bsize%5D=cover&attributes%5BhasCustomCSS%5D=false&attributes%5BcustomCSS%5D=&post_id=79&_locale=user` shows `hasCustomCSS is not a valid property

[2019-11-25 11:58] pcfreak30 opened #481 "Feature/Enhancement request: Decimal/Float support"
I would like to either see a float/decimal field or adding an option to the number field to support a decimal. Could like easily take that after and make a currency field as well.

[2019-11-25 18:41] kienstra commented on #157
Nice, thanks a lot for sharing your use cases and how this would help.

[2019-11-25 18:56] kienstra commented on #480
Hi @pcfreak30,
Thanks for bringing this up.

That message can be hard to debug. Does a message like that also appear with dynamic blocks in Core, like Latest Comments?

[2019-11-25 19:00] kienstra commented on #480
https://github.com/getblocklab/block-lab/issues/375 might be related

[2019-11-25 20:08] pcfreak30 commented on #480
@kienstra i just checked in a dummy post and yes it does.

[2019-11-25 20:15] kienstra commented on #480
OK, thanks. It might be good to raise that with the `block-css` plugin, or with Gutenberg.

[2019-11-26 16:50] #480 closed, assigned to nobody

[2019-11-26 16:51] kienstra commented on #481
Hi @pcfreak30,
Thanks for suggesting this. If this feature is added, a PR will reference this issue.

[2019-11-27 09:37] wiwimaster opened #482 "Question: version control"
Hi,
it would be great to understand how Block lab handles block updates. The more features are added to Block Lab, the more existing blocks will need updates. How should those changes be handled? I didn't find any documentation on https://getblocklab.com/docs/

So I guess there are two scenarios: 1) version control exists, but the documentation is not there, or 2) there is no version control (yet)

[2019-11-27 15:29] zaewin opened #483 "Feature request: Extended formatting in rich text"
It would be nice to be able to have some more features in the rich text. For example:

- CSS class picker
- Heading tag picker (h1, h2, h3 etc)

Another option would be to allow switching between normal and html mode. Sometimes we want to tweak the markup.

[2019-11-27 16:10] kienstra commented on #483
**Thanks**

Hi @zaewin,
Thanks for bringing this up.

The new Classic Text field can have headings:

<img width="1435" alt="test-cl" src="https://user-images.githubusercontent.com/4063887/69739787-eb611580-10fd-11ea-9ecb-d743c051d1b8.png">

Maybe you already know about this, but it's possible to add a CSS class for the entire block. Though it sounds like you had in mind adding a class for only the

[2019-11-27 17:34] kienstra commented on #482
Hi @wiwimaster,
Thanks for bringing this up, and for adding specific use cases.

There isn't a 'version control' system for Block Lab (other than this repo for the actual plugin 😄), nor a UI for migrating block fields.

* If you add a field to a block, the block should still be valid in the block editor, and all of the previous fields should still be available. The new field will also be available

[2019-11-27 18:03] kienstra commented on #456
This was fixed in #467

[2019-11-27 18:03] #456 closed, assigned to nobody

[2019-11-27 18:44] kienstra commented on #320
This would be a good one to fix. Ideally, there'd be a way to store a previous slug, and map it to a current slug.

Changing the slug in all of the saved block's attributes probably won't work. We'd have to iterate over all of the posts, parse the blocks, and change the block name.

[2019-11-28 00:57] kienstra opened #485 "PHP performance profiling"
It'd be good to have an idea of this plugin's effect on front-end performance.

This might also point out areas that we could improve. For example, if a certain function is taking too long.

[2019-11-28 08:19] zaewin commented on #483
@kienstra Hi!

That's great, I didn't realize that there was a new update! It would be nice to be able to switch to html input mode. Sometimes you might have a large text already in html and you just want to paste it into the block without having to reformat.

I do know about the block css class. However, I was rather thinking about a class picker just like the heading picker. Sometimes you'd prob

[2019-11-29 01:07] #273 closed, assigned to nobody

[2019-11-29 10:20] wiwimaster commented on #482
Thanks, sure :-)

I believe that it would help already to explain how changes on blocks should happen, and what consequences an addition, change, removal would have on both future and past entries. This is mainly what you described and I recommend to put this on a support page.

On the migration from single fields to repeater fields, I am not sure how big of an issue this is. I'm an early user of

[2019-11-30 19:04] kienstra commented on #482
Thanks, that's a great suggestion. I don't think there's any documentation of that.

[2019-11-30 19:11] kienstra commented on #482
Thanks a lot for being an early user. It means a lot that you trust us with your development, and that you're helping with suggestions.

[2019-12-02 02:56] kienstra commented on #485
# Block Lab Compared To Implementing Your Own Dynamic Blocks

### What's the PHP performance cost of using Block Lab for 1 block on the front-end (not the block editor), compared to implementing your own dynamic block?

About 87 milliseconds. For reference, this is slightly less than the cost for [Gutenberg](https://github.com/wordPress/gutenberg/) or [Yoast](https://github.com/Yoast/wordpress-seo

[2019-12-02 03:07] kienstra commented on #485
# Block Lab Compared To Implementing Your Own Dynamic Block

### What's the PHP performance cost of using Block Lab for 1 block, compared to implementing your own dynamic block?

In the test below, there was an average cost of about **87 milliseconds** to use Block Lab. For reference, this is slightly less than the cost of [Gutenberg](https://github.com/wordPress/gutenberg/) or [Yoast](https://git

[2019-12-02 03:10] lukecarbis commented on #485
It would be interesting to run the same comparison, but with 10 instances of the block in the content.

It would also be interesting to run the same comparison, but without any blocks in the content (just the Block Lab plugin overhead).

[2019-12-02 03:11] kienstra commented on #485
Great idea! I'll work on a script for that.

[2019-12-02 03:25] kienstra commented on #485
**Scalability**

I'll also test how well Block Lab scales.

The main [WP_Query usage](https://github.com/getblocklab/block-lab/blob/009e1a48952d8ac3b82cc224095306723b30cdf5/php/blocks/class-loader.php#L553) is for the blocks added via the UI (stored in a custom post type). But this has a `posts_per_page` value of `100` to minimize scaling issues.

<img width="1033" alt="blocks-via-ui" src="https:/

[2019-12-02 05:05] kienstra commented on #485
# Performance of Block Lab When There's No Block

## What's the PHP performance cost of Block Lab on the front-end of a post that doesn't have a Block Lab block?

In the test below, the average cost of Block Lab was 83.4 milliseconds, very similar to the [test above with 1 block](https://github.com/getblocklab/block-lab/issues/485#issuecomment-560208610).

Here's a Blackfire profile of this:
https

[2019-12-02 20:10] kienstra commented on #485
The [test above](https://github.com/getblocklab/block-lab/issues/485#issuecomment-560232149) might show some chances for improvement.

For example maybe [Block_Post::register_controls()](https://github.com/getblocklab/block-lab/blob/6f07bc00d8cfe0d3e79c2008f7e6a437818a6ca9/php/post-types/class-block-post.php#L95) could only run on the front-end when [Loader::render_block_template()](https://github

[2019-12-04 02:02] webstationhq opened #490 "No warning on saving new block if mismatched types"
I recently used the free version of block lab and found a bug/possible enhancement (you decide - I can write patch if needed).

To reproduce:

1. Add a new block (name it whatever)
2. Add a new field. Make the field type "email"
3. On the default value, make it "foo"
4. Close the field using the "Close Field" button
5. OPTIONAL: Add other fields. I added 12 before I tried to publish.
6. Try to pub

[2019-12-04 15:01] kienstra commented on #490
Hi @webstationhq,
Thanks a lot for bringing this up, and for your great steps to reproduce. I've also seen this.

I'll look at this in more detail, you're right that it's strange that there's no visible warning, even though it doesn't work.

[2019-12-10 19:01] lonix1 opened #491 "[Question] Dependencies"
Does a custom block created with this plugin depend upon the plugin?

So does the plugin need to be installed in order for the custom block to be rendered correctly?

[2019-12-10 19:19] kienstra commented on #491
Hi @lonix1,
Yes, a block created with Block Lab depends on the plugin, and the plugin needs to be installed.

It wouldn't be too hard to reimplement the front-end of the block as a [dynamic block](https://developer.wordpress.org/block-editor/tutorials/block-tutorial/creating-dynamic-blocks/), and deactivate this plugin. But reimplementing the block editor JavaScript would probably be harder.

For

[2019-12-10 19:55] #491 closed, assigned to nobody

[2019-12-10 19:55] lonix1 commented on #491
Thanks

[2019-12-10 20:04] kienstra commented on #491
Sure! Thanks for using Block Lab.

[2019-12-17 13:26] marsjaninzmarsa commented on #428
Umm, where is the issue? 🙃
WPML is in own roots about translating post content, Gutenberg blocks utilizes post content... what do you mean by "translating block"? You want to translate titles and placeholders...?

[2019-12-17 13:50] marsjaninzmarsa commented on #400
Late on the party, but besides ACF they're plugins like @CMB2 if you're looking for nice API for inspiration/reference. 😎

[2019-12-17 17:55] kienstra commented on #400
Hi @marsjaninzmarsa,
Thanks for checking this out 😄

Block Lab now has a PHP API for registering blocks: https://github.com/getblocklab/block-lab/pull/434#issue-320112300

[2019-12-18 18:19] kienstra commented on #156
Another user just requested this for a YouTube URL.

[2019-12-19 20:26] kienstra opened #493 "Consider using bot to automatically open PRs to update dependencies"
It'd be great to automate updating the versions in `package.json` and `composer.json`.

The AMP plugin has been using the free [renovate bot](https://github.com/marketplace/renovate), which automatically [opens PRs](https://github.com/ampproject/amp-wp/pull/3993) to update `composer.json` and `package.json` versions, and their corresponding lock files.

Though I don't think it's owned by Google, i

[2019-12-19 20:30] kienstra commented on #493
Hi @lukecarbis,
Good to see you yesterday.

What do you think about this? It should make it much easier to keep the dependencies up to date.

Thanks, Luke!

[2019-12-20 22:20] kienstra commented on #493
Also, plan on filtering emails from WhiteSource sales, I've gotten a few emails asking for a demo meeting to see their other products, since using `renovate` on one of my personal repos.

[2019-12-22 23:25] lukecarbis commented on #493
I'd suggest considering [`dependabot`](https://github.com/marketplace/dependabot-preview) (used by Mozilla and Shopify).

Dependabot is owned and maintained by GitHub.

[2019-12-23 19:30] kienstra commented on #493
Ah, good idea. I'll look at that.

[2020-01-06 04:24] kienstra commented on #436
Another user just reported this in Slack.

We might look at forking [ServerSideRender](https://github.com/WordPress/gutenberg/blob/d38a123cfc6494eabf66805094946e39b04a5abe/packages/server-side-render/src/server-side-render.js), and registering a POST endpoint for it, as suggested in https://github.com/WordPress/gutenberg/issues/16396#issuecomment-508709339

[2020-01-12 17:17] kienstra opened #497 "Maybe consider alternative to deprecated DotTip"
The DotTip for additional CSS classes, added in https://github.com/getblocklab/block-lab/pull/304, was recently [deprecated in Gutenberg](https://github.com/WordPress/gutenberg/blob/cd76be6678a29973fae48f0051f8f696391a86a1/packages/nux/CHANGELOG.md#310-unreleased).

For now, I removed it in https://github.com/getblocklab/block-lab/pull/492/commits/440f50abd405e010193cec4258904fd5d686cd48. We got a

[2020-01-12 17:46] kienstra commented on #497
It looks like the Guide component can detect if all DotTips have been dismissed, like by clicking the 'disable tips' x from [Luke's screenshot](https://github.com/getblocklab/block-lab/pull/304#issue-279698116). But it can't detect if this specific tip was dismissed.

[2020-01-13 19:35] #266 closed, assigned to lukecarbis, kienstra

[2020-01-16 10:00] nguyendinhkhanh91 opened #501 "How can i create a group block on block-lab"
I want to create group block by using block-lab ( same as Gutenberg group block, but i want to custom css, html tag by myself). How can i do that. If current version can do that, please tell me how, if not please add this feature, i think it should be have.

[2020-01-16 16:49] kienstra commented on #501
Hi @nguyendinhkhanh91,
Thanks for bringing that up.

Have you tried creating a Core Group block and adding Block Lab blocks to it?

Block Lab doesn't have a specific 'Group' field, though.

[2020-01-16 17:03] kienstra commented on #501
https://github.com/getblocklab/block-lab/issues/474 may be related to this.

[2020-01-16 17:06] nguyendinhkhanh91 commented on #501
@kienstra i haven’t time to research core code of this plugin. Currently i have to use group block of gutenberg, and use default class name of it to customize css

[2020-01-16 17:18] nguyendinhkhanh91 commented on #501
@kienstra thank for your mention. I read that issue, but in my case it’s more difficult. I want to create a custom group block, and  Add multi blocks in this (example: multi gutenberg block in this)

[2020-01-16 17:25] kienstra commented on #501
OK, that sounds good. Feel free to download this plugin and see if it helps.

If a Group field would help, feel free to comment on #474, or open a separate issue if you're thinking of something different.

[2020-01-16 17:30] nguyendinhkhanh91 commented on #501
@kienstra actually i want to create a custom group block, which i can add others block in, on gutenberg editor

[2020-01-16 17:51] kienstra commented on #501
OK, Block Lab doesn't have a field for that, at least yet.

[2020-01-16 17:52] kienstra commented on #501
So this Group block could add any block to it, from Core, Block Lab, or otherwise?

[2020-01-18 22:21] c-abird opened #504 "Error loading block: Invalid parameter(s): context in Wordpress 5.3.2"
The above error is displayed in the Gutenberg editor for any block-lab block that is not selected. The block shows fine in the frontend. The error occurs for all blocks, including blocks without any fields. According to #244, the plugin was installed via the Wordpress backend.

[2020-01-19 00:19] lukecarbis commented on #504
@c-abird Could you please attach a screenshot of your console output?

[2020-01-19 06:33] kienstra commented on #501
Closing now, but feel free to respond here or add to #474

[2020-01-19 06:33] #501 closed, assigned to nobody

[2020-01-19 09:12] c-abird commented on #504
@lukecarbis thanks for the quick reply. What do you mean by "console output" (Sorry, I'm fairly new to Wordpress). I'm attaching a screenshot of the editor showing the error. There are no errors in the server logs.
![wp_error](https://user-images.githubusercontent.com/345979/72678216-349d6800-3aa4-11ea-8272-317d8ab76144.png)

[2020-01-19 16:27] kienstra commented on #504
Hi @c-abird,
Depending on the browser, it might be something like View > Developer > JavaScript Console. It should look something like this:

<img width="1058" alt="console-js" src="https://user-images.githubusercontent.com/4063887/72684456-31a37700-3aa6-11ea-9153-6635fdd03897.png">

Also, is there any other block-related plugin active, and is the Gutenberg plugin active?

[2020-01-19 16:42] c-abird commented on #504
Ah, I see, thanks for the hint. There is a JSON request to the URL
```http://example.com/wp-json/wp/v2/block-renderer/block-lab/teaser?context=edit&post_id=2&_locale=user```
("teaser" is the name of the custom block. Note, that I aliased example.com with my local host). This request leads to a 400 response with the following content:
```{"code":"rest_invalid_param","message":"Invalid parameter(s):

[2020-01-19 18:07] c-abird commented on #504
Hi @kienstra. Thanks for your input, see message above. Concerning additional plugins, I deactivated all block related plugins (namely "Ultimate Addons for Gutenberg"), but still getting the same error.

[2020-01-19 19:06] kienstra commented on #504
Hi @c-abird,
Thanks a lot for the console output. That helps.

Sorry to keep asking for more, but would you be able to paste here the PHP template code for the block, and a screenshot of the block configuration?

For example, here's a block configuration:

<img width="1329" alt="example-block-configuration" src="https://user-images.githubusercontent.com/4063887/72686642-85b95600-3abc-11ea-8262-649

[2020-01-19 19:17] c-abird commented on #504
Hi @kienstra. Thanks for your help!
I've tried multiple templates and configurations (including a block without any variables + static template). I attached a very simple block. As previously mentioned, the block itself is working perfectly in the frontend. Just the rendering in the editor seems to be broken if the block is not highlighted for editing.

![wp-error1](https://user-images.githubuserc

[2020-01-19 20:13] CarloMagneti opened #505 "Block with Classic Text Sub-Element in Repeater Element Isn't Able To Open With Chrome Browser"
## Bug summary

i've build an block with a repeater element and several Classic text elements in it, and it's working in firefox perfectly. In Chrome the problem is that the block in the backend closes directly when i click into it. When i change the Classic text element to Rich Text i can edit the Block in the Backend editor.

## Steps to reproduce

1. Build a new block
2. Add an repeater element

[2020-01-20 00:26] kienstra commented on #504
**Update: please ignore this**

Thanks, @c-abird!

The configuration and template look good, they don't look to be causing the issue.

Is the Gutenberg plugin active, by chance? If not, could you try activating it the latest released version?

There was a fix for an issue similar to this that was merge last month:

https://github.com/Codeinwp/gutenberg-css/pull/12

[2020-01-20 00:28] kienstra commented on #504
Ah, sorry. The fix above was in a separate plugin, not Gutenberg.

It looks like the Gutenberg issue similar to this is still open: https://github.com/WordPress/gutenberg/issues/16850

[2020-01-20 00:31] kienstra commented on #504
After the following steps, does that same error still appear?

1. Deactivate all block-related plugins (with Gutenberg active if you'd like)
2. Create a new simple Block Lab configuration, like 'Foo Block'
3. Click 'New Post,' and add that 'Foo Block'
4. Edit that block
5. Does that error still appear?

This error might be from another plugin adding something to the block: https://github.com/WordP

[2020-01-20 00:49] kienstra commented on #504
If the steps above don't help, does this same issue occur with the Core 'Latest Comments' block? That also uses the `<ServerSideRender>` component that Block Lab uses.

[2020-01-20 01:10] kienstra commented on #505
**Thanks!**

Hi @CarloMagneti,
Thanks for your detailed report.

I can't yet reproduce this, but it does sound like a bug with something.

![repeater-si](https://user-images.githubusercontent.com/4063887/72691998-16a92500-3aef-11ea-9b11-59aec16ca6e5.gif)

Are there any errors or warnings in the JS console when this issue occurs?

[2020-01-20 06:59] c-abird commented on #504
Hi @kienstra. Thanks for the hints. Indeed, the "Latest Comments" block produces exactly the same error. So, I guess this means that there is a problem with my Wordpress installation, right?

[2020-01-20 07:19] kienstra commented on #504
Hi @c-abird,
Yeah, it's more likely to be a general problem with WordPress Core or Gutenberg, not Block Lab in particular.

Does this error appear for the 'Latest Comments' block if all plugins are deactivated, including Block Lab? If so, [opening an issue](https://github.com/WordPress/gutenberg/issues/new/choose) with Gutenberg is probably appropriate.

[2020-01-20 10:25] CarloMagneti commented on #505
Hi and thanks for your fast response.
My block editor backend looks like the screenshot. There are more than classic blocks, but if i'm changing the classic editor block to rich editor, than it works in Chrome. The error log shows some errors with the tinymce:

![Bildschirmfoto 2020-01-20 um 11 23 34](https://user-images.githubusercontent.com/8616094/72718991-4d2a8280-3b77-11ea-8a84-699d057bfbc7.p

[2020-01-20 10:36] CarloMagneti commented on #505
Ok it's a thing with the tinyMCE plugin settings. If i am deactivate the hybridmodus to set the classic block as standard than it works fine. Thanks for your work and your time and sorry for the hassle. But maybe another users make the same experiences, than you know the error :)

[2020-01-20 22:14] kienstra commented on #505
Thanks for noting here how you resolved this!

[2020-01-20 22:14] #505 closed, assigned to nobody

[2020-01-21 01:33] cameronjonesweb opened #506 "Implement block specific scripts similar to stylesheets"
## Feature description
As defined in #249, styles can be automatically included when the block is active on a page. I think it would be nice if block scripts could be included on the front end in a similar manner.

## Screenshot (optional)
![image](https://user-images.githubusercontent.com/12673074/72767918-7d3e5800-3c41-11ea-8c7d-ac1f95fdba0e.png)

## Use case
There are plenty of types of block t

[2020-01-21 02:00] kienstra commented on #506
Hi @cameronjonesweb,
Thanks a lot for bringing this up, and for the details. We'll think about this 😄

[2020-01-23 00:02] kienstra commented on #493
Thanks for suggesting [dependabot](https://github.com/marketplace/dependabot-preview). I'm testing it on one of my own repos, here's an example PR: https://github.com/kienstra/augmented-reality/pull/37

It's been working well so far, and no spam emails yet.

If it keeps going well in a few days, maybe I'll ask if I can activate it on Block Lab.

The permissions look similar to the `renovate` bot:

[2020-01-25 21:49] kienstra commented on #506
This could be a really useful idea, enqueuing JS for blocks.

My only concern might be performance. I should do another PHP [profiling test](https://github.com/getblocklab/block-lab/issues/485) to see the cost of this.

So far, it looks like the performance cost of BL enqueuing block stylesheets is high, compared to the overall performance cost of BL.

For example, the CPU time of [Block_Lab\Util:

[2020-01-25 21:53] kienstra commented on #506
Hi @cameronjonesweb,
Thanks a lot for suggesting this.

In the meantime, in case you didn't notice it, there's an action where you could enqueue scripts for a block:

https://github.com/getblocklab/block-lab/blob/32e71bbbfbd89802a06ba363976d76e0862119fe/php/blocks/class-loader.php#L404

Of course, that's not as useful as Block Lab doing the enqueuing automatically 😄

Have a great rest of the weeke

[2020-01-25 21:59] kienstra commented on #389
Hi @lukecarbis,
What do you think about adding the `BLOCK_LAB_LICENSE_KEY` constant that Austin suggested? I think that could strengthen the case for using BL on big sites.

[2020-01-25 22:19] kienstra commented on #493
@lukecarbis,
Hope you're doing great.

What do you think about activating [dependabot](https://github.com/marketplace/dependabot-preview) on Block Lab after https://github.com/getblocklab/block-lab/pull/502 is merged for the `1.5.3` release?

It's been working well on one of my plugins for the past 3 days. Here are [some PRs](https://github.com/kienstra/augmented-reality/pulls?q=is%3Apr+is%3Aclose

[2020-01-25 22:21] kienstra commented on #187
Applied in #426

[2020-01-25 22:21] #187 closed, assigned to nobody

[2020-01-25 22:38] kienstra commented on #179
**Good idea, but probably not practical now**

As Luke mentioned in https://github.com/getblocklab/block-lab/issues/179#issuecomment-468500730, there is a way to export block(s) to JSON, but that's not what this ticket is opened for.

Exporting PHP or JS code to be used independently of this plugin probably wouldn't be practical. It would probably mean forking much of the plugin.

Most of Block La

[2020-01-25 22:39] #179 closed, assigned to nobody

[2020-01-27 00:02] lukecarbis commented on #389
I think it's a great idea! (https://github.com/getblocklab/block-lab/issues/389#issuecomment-523198203)

[2020-01-27 00:03] lukecarbis commented on #493
Let's do it. :)

[2020-01-27 05:00] kienstra commented on #389
Thanks! Right, you already said you liked the idea 😄

[2020-01-27 05:00] kienstra commented on #493
Sounds good!

[2020-01-29 01:43] JulieKuehl opened #509 "QA: Yes, I do "Want to see how it's done""
## Feature description
The welcome block says "Want to see how it's done?" I do want to see how it's done. But I don't see how I can see that. Maybe a link to documentation or a video?

## Screenshot (optional)
<img width="886" alt="Screen Shot 2020-01-28 at 7 32 25 PM" src="https://user-images.githubusercontent.com/1095701/73320752-00dde300-4206-11ea-9271-cf07bb727628.png">

## Use case
For those

[2020-01-29 01:59] kienstra commented on #509
Hi @JulieKuehl,
Thanks for opening this. On what page is that notice appearing? I think it should appear above a block.

[2020-01-29 02:19] JulieKuehl opened #510 "QA: URL Field Validation"
## Feature description
It would be good to validate that the default for a URL field contains a URL.

## Screenshot (optional)
<img width="569" alt="Screen Shot 2020-01-28 at 8 10 04 PM" src="https://user-images.githubusercontent.com/1095701/73322467-7946a300-420a-11ea-877d-8dca5456fa8e.png">

## Use case
Human error

## Additional information

[2020-01-29 02:20] JulieKuehl commented on #510
Oh look! It already does that when you try to save the block. Never mind.

[2020-01-29 02:23] JulieKuehl commented on #509
Right after installation on the plugins screen
http://block-lab.local/wp-admin/plugins.php?plugin_status=all&paged=1&s

<img width="1079" alt="Screen Shot 2020-01-28 at 8 23 02 PM" src="https://user-images.githubusercontent.com/1095701/73323147-0e966700-420c-11ea-89ba-7c1fb6526904.png">

[2020-01-29 02:24] JulieKuehl commented on #509
Hmmm, and now it shows a button. Not sure why it didn't the first time. Let me try to re-create.

[2020-01-29 02:28] kienstra commented on #510
All good, thanks for the great report and screenshot.

[2020-01-29 02:29] kienstra commented on #509
OK, thanks.

[2020-01-29 02:30] JulieKuehl commented on #509
I was able to reproduce. It did not display the button initially after the plugin was installed and activated. No console errors showing.

<img width="1080" alt="Screen Shot 2020-01-28 at 8 28 30 PM" src="https://user-images.githubusercontent.com/1095701/73323360-d5aac200-420c-11ea-931f-3b0289807901.png">

When I deactivated and reactivated the plugin, the button appeared again.

[2020-01-29 02:33] JulieKuehl commented on #510
Actually, there's an argument for UX that that error should appear before saving the block. It was kind of hidden as to why the block wouldn't save. I had to open all the fields to look for the error. That would hold for all the fields that are validated.

[2020-01-29 02:51] kienstra commented on #509
OK, thanks. I'll look at this.

Feel free to open these [as bugs](https://github.com/getblocklab/block-lab/issues/new?template=bug_report.md) if it looks like something is wrong.

[2020-01-29 03:10] JulieKuehl commented on #509
Didn't think it was a true bug when I first opened the issue, but noted for future reference!

[2020-01-29 03:52] kienstra commented on #509
All good, you're right that it didn't look like a bug.

[2020-01-29 03:52] kienstra commented on #509
Your report was very descriptive.

[2020-01-29 10:18] DavidMillington-CD opened #511 "Error loading block: The response is not a valid JSON response."
## Bug summary

If you enter too much text into a Rich Text field then when you click off the block you will see a grey block instead of the content with the error message:

Error loading block: The response is not a valid JSON response.
https://imgur.com/KY7YTpn

That is a pretty generic Gutenberg error which a quick google search shows los of people have for what appears to be a wide variety of

[2020-01-29 14:34] DavidMillington-CD commented on #511
Just found another area with the problem.  This time it's the client mis-using a repeater block.  We didn't set an upper limit on it so they have added 25 items.  The repeated items are not complex, essentially it's 2 titles and 2 Rich Text boxes for a 2 column layout.  Each only has one or two fairly short paragraphs.  The problem is the same as in my first post, grey block saying there was an "E

[2020-01-30 09:43] lukecarbis commented on #436
Reopening since this is an active bug that isn't resolved.

[2020-01-30 09:43] lukecarbis commented on #511
Thanks for reporting this @DavidMillington-CD . We're aware of the issue and are tracking it over here: #436.

[2020-01-30 09:43] #511 closed, assigned to nobody

[2020-01-30 16:18] kienstra commented on #436
Yeah, this keeps coming up.

As mentioned in https://github.com/WordPress/gutenberg/issues/16396#issuecomment-508709339, one solution might be making a Core patch and a Gutenberg PR. But I don't think those are likely to be merged, as WordPress [doesn't recommend](https://developer.wordpress.org/block-editor/packages/packages-server-side-render/) `ServerSideRender`.

We could fork [ServerSideRende

[2020-01-31 09:10] fredrik-luckan commented on #504
Hello I have the same problems , screenshot of console below. No Gutenberg plugin installed.
![Screenshot 2020-01-31 at 11 08 22](https://user-images.githubusercontent.com/60471253/73526511-16c3f180-441a-11ea-8ebb-2965ba2ee9b2.png)

[2020-01-31 17:40] kienstra commented on #504
Hi @fredrik-luckan,
Thanks for bringing that up. Could you please open a new [bug issue](https://github.com/getblocklab/block-lab/issues/new?template=bug_report.md) so we can look at the specific issue you have?

Maybe it is the same as this issue, but more details would really help.

[2020-01-31 20:24] gaslampmedia opened #512 "Legacy images not showing up anymore"
On the latest v1.5.2 legacy image (urls instead of ids) are not showing up anymore.

I've tried hooking into a bunch of actions and filters in the plugin, but I can't find a place to temporarily fix it.

Here's an example of post_content that has an image that doesn't show up. I've verified that it exists in the media library too.

[code]

When I hook into `block_lab_data` or any other filters, th

[2020-01-31 20:30] gaslampmedia commented on #512
Forgot to mention, I tried resaving the block that has the image field, but it did not work.
I've reverted back to `v1.1.3`, resaved the field, and the images are back.

I'd really like to get this updated though.

[2020-02-03 11:14] fredrik-luckan opened #513 "Error loading block: parameter(s): attributes"
## Bug summary

In the Gutenberg backend its shown like this:
![Screenshot 2020-02-03 at 13 02 23](https://user-images.githubusercontent.com/60471253/73648160-999cb480-4685-11ea-9936-4e8758489241.png)
But in editing it works fine, and shows up on frontend.

## Steps to reproduce

![Screenshot 2020-02-03 at 13 10 18](https://user-images.githubusercontent.com/60471253/73648582-8dfdbd80-4686-11ea-96e

[2020-02-03 11:17] fredrik-luckan commented on #504
ok I posted a bug

[2020-02-03 16:40] kienstra commented on #513
Hi @fredrik-luckan,
Thanks for bringing this up.

Are there any other block-related plugins active?

[2020-02-03 17:47] kienstra commented on #428
A user mentioned that WPML can't translate post content from Block Lab blocks:

https://wordpress.org/support/topic/translation-1091/

This might be a good one to investigate/work on after the React refactoring.

[2020-02-07 19:58] kienstra commented on #179
Though this isn't the intent of this issue, it would be possible to add a feature to export the block via the [PHP function](https://getblocklab.com/building-custom-blocks-programmatically/) `block_lab_add_block()`.

So it would export a PHP file with something like:

[code]

It would still require using Block Lab. But I think the PHP function is a much better way of reusing blocks across sites.

[2020-02-13 14:18] Foine commented on #436
I don't know if it helps, but I do not have that issue with the 1.4.1 version of block lab.

So I stick with that version beacause all of my blocks aren't displaying with version 1.5 and above.

[2020-02-13 16:23] kienstra commented on #436
Hi @Foine,
Thanks for bringing that up.

Hm, it's strange that the issue didn't appear in `1.4.1`. Do you remember what the console error was when that error appeared?

[2020-02-17 22:06] kienstra commented on #512
Hi @gaslampmedia,
Sorry for not replying sooner.

Assuming that this is still a problem, could you please try the following on a staging server?

1. With the Block Lab `v1.1.3` version that you mentioned, go to the 'Edit Block' UI for the block with the image, and click 'Update':

![block-im](https://user-images.githubusercontent.com/4063887/74688878-9d105f80-519e-11ea-8ea1-721a6c67f825.png)

2. U

[2020-02-17 22:09] kienstra commented on #513
Hi @fredrik-luckan,
Thanks for your great report here.

Are there any other block-related plugins? That error is unfortunately hard to debug.

It looks like your PHP template is fine.

[2020-02-17 22:11] kienstra commented on #476
Hi @gfazioli,
Hope you're doing great.

Is there still an issue when adding that filter? I hope it's working alright, but I'd like to fix it if there's still an issue.

[2020-03-05 21:52] shadeydave opened #516 "block_field() glitch"
## Bug summary

#kienstra
I'm running into an issue where the "block_field('fieldname', false);" is still rendering the block content. I need it to omit some code if the block is empty. Which it does when I use it in an "if" statement. But when the field contains content, it's rendering the field content where I'm doing the value check. So, I'm getting extra floating field values on the page. Is t

[2020-03-05 21:59] kienstra commented on #516
Hi @shadeydave!

Thanks for opening this. Your template looks fine, I don't think the problem is on your end.

What are the types of these `cta`, `figure`, and `cta-text` fields? Are they all text fields?

![fi-text](https://user-images.githubusercontent.com/4063887/76029505-3ad39080-5efa-11ea-9224-0e95f8dc6c61.png)

[2020-03-05 22:00] kienstra commented on #516
Also, what version of Block Lab is active?

[2020-03-05 22:04] shadeydave commented on #516
Block Lab version: 1.5.3
I've edited the issue above to include the block configuration info.
![image](https://user-images.githubusercontent.com/11837198/76029914-5becaf00-5f03-11ea-86e9-f36ea37e60eb.png)

[2020-03-05 22:05] kienstra commented on #516
OK, thanks. I'll work on reproducing this.

[2020-03-05 22:44] kienstra commented on #516
Hi @shadeydave ,
Thanks for all of your details.

In the template, could you please try replacing all of the `block_field()` calls in the `echo` statements with `block_value()`, with the same arguments?

This doesn't doesn't look to be related to the conditional, the rest of the code looks fine.

Because these are already in an `echo` statement, simply getting the values with `block_value()` shoul

[2020-03-06 15:09] shadeydave commented on #516
@kienstra  It worked great for the "URL" field. But the "image" field just returns a value of "99" when I use "Block_value()".

I found a solution though. If you take the block_field('figure') out of the echo statement and sit it alone on its own line, it works fine.
<code>
`if ( ! empty( $figure ) ) {
    echo '<figure><img src="';
    block_field('figure');
    echo '" style="width:100%;"/></fig

[2020-03-06 16:23] kienstra commented on #516
Nice, thanks for trying that.

Yeah, I forgot that the image field has different output for `block_value()` and `block_field()`.

[2020-03-06 17:55] #516 closed, assigned to nobody

[2020-03-08 20:16] kienstra opened #519 "Ensure compatibility with WordPress Core 5.4"
## Feature description
Test all of the controls to ensure the look good and work the same in WP 5.4

## Additional information
1. Full regression testing for WP 5.4
2. Bump the 'Tested up to' version to 5.4

[2020-03-08 20:17] kienstra commented on #513
Closing now for lack of activity, but feel free to reopen with more information.

[2020-03-08 20:17] #513 closed, assigned to nobody

[2020-03-08 20:19] kienstra commented on #512
Closing now for lack of activity, but feel free to reply with more information. Sorry for my [late reply](https://github.com/getblocklab/block-lab/issues/512#issuecomment-587173481) earlier.

[2020-03-08 20:19] #512 closed, assigned to nobody

[2020-03-08 20:20] kienstra commented on #504
Closing in favor of https://github.com/WordPress/gutenberg/issues/16850.

[2020-03-08 20:20] #504 closed, assigned to nobody

[2020-03-10 15:09] insideers opened #521 "Adding HTML with a Script in textarea"
## Bug summary

When I add some HTML that contains a tag script into a textarea I get this error:
error loading block: the response is not a valid json response

## Steps to reproduce

Create a block with a text area field. Now create a post and add the block in the Gutenber editor. In the text area field add the code below:
![Captura de pantalla 2020-03-10 a las 16 01 52](https://user-images.gith

[2020-03-10 16:11] kienstra commented on #521
Hi @insideers,
Thanks a lot for opening this.

Would you be able to copy the PHP template for this block? It might be in something like `block-code-text-area.php`.

I couldn't reproduce this, using the text in the Textarea field.

Thanks!

[2020-03-10 17:10] insideers commented on #521
[code]

[2020-03-11 01:01] kienstra commented on #521
Thanks!

[2020-03-11 16:08] ccasazza22 opened #522 "Data not being pulled in for blocks"
## Bug summary

I am trying to create a CTA button, following the instructions on the website exactly. But it doesn’t seem to be pulling in the values for the url and button text field

## Steps to reproduce

1. Create a block with fields, title, text, button-text and button-url
2. Create the PHP
3. Run in Wordpress

## Expected behavior

Should show a title, the text and then a button with a clic

[2020-03-11 16:25] kienstra commented on #521
**Other block-related plugins?**

Hi @insideers,
Thanks for your patience, and sorry to keep asking questions.

Are there any other block-related plugins active? I couldn't reproduce that error message 'Error loading block...'

Soon, I'll ask my colleague Luke to look at this.

## Steps to reproduce

1. `git checkout b8011ccfa4782710ba814489af4ebebc6713598f # the last commit in BL 5.3.2`
2. `npm i

[2020-03-11 16:34] kienstra commented on #522
Hi @valuegamers,
Thanks for bringing this up, and for your details.

1. Are there any other block-related plugins active?

2. Could you please share the Edit Block screen of the block, like:

![eidt-block-s](https://user-images.githubusercontent.com/4063887/76440539-9b901c80-6383-11ea-8c4e-a30b2eae2748.png)

3. Could you please paste the PHP from the block template? For example:

[code]

Thanks, a

[2020-03-11 16:40] ccasazza22 commented on #522
1. No other related block plugins. But attached screenshot in case
something sticks out

2. Attached screenshot

3. Here is the code snippet

<div>

On Wed, Mar 11, 2020 at 12:35 PM Ryan Kienstra <notifications@github.com>
wrote:

[2020-03-11 17:03] kienstra commented on #522
Hi @valuegamers,
Thanks for your fast reply.

It looks like the attached screenshots might not have made it into this issue. Would you be able to add them again?

Thanks!

[2020-03-11 18:06] ccasazza22 commented on #522
Hey Ryan,

Here are the screenshots!
<img width="1440" alt="Screen Shot 2020-03-11 at 12 37 06 PM" src="https://user-images.githubusercontent.com/38638470/76448855-68f51c80-63a1-11ea-8aa4-4fed03b1bdc5.png">
![Uploading Screen Shot 2020-03-11 at 12.38.36 PM.png…]()

[2020-03-11 23:52] kienstra commented on #522
Thanks for the screenshots, and your great details. I'll work on reproducing this.

[2020-03-12 20:26] ccasazza22 commented on #522
Hey @kienstra wanted to see if there was any headway with this issue?

Thanks!

Craig

[2020-03-13 02:17] kienstra commented on #522
Sorry for the delay. I'm looking at this now.

[2020-03-13 02:29] kienstra commented on #522
Hi @valuegamers,
Could you please try this as the template:

[code]

It looks like the original template has backticks ` or some other character instead of single quotes '. Though maybe that's from emailing it.

[code]

[2020-03-17 00:58] kienstra commented on #522
Closing this, as the suggestion above fixed it in my local. But feel free to comment if it didn't.

[2020-03-17 00:58] #522 closed, assigned to nobody

[2020-03-17 01:02] ccasazza22 commented on #522
Sorry! Yes! This worked and i think i felt like too much of an idiot to
respond back. Thank you again!!

On Mon, Mar 16, 2020 at 8:58 PM Ryan Kienstra <notifications@github.com>
wrote:

[2020-03-17 01:14] kienstra commented on #521
Hi @lukecarbis,
Good to see you. Could you please test this, with the [steps to reproduce above](https://github.com/getblocklab/block-lab/issues/521#issuecomment-597732783)? Something similar was also reported on [wp.org](https://wordpress.org/support/topic/json-error-in-ui-when-using-certain-words/#post-12538966).

Thanks!

[2020-03-17 01:45] kienstra commented on #522
No problem at all, glad it worked 😄

I really appreciate you using Block Lab.

[2020-03-26 03:56] kienstra commented on #519
This looks good. Other than a minor issue below that probably isn't a regression, I couldn't find a bug.

Steps I took:

1. `wp core update --version=5.4-RC3`
2. `wp plugin deactivate gutenberg`
3. Added a BL block with all fields
4. Ensured a default field displays as expected
5. Ensured entered fields save and display in the `<ServerSideRender>` and front-end
6. Added a BL block with only a repe

[2020-03-26 03:59] kienstra commented on #519
When there's a 'Color' field in the Inspector, the only way to close the color picker is to click in a small space:

![click-here](https://user-images.githubusercontent.com/4063887/77608711-a26e7180-6ee3-11ea-92d0-ff5649228966.png)

Though that issue also existed in WP Core 5.3.2, and I remember seeing it a few releases ago.

[2020-03-30 01:45] #519 closed, assigned to nobody

[2020-04-02 16:17] azanoni commented on #483
What happened with this "Classic Text field" ? I only see "Text" and "Textarea" I want to a field that support rich text

I'm using Version 1.5.4

![image](https://user-images.githubusercontent.com/21685626/78272958-8e7acf00-74e4-11ea-915d-d11188c1222d.png)

[2020-04-03 00:43] lukecarbis commented on #483
Hi @azanoni – the Classic Text and Rich Text controls are available as part of Block Lab Pro.

https://getblocklab.com/block-lab-pro/

[2020-04-03 00:44] lukecarbis commented on #483
Whoops. I think that reply answers your question, but the original feature request isn’t yet implemented, so reopening.

[2020-04-04 04:45] kienstra commented on #477
Hi @rohan2388,
Sorry it's been so long. But would you be able to test this fix for the issue?

https://github.com/getblocklab/block-lab/pull/524#issuecomment-608972897

Thanks, and have a great weekend.

[2020-04-04 04:51] kienstra commented on #511
Hi @DavidMillington-CD,
Sorry it's taken so long, and hope you're doing well.

If you're still interested, could you please test a fix for the issue?

https://github.com/getblocklab/block-lab/pull/524#issuecomment-608972897

Thanks, and have a great weekend.

[2020-04-04 04:52] kienstra commented on #436
Hi @BenHarris,

Sorry this has taken so long, and hope you're doing well.

If you're still interested, could you please test a fix for the issue?

https://github.com/getblocklab/block-lab/pull/524#issuecomment-608972897

Thanks, and have a great weekend.

[2020-04-06 09:34] BenHarris commented on #436
Hi @kienstra,

No problem at all!

Have just tested and it worked as expected 👍 great work!

[2020-04-06 17:05] kienstra commented on #436
Thanks, @BenHarris! That helps a lot having you test it, glad that it works.

It'll probably be in our next release.

[2020-04-13 20:52] lemon3 opened #526 "block css not loading (wrong path) in roots bedrock environment (fix included)"
## Feature description
can you please update the function `get_url_from_path()` in `class-util.php`

## Use case
roots bedrock environment (or when the `WP_HOME !== WP_SITEURL`)

## Additional information
here is my „new“ `get_url_from_path()` function in `class-util.php`

[code]

[2020-04-13 20:58] kienstra commented on #526
Hi @lemon3,
Thanks for bringing this up, I'll look at this.

[2020-04-20 10:09] DavidMillington-CD opened #537 "Can't reset Post field"
## Bug summary

If you have a Post field in a block and have previously selected a post and saved then later on if you delete the post title out of the field and resave then on the front end it shows the latest post.  The expected behavior is that it does not.

## Steps to reproduce

**Test 1**
Add Post field to a block, select a Post Type you know has several options and use that block on a page.

[2020-04-22 09:31] zaewin opened #539 "Search in post type field broken/not accurate"
## Bug summary

When you have added the post type file in a block and want to search for a post you probably won't get the result you want if you have a lot of posts with a lot of content.

## Steps to reproduce

1. Have a lot of posts with a lot of content
2. Search for a post in the post field.
3. If the keyword exists in multiple posts you probably won't get the right result.

## Expected behav

[2020-04-23 21:30] kienstra commented on #539
Hi @zaewin,
Good point, I also see this issue.

Something similar has been raised in https://github.com/getblocklab/block-lab/issues/430.

[2020-04-24 08:22] zaewin commented on #539
Ah, great! I didn't realize there was another thread. But yeah, that issue describes exactly what I'm experiencing here. As long as this issue exists, the only way to link to posts using this field is to do it it in the DB which isn't optimal.

[2020-04-24 15:41] kienstra commented on #539
Yeah, it's hard to tell that issue is similar, but under the hood it's the same problem.

[2020-05-04 17:47] MrZyr0 opened #555 "Programmatic declaration"
## Feature description
The possibility to bypass bloc administration from the BO of WP by masking it and declare blocks in functions.php of my theme

## Image

## Use case

Usefull for customer website. This way the created blocks will be declared with the theme, no matter where it is used and users who don't know the code won't be able to modify them. This avoids a lot of problems.

## Additional

[2020-05-04 17:56] MrZyr0 opened #556 "Multiple blocks creation"
## Feature description
It seams that we can't natively use multiples blocks 🤔

## Image
When we follow the doc  (as I understand) :
![image](https://user-images.githubusercontent.com/32927775/80996980-feaca580-8e40-11ea-8f12-32addc16d601.png)

But the path shown when we create the block lets you understand the opposite:
![image](https://user-images.githubusercontent.com/32927775/80997123-2d2a8080-

[2020-05-04 21:31] lukecarbis commented on #556
@MrZyr0 The setup you're trying for does work, but it needs the following file structure in your theme:
[code]

Hope that helps!

[2020-05-04 21:31] #556 closed, assigned to nobody

[2020-05-04 21:33] lukecarbis commented on #555
Hi @MrZyr0 – this feature already exists. You can read more about our PHP API here:
- https://getblocklab.com/docs/functions/block-lab-add-field/
- https://getblocklab.com/docs/functions/block_lab_add_block/

[2020-05-04 21:33] #555 closed, assigned to nobody

[2020-05-08 18:44] eriktdesign commented on #539
I'm also experiencing this issue, and it's causing problems with client sites.

In our case, it's being used to select Woocommerce products to display in a block. Only the five most recent posts are displayed in the dropdown, no matter what I type into the search box.

I can enter the code editor view in the Block Editor and manually update the JSON to select the products -- doing so allows them t

[2020-05-08 21:06] kienstra commented on #539
Hi @eriktdesign,
Thanks for letting me know.

We'll probably fix this at some point, and a PR will probably reference #430.

[2020-05-12 21:22] antti-tolvanen opened #563 "Export/import feature"
## Feature description
A possibility to export and import all blocks you the user has created.

## Image
-- No image --

## Use case
This feature will be useful for WordPress website developers for using designed custom Gutenberg blocks in several projects.

## Additional information

[2020-05-12 22:08] kienstra commented on #563
Hi @antti-tolvanen,
Thanks for bringing this up.

This is possible with a Pro license: https://getblocklab.com/docs/get-started/export-custom-block-lab-blocks-to-include-in-your-theme/

Though unfortunately, we're not selling new pro licenses now.

[2020-05-12 22:08] #563 closed, assigned to nobody

[2020-05-13 13:49] igiornotigi commented on #428
Hi, I have the same problem with WPML. Some news?

[2020-05-13 13:56] kienstra commented on #428
Hi @igiornotigi,
Thanks for bringing that up. There hasn't been any change since this issue was opened.

[2020-05-13 13:56] kienstra commented on #428
Hi @igiornotigi,
Thanks for bringing that up. There hasn't been any change since this issue was opened.

[2020-05-19 03:15] kienstra commented on #539
Closing, as this is a duplicate of #430. It's still a valid issue, though.

[2020-05-19 03:15] #539 closed, assigned to nobody

[2020-05-27 10:06] 3s777 opened #586 "Conflict with Popup Maker"
Hi
I have next error
error loading block invalid parameter(s) attributes
in editor. This error showing when active plugin Popup Maker https://ru.wordpress.org/plugins/popup-maker/
When i disable plugin Popup Maker, preview work fine. Block Lab conflict width Popup Maker
Wordpres, and plugins in latest version
Sorry for my english

[2020-05-27 10:07] 3s777 commented on #586
Error screenshot https://monosnap.com/file/fvncR4PZT1uBAYVUpxtbr9evbaOaLG

[2020-06-19 07:54] jstrobel opened #622 "Import/Export Function"
## Feature description
It would be nice to have a Import/Export-Feature to use the blocks in new installations in an easy way again.

[2020-06-20 02:17] kienstra commented on #622
Hi @jstrobel,
Thanks for opening this. Would that be different from the existing export/import?

Export: https://getblocklab.com/docs/get-started/export-custom-block-lab-blocks-to-include-in-your-theme/

Import: https://github.com/getblocklab/block-lab/pull/449#issuecomment-557861481

[2020-06-22 06:55] jstrobel commented on #622
Hi @kienstra thanks for your reply. Yes that is what i searched for.

The page you send isn't linked in the navigation is that correct?
And where do i find information about the pro version? Cannot find any info on the page - thanks.

[2020-06-22 14:59] kienstra commented on #622
Hi @jstrobel,
Yeah, it's not linked in the main navigation, only under Docs > Getting Started:

<img width="959" alt="docs-getting-started" src="https://user-images.githubusercontent.com/4063887/85302510-d9b2d700-b46e-11ea-91cd-421b4ea707f9.png">

Sorry, we're not selling the Pro version of Block Lab anymore. But we're working on a new plugin with all of the features of Block Lab that will have th

[2020-06-24 16:54] #622 closed, assigned to nobody

[2020-06-24 17:04] jstrobel commented on #622
Thanks a lot for the explanation. Will have a look at the future.

[2020-06-24 17:33] kienstra commented on #622
Sure, I can ping you here when the new plugin is ready if you'd like.

[2020-06-26 07:31] stefanoianna commented on #586
Hi, i have the same issue

[2020-06-27 15:47] robs23 opened #634 "My custom blocks not available in “Add block” menu (after update?)"
## Bug summary

My custom blocks not available from Gutenberg block menu at adding new post. It used to work but from not any more. I can see my blocks in "Block Lab" tab in the dashboard and in blocks folder inside my theme.

## Steps to reproduce

Go to "Posts" -> "New post" from WP dashboard.

## Expected behavior

You can choose your custom blocks created with Block lab from "Add block" Gutenb

[2020-06-29 03:32] lukecarbis commented on #634
@robs23 Could you post your block template code here please?

[2020-06-29 04:32] kienstra commented on #634
Thanks a lot for opening this!

Would you be able to update the WordPress Core version to the latest, `5.4.2`?

The version of `5.0.10` is pretty old. I'm not sure if that's causing this, though.

[2020-06-29 04:37] kienstra commented on #634
If that doesn't work, could you please post a screenshot of one of the Block Lab configurations?

Like:

![example-block-config](https://user-images.githubusercontent.com/4063887/85973416-4448a300-b998-11ea-9c93-3ca6975efedd.png)

This could help me reproduce this.

[2020-06-29 14:33] robs23 commented on #634
Thanks for all the pointers, updating WP to 5.4.2 did the trick. Sorry, it's embarrassing really, I had auto WP updates off for some reason.. I wouldn't have thought it could cause that, though.
I can see, however, that using XO Featured Image Tools plugin made my "foto" image field in my custom block empty.
In visual editor I see:
![image](https://user-images.githubusercontent.com/4737758/8601819

[2020-06-29 16:21] kienstra commented on #634
Hi @robs23,
Thanks for trying the later WordPress version. No problem, it's not easy keeping it up to date with all of the changes.

Hm, I'm not sure why 'XO Featured Image Tools' is removing the `'foto'` field. Like you posted, it doesn't appear in the JSON blob in `<!-- w:block-lab/knifedetails`, so I'm not sure that's something I could fix.

Would you be able to ask them about that?

Thanks for

[2020-07-01 09:52] robs23 commented on #634
Sure, I will ask them. What's puzzling me, every post in the blog has to language versions - polish and english. The weird thing is that all the 'foto' images are missing only in polish versions, english versions have 'foto' intact. I was thinking that maybe the plugin didn't process those, but not, since all of english versions have feature image set properly too.. Besides, for some polish blog p

[2020-07-02 17:21] robs23 commented on #634
Not sure if you've been following the discussion with XO Featured Image Tools author, but it's not getting anywhere to be honest.  On second thought, I'm not sure if it's related to the plugin all over. The thing is all the media files ARE there in the media library, it's just only that I can't find them in "Media library" opened from my custom block.. It's like "Media library" in my custom block'

[2020-07-02 18:52] kienstra commented on #634
Hi @robs23,

Hm, do the images appear in the custom block's Media Library in the English version, but not the Polish version?

[2020-07-03 09:06] robs23 commented on #634
That's kind of what it is. More over, the file that appears in English post (and REFUSE to appear in Polish) has language set to "Polish" in "Media Library" file details.. So in the nutshell:

English version (both working well):
-  "foto" field of my block: https://aska-knives.pl/wp-content/uploads/2019/06/TRAPER-1.jpg
-  featured image: https://aska-knives.pl/wp-content/uploads/2019/06/TRAPER-6.

[2020-07-03 18:06] kienstra commented on #634
Hi @robs23,
Thanks for your details. I'm not sure if I'll be able to debug that.

Are you using a translation plugin?

[2020-07-03 18:17] robs23 commented on #634
I used Polylang plugin to create the translations. All the translations were done last year and it hasn't been such a problem until around 2 months ago. For that reason I don't think it's the culprit here..

[2020-07-03 18:40] kienstra commented on #634
OK, so it looks like there's an English and Polish version of each URL, like:

https://aska-knives.pl/en/about-me/
https://aska-knives.pl/o-mnie/

It's going to be really hard for me to debug this. I'm not sure why it's working in English and not in Polish.

Is there a difference between those that could cause it not to work?

Maybe:

[2020-07-03 18:54] kienstra commented on #634
In the Polish version, are the images available on that page in the Media Library of a core Image block?

![image-block](https://user-images.githubusercontent.com/4063887/86492985-6b56fa00-bd35-11ea-99c0-d1dfb0c0f674.png)

![core-image-block](https://user-images.githubusercontent.com/4063887/86492738-b8869c00-bd34-11ea-85c5-4c86b179c48d.png)

[2020-07-05 13:54] robs23 commented on #634
No, they are not. I get it, in other words you're saying it's not issue of your plugin and you are right. I'll seek the answer elsewhere, thanks for all the pointers.

[2020-07-05 13:54] #634 closed, assigned to nobody

[2020-07-05 16:34] kienstra commented on #634
Thanks, @robs23. I wish I could be more helpful.

[2020-07-10 18:39] johnstonphilip commented on #509
Just noting that I had the same issue here upon initial installation.

[2020-07-10 19:37] kienstra commented on #509
Thanks for letting us know 😄

[2020-07-29 09:20] Zyles commented on #526
This fix does not work with Oxygen.

I stumbled upon this problem with Oxygen where you can not use a custom CSS file because it points to the wrong location (missing trailing slash on domain). I thought it was Oxygen being a problem.

See here:
https://github.com/soflyy/oxygen-bugs-and-features/issues/1380

[2020-07-29 09:26] Zyles commented on #526
This fix worked for me:

[code]

[2020-07-29 15:32] kienstra commented on #526
Hi @Zyles,
Thanks a lot for your snippet!

[2020-07-29 16:46] lemon3 commented on #526
@Zyles,
i have tested your code in my environment, but it doesn't work ...

[2020-07-29 16:48] Zyles commented on #526
Why not?

[2020-07-29 17:41] lemon3 commented on #526
as „wordpress“ is in it's own subdir
see here: https://roots.io/bedrock/

[2020-07-30 06:32] Zyles commented on #526
I use Oxygen not bedrock. I think it depends on your webserver config too.

[2020-07-31 02:16] yaquawa opened #667 "Support render_cllback"
Hi! Thanks for all the efforts for creating this amazing plugin! Totally game changer for creating gutenberg blocks.💖💖💖💖

## Feature description
I'm using my own theme called [laraish](https://github.com/laraish/laraish), which allow run Laravel in a regular WordPress theme. So the view part of the theme is built from blade templates.

I want to render the blocks by using my Blade template, so I w

[2020-08-03 03:28] kienstra commented on #667
Hi @yaquawa,
Thanks for bringing this up, and for your kind words about Block Lab.

Interesting, where would Block Lab accept a `render_callback` parameter? In [block_lab_add_block()](https://getblocklab.com/docs/functions/block_lab_add_block/)?

Otherwise, would the `pre_render_block` filter be enough?

https://github.com/WordPress/wordpress-develop/blob/a5cb12dce1e812aa8ce4814cce697e611010cf55/s

[2020-08-03 04:25] yaquawa commented on #667
@kienstra Thanks for the information!
I didn't know the `pre_render_block` filter, best place to hook in!

[2020-08-03 20:24] yurifpinto commented on #157
@lukecarbis I was actually searching for a way to build a Bootstrap 4-compatible slider block using Block Lab when I found this thread. So yeah, I think that would be indeed one of the more useful use cases. Looking forward to see this implemented.

[2020-08-08 20:42] #667 closed, assigned to nobody

[2020-08-08 20:43] kienstra commented on #521
Closing due to inactivity. But feel free to respond.

[2020-08-08 20:43] #521 closed, assigned to nobody

[2020-08-08 20:43] #493 closed, assigned to nobody

[2020-08-12 18:48] sahayw opened #683 "JSON error from URL in block"
## Bug summary

Including URL in block causes JSON error in Editor preview

## Steps to reproduce

Create block including URL (can be in text field or URL type)
Block edit and front-end work fine. Preview in editor throws JSON error.

## Expected behavior
Preview to show similar to front-end

## Actual behavior
<img width="1187" alt="Screen Shot 2020-08-12 at 10 54 17 AM" src="https://user-images.

[2020-08-12 18:59] kienstra commented on #683
Hi @sahayw,
Thanks for opening this and sharing your details. I'll test it.

[2020-08-12 19:17] kienstra commented on #683
Hi @sahayw,
Could you please paste the block's PHP template here?

The block [shown above](https://github.com/getblocklab/block-lab/issues/683#issue-677902266) works well in my local with WP 5.5 and BL 1.5.5:

![block-with-url](https://user-images.githubusercontent.com/4063887/90057725-6d9e6380-dca6-11ea-8b18-53c9b318fccd.gif)

[2020-08-12 19:21] sahayw commented on #683
<div id="readings">
    <span id="post-date"> <?php echo get_the_date() ?> </span>
    <span id="readings-value"> Readings: <em> <?php block_field('readings') ?> </em> </span>
    <span id="readings-link"><a href=" <?php esc_url(block_field('lectionary')) ?> " target=_blank>Link to Lectionary</a></span>
</div>

[2020-08-12 19:23] kienstra commented on #683
Thanks!

[2020-08-12 19:25] kienstra commented on #683
Here's what the block editor preview looks like in my local:

<img width="954" alt="readings" src="https://user-images.githubusercontent.com/4063887/90058653-9f63fa00-dca7-11ea-80d7-c7e51f65b623.png">

[2020-08-12 19:27] kienstra commented on #683
Could you please try deactivating all plugins expect Block Lab?

Though I tested it with Atomic Blocks and Ultimate Gutenberg, and it still worked fine.

[2020-08-12 19:31] sahayw commented on #683
That’s a bit of a mystery. I’ll try deactivating although there isn’t much there. Won’t be immediate since I’m in the middle of something else.

Thanks for your help.

[2020-08-12 19:37] kienstra commented on #683
OK, thanks for your patience.

If that doesn't work, could you please paste the network request Header and Response here:

![copy-and-paste](https://user-images.githubusercontent.com/4063887/90059679-32516400-dca9-11ea-9933-3e4fce3a1fd1.gif)

[2020-08-12 19:49] kienstra commented on #683
If you're up for it, I wonder if this bug happens on Firefox or Chrome. Though I suspect it's more back-end related.

[2020-08-12 23:11] sahayw commented on #683
Deactivating other plugins made no difference.

Same results with Chrome and Safari. Can try Firefox if you want but like you say this isn't a browser issue.

HEADERS GENERAL
`Request URL: https://rciaspirituality.com/wp-json/wp/v2/block-renderer/block-lab/weekly-readings?context=edit&attributes%5Breadings%5D=Isa%2056%3A1%2C%206-7%3B%09Rom%2011%3A13-15%2C%2029-32%3B%09Matt%2015%3A21-28&attributes%

[2020-08-12 23:30] kienstra commented on #683
Hi @sahayw,
Nice, thanks a lot for pasting that.

Right, no need to try it in Firefox. It's probably not a browser issue.

From searching for that error message, it might be related to the server security:

https://wordpress.org/support/topic/not-acceptable-mod_security-error-after-i-hit-allow/

Would you be able to ask your hosting provider about that...if you're not self-hosting?

[2020-08-13 16:20] sahayw commented on #683
Using Bluehost. Doesn't seem to allow for modifying Mod_security.

But realized that easiest way to sidestep the problem is to remove the initial "http" from the URL - since it gets preprended in browser anyway. (and make that field text rather than url type)

Just a thought - since other users including a URL in a block and thus in JSON would likely hit this issue if running Apache you might want

[2020-08-13 16:46] kienstra commented on #683
Ah, good idea to remove the `http`.

Thanks, I'll think about that.

[2020-08-13 20:38] kienstra commented on #683
If it's alright, I'm going to close this, as there's no immediate action.

[2020-08-13 20:38] #683 closed, assigned to nobody

[2020-08-13 21:16] sahayw commented on #683
Sure. But I guess it would be worth posting something back on WP Forum to mention what we discovered and suggest the workaround. Seems likely someone else could hit the same issue. Shall I do that?

Sent from my iPad

[2020-08-13 21:21] kienstra commented on #683
Sure, that'd be great! Thanks a lot.

[2020-08-27 23:01] kienstra commented on #509
I still need to backport https://github.com/studiopress/genesis-custom-blocks/pull/23 into Block Lab.

[2020-08-27 23:01] kienstra commented on #509
Thanks a lot for reporting this.

[2020-08-28 17:27] bizop commented on #314
+1 for a dedicated html field.

From what I've seen the text field currently strips all HTML that is set in the "default" field for that block, which can be limiting.

[2020-09-21 21:48] Alaamasoud commented on #156
Hi guys,
Any Update about this request?
@RobStino @kienstra

[2020-09-21 23:29] kienstra commented on #156
Hi @Alaamasoud,
We're not adding new features to Block Lab, but maybe to https://github.com/studiopress/genesis-custom-blocks

Though we don't have concrete plans for this feature.

[2020-09-23 07:32] cgodefroy commented on #254
You might check your other plugins: Popup Maker is a likely culprit. At least, for me it is the event that created the issue. I've not investigated more.

[2021-08-20 14:22] cbrakhage opened #837 "getblocklab.com"
http://getblocklab.com

[2021-09-20 03:12] kienstra commented on #837
Thanks! The site is up now.

[2021-09-20 03:12] #837 closed, assigned to nobody

[2022-09-23 14:02] openmindculture commented on #157
This is seriously not possible yet? The default blocks component only supports up to three columns?

[2022-10-25 13:23] awa-cyberday commented on #428
Hi, I have the same problem with WPML. Some news?

[2022-10-25 15:48] kienstra commented on #428
Hi @awa-cyberday,
Thanks for asking, but we're not maintaining Block Lab anymore.

[2022-10-25 15:51] #428 closed, assigned to nobody