[2018-08-01 06:59] lukecarbis opened #8 "100% code coverage"
Implement unit testing.

[2018-08-01 07:00] lukecarbis opened #9 "Auto-linting CI setup"

[2018-08-01 07:02] lukecarbis opened #10 ""Select" control type"
This should introduce the concept of control options for custom fields. Potentially, abstract fields out further to have a `field type` interface / abstract, with each `field type` (text, texture, select) implemented as its own class.

- Choices

[2018-08-01 07:03] lukecarbis opened #11 ""Checkbox" control type"
- Choices

[2018-08-01 07:04] lukecarbis opened #12 ""Number" control type"
- Minimum Value
- Maximum Value
- Step Size

[2018-08-01 07:08] lukecarbis opened #13 "Additional global field options"
- Required
- Default value
- Field instructions

[2018-08-01 07:09] lukecarbis opened #14 "Additional text control and textarea control field options"
- Placeholder text
- Character limit

[2018-08-01 07:13] lukecarbis opened #15 ""Image" control type"
- Return value
  - Image object
  - Image url
  - Image ID

[2018-08-01 07:15] lukecarbis opened #16 ""Radio" control type"
- Choices

[2018-08-01 07:15] lukecarbis opened #17 "Toggle "True / False" Control Type"

[2018-08-01 08:33] lukecarbis opened #18 "Import / Export JSON file of blocks"
This is especially useful for theme authors who wish to use ACB to build blocks, and want to distribute the blocks with their themes.

[2018-08-01 08:51] lukecarbis opened #19 ""Post" control type"
A searchable list of posts, from a given post type.

- Post type
- Post
- Taxonomy filter

[2018-08-01 09:01] lukecarbis opened #20 ""WYSIWYG" control type"
Shows a rich editor, including formatting controls.

[2018-08-01 09:51] lukecarbis opened #21 "Remove "Reusable" from list of category options"

[2018-08-01 09:52] lukecarbis opened #22 "Add Block Icon to Properties panel"
The user should be able to choose from the Dashicons library. The options should be displayed visually, not as text from a dropdown menu.

Only dashicons for now.

[2018-08-01 10:08] lukecarbis opened #23 "Move "+ Add Field" button to left side (instead of right)"
Minor visual tweak

[2018-08-02 04:21] lukecarbis opened #25 "Conditional logic"
If `field_one` is equal to `foo` then hide `field_two`.

[2018-08-02 04:23] lukecarbis opened #26 "Frontend API"
`acb_field( $name, $echo )` and `acb_value( $name )`.

[2018-08-02 04:24] lukecarbis opened #27 "Block preview"
In the editor, once the fields have been completed, a preview of the block is show.

This should include the ability to return to "edit" mode to change the fields again.

[2018-08-02 04:45] lukecarbis opened #28 "Placeholder row when there are no fields"

[2018-08-02 04:49] lukecarbis commented on #22
@RobStino Keen for a mockup on how this could work.

[2018-08-02 04:52] lukecarbis opened #29 "Better warning for missing template on the front-end"
Logged in users only.

[2018-08-02 04:53] lukecarbis opened #30 "Warning in Gutenberg if no template can be found."

[2018-08-02 04:57] lukecarbis opened #31 "Add Settings to custom blocks, like Fields, only with groups"
These will appear in the sidebar

[2018-08-02 04:57] lukecarbis opened #32 ""Colour" control type"

[2018-08-02 05:06] lukecarbis opened #33 "Build scripts"

[2018-08-02 05:10] lukecarbis opened #34 "New category is sanitised as a key / attribute, not title"

[2018-08-02 05:13] lukecarbis commented on #23
Rob thinks it should stay on the right.

[2018-08-02 05:13] #23 closed, assigned to nobody

[2018-08-02 05:15] lukecarbis commented on #26
This is implemented in #4 .

[2018-08-02 05:15] #26 closed, assigned to nobody

[2018-08-02 05:16] lukecarbis commented on #29
@rheinardkorf can you please make sure the notice only appears for authors and above, and then hand over to Rob for design / css work.

[2018-08-02 05:19] lukecarbis commented on #31
Maybe just add a Field Location column / option to the existing Field meta box. Editor or Sidebar.

[2018-08-02 05:26] lukecarbis opened #35 ""Date" control type"

[2018-08-02 05:27] lukecarbis opened #36 ""Repeater" control type"
😮

[2018-08-02 06:28] lukecarbis opened #39 "Limit blocks to three keywords"
![screen shot 2018-08-02 at 4 27 15 pm](https://user-images.githubusercontent.com/1097667/43566204-01b0c3b6-9671-11e8-88a1-505cca4c0f16.png)

[2018-08-02 08:36] lukecarbis opened #41 "Warning: Each child in an array or iterator should have a unique "key" prop."
I get this error in the console whenever I add a block.

![screen shot 2018-08-02 at 6 34 06 pm](https://user-images.githubusercontent.com/1097667/43572415-cf048eb8-9682-11e8-9dde-563514bf3a70.png)

[2018-08-02 09:52] lukecarbis opened #43 "Custom Blocks list table refinements"
- Remove date
- Add Fields column, with a count of how many fields are added

[2018-08-02 10:16] RobStino commented on #22
![acb_block_icon_property_control](https://user-images.githubusercontent.com/1578148/43577909-9c820778-9690-11e8-906d-188e1e269806.png)
There were no obvious native solutions for this (apart from the Media Library modal), so I wanted to keep this as simple as possible as I imagine we'll be giving the UI design much more attention around v1.0.

[2018-08-02 12:32] #34 closed, assigned to lukecarbis

[2018-08-02 12:33] #39 closed, assigned to lukecarbis

[2018-08-03 02:11] lukecarbis opened #45 "Move "Slug" meta box into the Properties meta box."
Might have to do this with a little JS magic.

[2018-08-03 02:25] #27 closed, assigned to rheinardkorf

[2018-08-03 02:25] #30 closed, assigned to rheinardkorf

[2018-08-03 04:14] #21 closed, assigned to lukecarbis

[2018-08-03 05:27] lukecarbis opened #48 "Custom categories don't work"
The block doesn't show up at all.

[2018-08-03 05:31] RobStino opened #49 "Add "Add New" to fly-out menu in WP Admin under Blocks"
The experience with what you get when you hover over a CPT menu item where you get the "Add New" option, we should have that. :)

[2018-08-03 05:38] lukecarbis commented on #33
Resolved in #46.

[2018-08-03 05:38] #33 closed, assigned to rheinardkorf

[2018-08-03 05:55] rheinardkorf opened #50 "Export block as stand-alone plugin."
It would be nice if there was a way to export a block as a standalone plugin with minimal scaffolding required.

It would still need to maintain the current acb_locate_template() mechanism and template loader.

[2018-08-03 05:56] rheinardkorf commented on #48
@lukecarbis might have to reconsider this feature as the Gutenberg team is currently advising against custom categories.

[2018-08-03 05:57] rheinardkorf commented on #41
This is an easy fix... I forgot about the keying... Vue does it too.

[2018-08-03 06:19] rheinardkorf opened #51 "Improve plugin packaging scripts."
The current scripts are incredibly basic and has been used as a quick way to clean up the plugin for distribution.

We need to consider whether `gulp` is the right tool for the job, what we ideally would like automated (e.g. readme.txt with auto changelog), etc.

[2018-08-03 07:36] lukecarbis commented on #48
Great!

[2018-08-06 04:47] RobStino opened #53 "Can't use Number in Block Slug"
I noticed that although I could successfully save a custom block with a number character in the slug, as well as set up the template file, the block was not accessible in the GB editor. After changing the slug (removing number), and updating the template to match I was able to access it in the editor.

[2018-08-06 04:50] rheinardkorf commented on #53
@RobStino was it a number prefix? Or any number?

[2018-08-06 04:52] RobStino commented on #53
The slug was
`section-50-50`
The Block Title was
`Split Section 50/50`

[2018-08-06 05:05] RobStino opened #54 "Browser Refresh Warning Bug when embedding YouTube iFrame"
Video screen recording of issue -> https://d.pr/v/voYvBl

[2018-08-06 05:53] rheinardkorf commented on #54
Is it specifically related to ACB?  What about a different browser?

[2018-08-06 11:29] RobStino commented on #54
Issue tested in Chrome, FF, and Safari, but only observed in Chrome.
Also tested embedding the same YouTube video via
- YouTube Embed Block (Core)
- HTML Block (Core)
- Code Block (Core)
None of these caused the strange refresh behaviour.
Am still observing the issue as well. Just re-checked.

[2018-08-06 13:08] lukecarbis commented on #54
Best fix for this might be applying `wp_kses_post()` to any content received through the template (at least when previewing in the editor). I don't believe iframe's are allowed.

[2018-08-08 13:16] rheinardkorf commented on #17
This is called a ToggleControl in Gutenberg.

[2018-08-09 03:19] rheinardkorf commented on #13
Required does not work for "SelectControl" "CheckboxControl", "ToggleControl" and "RadioControl".

[2018-08-09 03:26] rheinardkorf commented on #10
JSX ready.

[2018-08-09 03:27] rheinardkorf commented on #11
JSX ready.

Caveat!  This implements only a single checkbox, not a checkbox group.  We need to consider adding panel controls and "pseudo" group controls.

[2018-08-09 03:28] rheinardkorf commented on #12
JSX implemented.

Properties are:  `min` `max` `step`.

[2018-08-09 03:28] rheinardkorf commented on #10
Example JSON:
[code]

[2018-08-09 03:30] rheinardkorf commented on #11
Example JSON:
[code]

[2018-08-09 03:31] rheinardkorf commented on #12
[code]

[2018-08-09 03:33] rheinardkorf commented on #13
Required is a boolean: `"required": true` , false by default.
Default is supplied using `"default": <value>`.
Field instructions is called `help` in Gutenberg, so option is `"help": "Some help"`

[2018-08-09 03:34] rheinardkorf commented on #14
Attribute for placeholder is unsurprisingly: `placeholder`.
The default HTML attribute of `maxlength` has been added to supply a character limit.

[2018-08-09 03:34] rheinardkorf commented on #15
Oops... this one is not yet implemented!  Ignore the comment.

[2018-08-09 03:37] rheinardkorf commented on #16
Example JSON:
[code]

[2018-08-09 03:38] rheinardkorf commented on #17
Example JSON:

[code]

[2018-08-09 10:10] rheinardkorf opened #60 "Review escaping functions."
E.g. https://github.com/rheinardkorf/advanced-custom-blocks/blob/develop/php/post-types/class-block-post.php#L173

Should be `esc_attr_e`.

[2018-08-09 22:36] lukecarbis commented on #13
That's a good point. Default value may not always work, either. I think that these should all be implemented outside of the abstract class, for two reasons:

1. More flexibility for controls to choose which "defaults" they include
2. More flexibility for controls to put options in the right order

[2018-08-09 22:47] lukecarbis commented on #60
Never heard of it! Can't find any docs either:
https://duckduckgo.com/?q=%22esc_attr_er%22

[2018-08-09 22:48] lukecarbis commented on #60
Oh, you mean `esc_attr`, not `esc_html`.

[2018-08-09 22:49] lukecarbis commented on #48
Resolution for this is to remove custom categories.

[2018-08-10 03:18] #13 closed, assigned to lukecarbis

[2018-08-10 03:18] lukecarbis commented on #14
Resolved in #61 .

[2018-08-10 03:18] #14 closed, assigned to lukecarbis

[2018-08-10 09:50] pedro-mendonca commented on #60
Hi, just made a PR #64 that solves this issue.

[2018-08-10 12:29] rheinardkorf opened #65 "Textarea/Text max length defaults to zero."
When not providing a value to the max length property it defaults to zero and you can't enter characters. This value needs to not be written to the json value, or use the HTML default of 524288.

[2018-08-10 13:32] #60 closed, assigned to nobody

[2018-08-10 13:32] rheinardkorf commented on #60
thanks @pedro-mendonca

[2018-08-13 06:42] #65 closed, assigned to lukecarbis

[2018-08-13 10:22] rheinardkorf opened #71 "PHP Notices when fields not provided."
Steps:
- Create new custom block.
- Provide title, description, slug.
- DON'T add any fields.
- Publish the block.

Result:
[code]
Need to check for empty value.

[2018-08-13 10:24] rheinardkorf commented on #71
This also makes this block unusable now as I can't add new fields because notices are output. (unless I turn debugging off)

[2018-08-25 09:20] RobStino opened #74 "Fatal Error on Plugin Activation"
`Plugin could not be activated because it triggered a fatal error.`

`Fatal error: Uncaught Error: Class 'AdvancedCustomBlocks\View\Admin_Menu' not found in /var/www/vhosts/acb.number11.co/httpdocs/wp-content/plugins/advanced-custom-blocks/advanced-custom-blocks.php:95 Stack trace: #0 /var/www/vhosts/acb.number11.co/httpdocs/wp-admin/includes/plugin.php(1897): include() #1 /var/www/vhosts/acb.numb

[2018-08-27 05:47] lukecarbis commented on #74
Does the same error occur on the current `develop` branch? We changed a few things that might be related.

[2018-08-27 10:54] RobStino commented on #74
This was on v1.0 that is up on wp.org. I'll test with the dev version.

[2018-08-29 06:14] jcklpe opened #79 "Hey psssst 👀 You might want to check this out"
I found this project before I found ya'll's. Ya'll's currently works for what I need but it looks like these guys also have a more expansive feature set in certain ways.

Anway, thought you might want to check it out and maybe use some of it's code, or collaborate with the dev working on the project.

https://github.com/rchipka/advanced-custom-blocks

@rheinardkorf

[2018-08-29 06:20] lukecarbis commented on #79
That's some great looking work, thanks for sharing! We're actually planning on renaming this project, so hopefully that gives @rchipka a little more room to shine!

[2018-08-29 06:20] #79 closed, assigned to nobody

[2018-08-29 06:28] lukecarbis commented on #53
I can't replicate this on `develop`. @RobStino Can you try this again on `develop`, and report back?

[2018-08-29 09:54] RobStino commented on #53
@lukecarbis I'll wait until those few PR's go through and then test.

[2018-08-29 23:21] timbutler commented on #74
Can confirm the same error occurs with the wp.org 0.1 version but the activation works if using the dev branch from GitHub.

[2018-08-29 23:55] rheinardkorf commented on #74
Thanks @timbutler

[2018-08-30 00:28] RobStino commented on #74
Interestingly/coincidently, my dev server is with Conetix, which is @timbutler 's hosting company. :D So the bug may have been related to the hosting env, but if the dev branch sorts it out, then we're all good.

[2018-08-30 06:29] rheinardkorf opened #82 "Safari is known to not play nicely with Gutenberg"
The editor breaks in Safari at the moment due to a type error when checking if control is a text input.  This is not an issue in other browsers, but needs to be fixed.

[2018-08-30 06:29] #10 closed, assigned to lukecarbis

[2018-08-30 06:29] #11 closed, assigned to lukecarbis

[2018-08-30 06:29] #12 closed, assigned to lukecarbis

[2018-08-30 06:29] #16 closed, assigned to lukecarbis

[2018-08-30 06:29] #17 closed, assigned to lukecarbis

[2018-08-30 06:37] rheinardkorf commented on #41
Issue has since been resolved. Its already in `develop`.

[2018-08-30 06:37] #41 closed, assigned to rheinardkorf

[2018-08-30 13:21] #48 closed, assigned to rheinardkorf

[2018-08-30 13:30] #49 closed, assigned to nobody

[2018-08-30 13:35] #71 closed, assigned to lukecarbis

[2018-08-30 13:35] #28 closed, assigned to lukecarbis

[2018-08-31 02:22] lukecarbis commented on #18
@rheinardkorf This is done, right?

[2018-08-31 02:23] lukecarbis opened #84 ""User" control type"
A searchable list of users.

[2018-08-31 02:51] rheinardkorf commented on #18
@lukecarbis It uses `blocks.json` but it does not import it into the "Blocks" UI, but it does add it to Gutenberg.  How important is it to preserve the blocks if a user switches themes?  Because then we would need to import... and that is not done.

[2018-09-03 03:18] RobStino opened #86 "Error when publishing a CPT"
When tryinh to publish a CPT from another plugin, I get the WordPress admin error
`The link you have followed has expired`
When I disable this plugin, I am able to publish as normal.
Have tested on a few environments and observed the same issue.

[2018-09-03 23:58] #74 closed, assigned to RobStino

[2018-09-04 00:01] lukecarbis opened #88 "Rename the plugin"
~~Advanced Custom Blocks~~ **Block Lab**

[2018-09-04 01:53] #22 closed, assigned to lukecarbis

[2018-09-04 01:55] #45 closed, assigned to nobody

[2018-09-04 01:57] #43 closed, assigned to nobody

[2018-09-04 02:00] #53 closed, assigned to RobStino

[2018-09-04 02:01] #86 closed, assigned to nobody

[2018-09-04 02:14] RobStino opened #89 "Losing block field properties on publish"
When a block is published, all the field (default values, required, etc) revert to default state.
Observed on:
- Toggle
-Checkbox
- Range

[2018-09-04 02:16] RobStino opened #90 "Lost our Dashicon Icons"
With the update to the icons in GB (Material icons), it seems we've lost access, in the current format, to dashicons.

[2018-09-04 02:28] RobStino commented on #90
Note: Dashicons are still visible in the block editor, but are no longer seen in Gutenberg.
Note 2: Conversation in slack with @rheinardkorf showing the reasoning why the Core team moved away from Dashicons. We should probably follow suit.

[2018-09-04 16:19] alvarogois opened #92 "First documentation link is wrong"
The first Documentation link in https://github.com/rheinardkorf/advanced-custom-blocks points to a non-existent page. In the FAQ section and in WordPress.org it's the right link.

[2018-09-05 01:54] lukecarbis commented on #92
Thanks @alvarogois! Fix is incoming.

[2018-09-05 01:56] #92 closed, assigned to nobody

[2018-09-05 10:58] #89 closed, assigned to nobody

[2018-09-05 14:02] #90 closed, assigned to nobody

[2018-09-05 22:07] lukecarbis opened #97 "Special characters in block title and description"
Special characters aren't handled well in the Gutenberg editor.

[2018-09-06 21:50] RobStino opened #100 "Add 'Save Draft' Button to Block Edit Page"
Working with the plugin, there were a few times saving as draft felt like a natural step. Typically when the block I was working with was unfinished.
Reasons for adding this feature include:
- Save as draft is a natural workflow action in WordPress. It _feels_ like it should be there.
- Having Draft vs Published Blocks will help with organisation/filtering on the Block list page
- I imagine having

[2018-09-06 21:53] lukecarbis opened #101 "Can't turn toggle off"
Steps to reproduce:

- Create a block with a Toggle control
- Set the Toggle's default to "on"
- Add the Toggle to a Block
- Try to turn the Toggle off

[2018-09-06 21:56] lukecarbis commented on #101
Just realised that the same problem exists for checkboxes.

[2018-09-06 21:58] lukecarbis opened #102 "Can't set default value for select or radio"
Steps to reproduce:

1. Create a new block
2. Add a Select field
3. Give it the choices of:
[code]
4. Give it a default value of `bar`
5. Add the block to a post, notice no default it set

[2018-09-19 23:04] jcklpe opened #103 "Causes error for saving new ACF field groups"
This seemed to work fine on my old portfolio website, but when I tried creating some custom fields using ACF with this installed today I kept getting an error. When I turned off this plugin it worked fine. I then created my fields, and then turned it back on. Seems to work fine that way. But also kind of a work around and figured you guys should know. Thanks.

[2018-09-19 23:05] jcklpe commented on #88
Nice name. I like it!

[2018-09-20 21:33] RobStino opened #104 "True/False state of toggle & Checkbox input not being passed through to function."
Screen cap walkthrough of issue -> https://d.pr/v/aywe4l

Regardless of if a toggle is switched to true or false, it's being picked up as a false by the function.

[2018-11-09 03:20] RobStino commented on #104
Have retested this issue on the rename branch.
Note that the true/false state is passed to the block preview in the editor, but not the front end.
var_dump gives me NULL
The same issue on the Checkbox field type.

[2018-11-09 03:22] RobStino opened #106 "The admin menu item for Block Lab doesn't appear after plugin activation"
The menu item appears after a browser refresh.
Standard experience is it should appear immediately after activation.

[2018-11-09 03:26] RobStino opened #107 "Empty / Blank fields appear in GB Editor as text fields with no label"
Noticed this after accidentally added a field, but didn't configure it, and hit publish.
The field appeared in the Gutenberg editor as a text field with not label or anything else.
Assuming it was a text field as this is the default field when adding a new field.
Noting that, without configuration, or at least a name/slug, the field values can't be interacted with in the template.
With this in min

[2018-11-09 03:28] RobStino opened #108 "The "Template not found" error displays for unauthenticated users"
Noticed that the front end error for when no template file is found is displayed for unauthenticated users. Makes sense for logged in users, but perhaps not so much for others.

[2018-11-09 03:30] rheinardkorf commented on #106
Debatable if its "standard".  Expected, sure. Standard, not necessarily.

The menu is added by `add_menu_page`, the rest is up to core to facilitate. Sometimes, however, plugin developers deliberately do a WordPress redirect upon activation to show the menu. This is a terrible idea.

[2018-11-09 04:30] RobStino opened #109 "New Blocks automatically added to "Most Used" in the Gb editor."
Have noticed that newly created blocks end up in the “Most Used” sections in the Gutenberg editor.

[2018-11-09 04:43] #106 closed, assigned to lukecarbis

[2018-11-09 05:00] rheinardkorf commented on #109
Not a BL issue. This is Gb behaviour. We can't control the "Most Used" with the plugin.

[2018-11-09 05:06] lukecarbis commented on #109
Won't fix?

[2018-11-09 10:11] #88 closed, assigned to lukecarbis

[2018-11-11 20:31] lukecarbis commented on #82
This seems to be resolved in the latest version of Gutenberg!

[2018-11-11 20:31] #82 closed, assigned to nobody

[2018-11-11 20:33] lukecarbis commented on #18
In that case it should be Import (and export), not auto-import.

[2018-11-11 21:47] rheinardkorf commented on #18
So this is not technically import functionality. It simply makes blocks available that are defined in `blocks.json`.  We would have to develop explicit import/export functionality and perhaps offer an option to import from a detected `blocks.json` file.  E.g.  "We detected `blocks.json` in your theme. Do you want to import these blocks?"

[2018-11-11 21:48] rheinardkorf commented on #82
Awwwww-some!

[2018-11-11 22:15] lukecarbis opened #110 "Update readme with new GitHub URL and move docs to Wiki"

[2018-11-12 01:45] lukecarbis opened #113 "Maybe required doesn't make sense."
If I mark a field as required, I can still save my post. Do required fields even make sense? I'm not sure they do. Any thoughts @RobStino ?

[2018-11-12 01:52] RobStino commented on #113
I think eventually. But perhaps not right now.
The user experience for this probably needs to be thought through more.

[2018-11-12 01:53] RobStino commented on #113
I imagine that it would ultimately be more about whether the field value or block is rendered on the front end.

[2018-11-12 02:15] #101 closed, assigned to rheinardkorf

[2018-11-12 23:13] lukecarbis commented on #102
This has been resolved in the latest version of `develop`.

[2018-11-12 23:13] #102 closed, assigned to rheinardkorf

[2018-11-12 23:36] #113 closed, assigned to nobody

[2018-11-12 23:42] #107 closed, assigned to nobody

[2018-11-12 23:49] #109 closed, assigned to nobody

[2018-11-13 00:32] #108 closed, assigned to nobody

[2018-11-13 00:33] #110 closed, assigned to nobody

[2018-11-13 02:44] #104 closed, assigned to nobody

[2018-11-13 03:45] RobStino opened #120 "Losing all block fields and settings after adding and publishing a select field"
Steps to reproduce:
1. Create new block
2. Give name, slug, etc
3. Add some string based fields and publish (to confirm it's not text fields causing the issue)
4. Add a Select field and update

After the publish refresh, note that the configurations and added fields are all gone.

Note that prior to adding the select field, I could use the block in the GB editor. After I added the select field and

[2018-11-13 06:14] lukecarbis commented on #120
I can't replicate, but I did see this earlier (not sure if I was using Select or not). Keep an eye out and if you see it, try to get more exact steps to replicate it.

[2018-11-13 06:14] #120 closed, assigned to lukecarbis

[2018-11-13 06:29] #29 closed, assigned to rheinardkorf

[2018-11-13 07:39] lukecarbis commented on #50
The more I think about this, the more I think this should be an add-on plugin. So, you'd install Block Lab + Block Lab Plugin Exporter, and do it that way.

@RobStino Thoughts?

[2018-11-13 10:56] #31 closed, assigned to lukecarbis

[2018-11-14 01:38] lukecarbis opened #126 "Special character in title causes no meta data to be saved"
1. Create a new Block with the title "Luke's Block" (use an apostrophe)
2. Add fields (you're going to loose these when you publish)
3. Publish
4. 😿

[2018-11-14 04:31] RobStino opened #129 "2 x Star Icons"
Don't know how I missed that.

[2018-11-14 11:50] RobStino commented on #50
I think this should be stand-alone as well. It's not core functionality and is something that only _some_ people would want _some_ of the time. Anything that falls in to this kind of category should be an extension. Somewhat like the WordPress Core features / Plugin features distinction.

[2018-11-14 11:54] #50 closed, assigned to nobody

[2018-11-14 12:03] lukecarbis commented on #54
I couldn't replicate this issue on the latest version of Gutenberg. Do you want to give it another try?

[2018-11-14 12:15] lukecarbis opened #133 "Auto-closing field settings?"
Should it be possible to have two fields expanded at once? Or should we force a field's settings to close when expanding a different field?

[2018-11-14 12:16] #129 closed, assigned to lukecarbis

[2018-11-15 00:35] RobStino opened #134 "Change the auto-slug generation behaviour"
The automatic generation of the slug when adding the title for the first time makes sense. However after this point, it's not so ideal. 2 scenarios that come to mind that this is annoying for:

1. I edit the slug, i.e. shorten "Call to action" to "CTA". If I decide afterwards change the Title. I.e. capitilise the 'a' in 'action', the slug gets overwritten.
2. I have an established block that I've

[2018-11-15 00:58] lukecarbis commented on #103
@jcklpe I can't seem to replicate this on the latest version of both plugins. Could you please take a fresh look and see if it's still a problem? Here's my attempt: https://drive.google.com/file/d/1ZMEwpp0tgG5J4uC9cMvYZ4z62R_CaBzR/view?usp=sharing

@RobStino It would be good to see if you can replicate the issue, too.

[2018-11-15 01:30] #126 closed, assigned to lukecarbis

[2018-11-15 01:30] #97 closed, assigned to rheinardkorf

[2018-11-15 01:50] #133 closed, assigned to nobody

[2018-11-15 03:54] #134 closed, assigned to lukecarbis

[2018-11-15 03:58] RobStino opened #138 "Add Status (published, draft, etc) to Block table"
Seeing that we can now save blocks as a draft, it makes sense (maybe) adding a new column to the block table that shows the status.

[2018-11-15 04:12] lukecarbis commented on #138
We already do this? Same as regular posts.

![screen shot 2018-11-15 at 2 11 40 pm](https://user-images.githubusercontent.com/1097667/48529801-7c44c480-e8e0-11e8-8ef5-c0486f293995.png)

[2018-11-15 05:52] RobStino commented on #138
Ooooh!

[2018-11-15 05:52] #138 closed, assigned to lukecarbis

[2018-11-15 05:53] #100 closed, assigned to lukecarbis

[2018-11-15 12:00] lukecarbis opened #140 "Add instructions on how to use template tags in a template"
I feel like a first time user would have to go searching for the `block_field()` and `block_value()` functions. Let's try to make this easier. Any suggestions, @RobStino ?

[2018-11-15 19:30] jcklpe commented on #103
I will try to once I get a version of my website spun up. Right now running into some problems with how I backed up things and trying to untangle the mess I made.

[2018-11-15 23:53] RobStino commented on #140
It's a good point. The easier we can make it for the user, then better. The bigger solution is our in-admin template builder we have planned, but that's a little way off yet.
For the short term...
- Only display the help after "Publish"? As this is when it becomes relevant.
- Is it possible to something inline with each field?
- Do we need it on a per field basis? Or is a general help guide all we

[2018-11-16 00:01] RobStino commented on #140
We also had that auto file generation idea, with a button that, when clicks, adds a folder/file to the active theme.

[2018-11-16 00:18] RobStino commented on #140
Something like this.
![image](https://user-images.githubusercontent.com/1578148/48589832-f0d33e00-e988-11e8-82a7-55b065a0da3c.png)

[2018-11-16 00:32] lukecarbis commented on #140
May as well build out template support properly. What could that look like? HTML + tags (instead of PHP functions)? Do we worry about CSS?

[2018-11-16 00:36] RobStino commented on #140
I would step it out. Full template support I think requires a bunch more effort. Justified, but we could deliver some value in the short term.
The above `code` would just be copy-paste-able. Rather than editable.
The above + a link to help docs & video walkthrough could be super helpful.

[2018-11-16 01:32] lukecarbis opened #141 "Fatal Error on some environments"
The plugin errors fatally if there's an underscore in the remote path. e.g. `/srv/www/blocklab/public_html/wp-content/plugins/block-lab/php/class-plugin.php`

The `public_html` gets converted to `public-html`, which doesn't exist.

[2018-11-16 01:35] lukecarbis opened #142 "Blocks containing a description aren't shown in Gutenberg"
Tested in WordPress 5.0 beta 4

Maybe we just remove the description? I'm not sure what it's really used for anyway.

[2018-11-16 04:51] #141 closed, assigned to nobody

[2018-11-16 05:11] #142 closed, assigned to nobody

[2018-11-16 05:14] RobStino opened #145 "Field name overwrite behaviour on fields"
We resolved this for the Block slug, but for the same reasons I think we should do the same with the field name.
Auto-generation for when it's initially written, but once set, changes are manual. Not tied to field label updates.

[2018-11-16 18:06] delawski opened #147 "`Warning: filemtime(): ...` displayed under the block content"
I've created a sample block called 'Subhead' consisting of a single textarea control.

**Issue:**
I'm getting the following error under the block content both in the editor and in the front-end:

`Warning: filemtime(): stat failed for /app/public/wp-content/plugins/block-lab/js/editor.blocks.js in /app/public/wp-content/plugins/block-lab/php/blocks/class-loader.php on line 78 Warning: filemtime():

[2018-11-16 18:22] delawski commented on #147
The warning is gone now. I'm not sure what has cleared it. It seems it is a bug that shows up on a fresh install.

[2018-11-17 10:18] RobStino commented on #147
Thanks for logging this @delawski
Could you share the PHP etc version numbers this new install was running?

[2018-11-17 14:16] delawski commented on #147
Sure, here's my local setup:

<img width="225" alt="screenshot 2018-11-17 15 15 42" src="https://user-images.githubusercontent.com/478735/48662009-b1394e80-ea7b-11e8-9c97-d8eb00c5eba4.png">

[2018-11-18 11:04] RobStino opened #149 "WordPress Import/Export file is empty"
When you use the standard WordPress import/export process (and plugin) for importing and exporting blocks, no blocks are imported/exported.
You can select Blocks as an option when exporting, much like you do other CPTs. An xml file is also able to be generated. This can be then imported, however no blocks are added to the site that is imported to.
Steps to reproduce:
1. Create a block
2. Tools>Exp

[2018-11-19 10:10] #147 closed, assigned to nobody

[2018-11-20 05:42] ghost opened #152 "Requires PHP: 5.7"
Hey! There's no PHP version 5.7 😄
It should be either 5.6 or 7.0

![2018-11-20_073944](https://user-images.githubusercontent.com/11320080/48753757-d86c6780-ec97-11e8-8a7d-3ff49b249274.jpg)

[2018-11-20 05:44] lukecarbis commented on #152
😂 Ha! How did that get in there. I'll sort that out, thanks for the heads up.

[2018-11-20 16:49] audetcameron opened #153 "Adding "quotes" in fields kills all fields and you have to start over"
Adding "quotes" in fields kills all fields and you have to start over.   Any way to add validation or  escapes \  before "  in a field?   I can look into it this weekend as well.

[2018-11-21 04:36] RobStino commented on #54
So have tested this now and the issue is no longer there. I'm spotting something else in relation to iFrames, but will close this issue and create another.

[2018-11-21 04:36] #54 closed, assigned to RobStino

[2018-11-21 04:42] RobStino commented on #103
I've tested this as well and can't replicate the issue. @jcklpe If you get a chance to test again, let us now how you go.
@lukecarbis FWIW the toggle fields worked ok for me in ACF.

[2018-11-21 05:47] lukecarbis commented on #140
It's a small step from what you've got there to just saving it in the database. What would it look like if we added tabs for:
- Frontend template
- Editor template (optional)
- Frontend css (optional)
- Editor css (optional)

In addition, we could use moustache style tags instead of PHP (e.g. `{{field_one}}`) _or_ just add a button to insert a field, and it would be displayed slightly differently,

[2018-11-21 05:59] lukecarbis commented on #149
@RobStino Can you test again? Worked fine for me!

If you're still having problems, post your XML file, and also let me know if the import says "Failed" or simply "All done. Have fun!".

[2018-11-21 07:07] lukecarbis commented on #103
Closing for now.

[2018-11-21 07:07] #103 closed, assigned to RobStino

[2018-11-21 07:19] jcklpe commented on #15
This is the number one custom field type I need aside from repeater.

[2018-11-21 07:20] jcklpe opened #156 ""Video" control type"
It would be great to have the ability to have custom field specifically for videos.

[2018-11-21 07:23] jcklpe opened #157 "Feature Request: Nested block control type"
The ability to nest custom blocks inside of a custom block would be pretty dang useful I imagine yeah?

[2018-11-21 08:45] lukecarbis commented on #157
What’s the use case?

[2018-11-21 08:46] lukecarbis commented on #15
For the time being, you could drop a URL in as a text field.

[2018-11-21 09:15] jcklpe commented on #157
@lukecarbis If I wanted to create a weird custom button that used a scrolling image background, I might want to expose the image as a field for the user to choose on a case by case base. That might seem a bit weird, but I can come with dozen of examples that I've done similar things with ACF at least.

[2018-11-21 09:16] jcklpe commented on #15
@lukecarbis If I wanted to create a weird custom button that used a scrolling image background, I might want to expose the image as a field for the user to choose on a case by case base. That might seem a bit weird, but I can come with dozen of examples that I've done similar things with ACF at least. You could do with it a url if the image url is hardcoded into the template but you might want to

[2018-11-21 09:19] jcklpe commented on #157
Could create a layout type block that can contain a repeater array in several columns maybe? I know nested blocks are part of the gutenburg spec but I have to admit I haven't dug super deep yet into their use cases outside layout stuff.

I used nesting with ACF a good bit though. I made a thing that was a nested repeater inside of a repeater so that I could more dynamically choose multiple media t

[2018-11-21 09:50] camya opened #158 "Feature Request: Field Validation"
Hi, first of all thank you for this great project. It's really useful already in this early stage.

I think it would be useful to implement some kind of field validation.

It should be possible to add no validation at all or as many as you want. The validation list should be sortable. Validations are processed from top to button.

- Title: Just a title / description of the validation
- Type: Selec

[2018-11-22 01:17] #152 closed, assigned to nobody

[2018-11-22 04:35] AdsonCicilioti opened #159 "Feature Request: link/url Picker"
For pick existents links from all published contents on wp site or external.
Same as link picker of ACF.

![image](https://user-images.githubusercontent.com/6278398/48881921-fdc7b580-edfe-11e8-8d72-3495de3998be.png)

Or a simple version:
![image](https://user-images.githubusercontent.com/6278398/48881975-32d40800-edff-11e8-8227-a0c7be121b02.png)

[2018-11-22 05:13] RobStino commented on #159
Hi @AdsonCicilioti
Thanks for dropping this in here.
Both a general URL field as well as a post (post, page, CPT) field are on our radar.
I imagine the general URL field won't be too far away.
Thanks for trying out the plugin. Hope it helps you out. :)

[2018-11-22 05:14] RobStino commented on #158
@greenphp This is a great idea. One we've briefly talked about, but you capture it really well!

[2018-11-22 05:15] RobStino commented on #156
@jcklpe Are you talking about for adding/uploading videos? Or for linking to YouTube et al.?

[2018-11-22 05:17] RobStino commented on #153
Hey @audetcameron we have a PR just merged that should address this one. It should hit the wp.org repo in the next week or so, otherwise you can pull down the `develop` branch from here.

[2018-11-22 05:19] AdsonCicilioti commented on #159
Great!

[2018-11-22 07:12] lukecarbis commented on #153
Resolved in #154 .

[2018-11-22 07:12] #153 closed, assigned to nobody

[2018-11-22 07:14] lukecarbis commented on #157
To be honest I'm still having trouble understanding. Is this idea similar to "grouping" block fields together? Or putting the fields from one block in another? I'm not sure I get it.

[2018-11-22 07:23] lukecarbis commented on #159
Closed in favour of #19 .

[2018-11-22 07:23] #159 closed, assigned to nobody

[2018-11-22 07:46] lukecarbis opened #160 "Toggle fields not returning the correct result on frontend"
Noticed this when testing today. The same is _probably_ true for checkboxes.

[2018-11-22 15:27] tommusrhodus commented on #156
@RobStino perhaps a specific oEmbed control would be useful to allow exact placement of oEmbed objects?

[2018-11-22 17:25] camya opened #162 "Calculation with block_value() - Placeholder instead of value!"
Hi,

I've added a "Range" field with values 0 to 10. I want use this value for further calculations in the template file. Unfortunately this doesn't work. I'm not shure if this is an problem in my enviroment, or a template placeholder replacement issue.

Example: I selected the range slider value 8;

If I use `block_field( 'rating');` in the template file, everything looks fine. **Output is 8.**

[2018-11-22 20:16] jeffpaul opened #163 "Code of conduct missing"
Let's make sure everyone who comes here helps create a positive environment and provide a framework around how this is enforced as well.

[2018-11-22 20:32] jeffpaul opened #165 "License missing"
Adding in the license for Block Lab will help give people an idea for how they can / should use the code.  Not certain if you're aiming for MIT or GPLv2 or what, so I'll drop in a couple PRs to choose from.

[2018-11-22 22:50] #165 closed, assigned to nobody

[2018-11-23 16:18] kraftner opened #168 "Warn on missing Gutenberg"
Currently the plugin doesn't warn in any way if Gutenberg isn't installed in a version <= 5.0. I assume it also doesn't handle the case of an activated Classic Press Plugin.

I noticed that you can still create Blocks, but some things don't work:
- Selecting an Icon
- Category Drop-Down is empty

Nothing fails terribly, but I think the experience would be smoother if e.g. the Plugin refuses to act

[2018-11-23 16:41] jcklpe commented on #156
Personally I'm talking about uploading videos.

[2018-11-24 02:43] jeffpaul opened #169 "Contributing guidelines missing"
People want to help, but how can they?  Let's add a file to help give details on contributing to Block Lab.

[2018-11-24 03:02] jeffpaul opened #171 "Issue Template missing"
Let's give folks an idea of the type of information we'd like when filing an issue.  Oh wait, we need an issue template for that.  Help us Batman, ~Gotham~ Block Lab needs you!

[2018-11-24 03:13] jeffpaul opened #173 "Pull Request template missing"
The community wants to help.  Code?  Likely.  Docs?  Maybe.  Tests?  Oh man that's awesome!  But wait, they don't know how best to submit changes or additions to Block Lab.  Let's give them a PR Template so they know what we ideally get from them!  🍻

[2018-11-24 23:32] #171 closed, assigned to nobody

[2018-11-24 23:33] #173 closed, assigned to nobody

[2018-11-25 02:49] #169 closed, assigned to nobody

[2018-11-25 02:49] #163 closed, assigned to nobody

[2018-11-26 03:02] lukecarbis opened #176 "Inconsistent naming of post slug"
Post slug should be named `slug` in documentation as well as helper functions, and everywhere else.

[2018-11-26 12:38] AdsonCicilioti commented on #36
Please!

[2018-11-26 19:12] audetcameron commented on #153
fantastic!

[2018-11-27 21:50] RobStino opened #178 "HTML Tags being merged in the Gutenberg Editor"
### Prerequisites

* [X] Put an X between the brackets on this line if you have done all of the following:
    * Checked that you're using the latest version of Block Lab: https://github.com/getblocklab/block-lab/releases
    * Checked the FAQs for common solutions: https://github.com/getblocklab/block-lab#frequently-asked-questions
    * Checked that your issue isn't already filed: https://github

[2018-11-28 18:42] ibes opened #179 "Is there a way to export blocks to code?"
I gave block lab a test run and it seems like a very helpful and needed plugin to have around.

I am used to using ACF (Advanced Custom Fields) which you likely know (if not - if would be good to get familiar with it).

In ACF I can create Meta Fields similar to how I can create Blocks with Block Lab.

When using ACF I always export my fields to code - even if I prefer to modify the fields in the

[2018-11-29 03:15] #160 closed, assigned to nobody

[2018-11-29 03:15] #162 closed, assigned to nobody

[2018-11-30 22:08] camya opened #181 "Field "Select": Different values in Gutenberg preview (array) / Website preview (string)"
(I found this issue in the **no-mock-attributes branch**. #180 - Not sure, if it's also in the develop branch.)

Looks like there is a small problem with the return values of the select fields.

I get different data via "Gutenberg preview" (array) and "Website preview" (string).

### Steps to Reproduce

1. Create a publisher "select" field. The choices are:

[code]

2. Create PHP template with thi

[2018-12-02 10:30] lukecarbis commented on #181
Note that the expected behaviour _should be_ that a select returns an array every time (not a string), so that multiselect is always supported.

[2018-12-02 12:30] camya commented on #181
I'm not sure about returning an array all the time.

The Block-Lab Developer designs the form and specify, if a select field is single or multi. Also he creates the template with his design decision in mind.

I guess, "single select" fields are used more frequently than multi select ones. Handling an array value in the template every time makes templating more complicated than handling a simple st

[2018-12-03 01:36] lukecarbis commented on #181
Good point.

Maybe it makes most sense to have Select and Multiselect as different input types.

OR we could use Multicheckbox instead (overriding the current single checkbox).

Any thoughts @RobStino ?

[2018-12-03 01:44] lukecarbis commented on #179
Totally agree this should be surfaced in the UI. Right now, this feature _sort of_ exists. The `post_content` of a block is just json data, and if you throw that in a file in your child theme at `blocks/blocks.json`, then the blocks will exist in Gutenberg.

But this ticket stands aside from that feature, as we need to create a UI for importing and exporting.

[2018-12-05 01:55] #168 closed, assigned to kopepasah, lukecarbis

[2018-12-05 02:36] RobStino commented on #181
@greenphp makes a good point about simplifying for single select.
I think we should take the single>string, multi>array approach for both the select field as well as the checkbox field (noting that there is no current support for multi-checkboxes).
The question now is:
- Do we have a single field type that offers an option that "switches" between single and multi (this would effect templating), or

[2018-12-05 02:38] lukecarbis commented on #181
I think we offer separate field types, to reduce confusion.

The other questions are:
- Do we offer a multiselect and a multicheckbox (what’s the use case for needing both?)
- If we have a multicheckbox and a toggle field, do we need a single checkbox?

[2018-12-05 02:42] RobStino commented on #181
**Do we offer a multiselect and a multicheckbox (what’s the use case for needing both?)**
Use case is multicheckbox is good for a short list. Multiselect is good for a long list I.e. Countries
**If we have a multicheckbox and a toggle field, do we need a single checkbox?**
Perhaps we remove single checkbox. If you really want a single checkbox for UX, you can just do a single option on a multichec

[2018-12-05 07:35] kopepasah opened #186 "Editor Fields and Setting Fields should be separate."
One thing I noticed in the block settings is the combination of the editor and settings (inspector) fields. Because these represent two different ways to manage data, these should be separated out into each's own separate table.

To further distinguish the difference between a "field" and a "setting" we could use the Setting word on the second table.

<img width="963" alt="screen shot 2018-12-05 a

[2018-12-05 07:49] kopepasah opened #187 "Add ESLint Config and Standards"
This issue will track the adding of ESLint and JavaScript coding standards checks.

[2018-12-05 11:36] camya commented on #186
I really like the idea. This makes designing the forms more clear also more easy to sort the fields correctly.

I'm not sure about the wording and distinguishing between Field and Settings in the table header. All Fields are "Fields" and don't really differ because of their current location. I think, the table header labels should be the same for both tables.

**Maybe it's better to add a small He

[2018-12-05 11:50] RobStino commented on #186
We did look at this when we originally looked at letting users add fields as settings (to the inspector).
Being that there is not functional difference to what fields can be added between the 2 areas, we felt separating them in to 2 seperate sections was unnecessary, with the current `select` option being sufficient.

My general opinion is the simplicity offers the most flexibility. I.e. you may p

[2018-12-06 12:16] lukecarbis commented on #181
Resolved in #185.

[2018-12-06 12:16] #181 closed, assigned to nobody

[2018-12-06 22:23] RobStino opened #191 "Lost validation red-border on fields in editor"
Noticed this after the 5.0 update.
The red border @kopepasah implemented for visual validation warning on the relevant field types (URL, Email) is no longer there. We get the _pop-up_message, but no longer red border.

[2018-12-06 22:29] RobStino opened #192 "Escaped characters issue in Select Field"
I created a Select field with the following values and labels:

gday : G'day
ciao : Ciao

The apostrophe in the the first option was escaped `\` in the label in the editor.
See screenshot below
![image](https://user-images.githubusercontent.com/1578148/49615683-112b7100-f9fa-11e8-8e58-29eea0eb06c0.png)

[2018-12-06 22:40] RobStino commented on #192
Added G'Day to a couple other fields:
- Text Default value
- Radio option

Same issue occurred.

[2018-12-07 02:31] #178 closed, assigned to lukecarbis

[2018-12-07 03:47] RobStino commented on #15
![](https://github.trello.services/images/mini-trello-icon.png) [New Field - Media](https://trello.com/c/zWDy1rFm/15-new-field-media)

[2018-12-07 04:16] lukecarbis commented on #191
Resolved in #190.

[2018-12-07 04:16] #191 closed, assigned to nobody

[2018-12-09 14:06] camya opened #195 "Multi-Select Control: "Undefined index: items" from rest-api.php"
Hello,

I tested the new Multi-Select control implementation. Unfortunately I receive an error
**"Notice: Undefined index: items"** from the Rest API. (See full error output below!)

### Field config:

**Choices:**

[code]

**Default value:**

`news`

### Error output

[code]

[2018-12-09 14:17] camya opened #196 "Multi-Select Control: Automatically adds "Default Value""
Hi,

1. I create a "Multi-Select" field and add choices.
2. I don't want to add any default values.

### Problem:

At the moment, the system **automatically adds a default value**, if there is no one assigned.

### Expected behavior:

A user can setup a "Multi-Select" field without default value.

### Example data for choices:

[code]

[2018-12-09 14:28] camya opened #197 "Select control: Problem with spaces between "key : value" of choices"
Hi,

at the moment, it's only allowed to add a choice in the format

`key[SPACE][COLON][SPACE]value`

eg.

`news : News`

The spaces are required.

### Problem:

- If a user misses to add a space, the frontend output is `:value`.
- It's easy for new users to miss the requirement of spaces before and after the colon.

### Suggestion:

Please also allow to complete skip the spaces!

Allowed key:valu

[2018-12-11 04:22] lukecarbis commented on #195
@greenphp Could you tell me how you're making the API call, what it looks like, what you're expecting, etc.?

[2018-12-11 05:21] lukecarbis commented on #197
I think we would have to rehaul the entire format of inputting data here. What if I wanted to use the colon in my option labels?
[code]

[2018-12-11 08:07] #192 closed, assigned to lukecarbis

[2018-12-11 16:31] annestk opened #203 "Number field reverts to default value after refresh"
When using a block with the Number Field Type, it works as expected upon entering a number, updating, previewing etc.

But when I refresh the page/come back to edit the post, the number field has reverted to the default value.

I tried leaving the default value empty, but then it's set to 0 automatically (Kinda like #196 with multi-selects)

**Version:** I'm using WordPress 5.0 and BlockLab 1.1.0.

[2018-12-11 22:13] camya commented on #195
@lukecarbis I don't make the API call. Looks like its called automatically, if the block preview is build. But I'm still not sure, if this is only a problem in my environment.

At the moment, it looks like the `rest_validate_value_from_schema()` function  (See Line 1121 of `\wp-includes\rest-api.php`) needs `$args['items']` for the **type "array"**.

Because this is not set, I get the `<b>Notice</

[2018-12-12 00:42] lukecarbis commented on #203
Thanks for the bug report @annestk – will release a fix this week.

[2018-12-12 00:48] lukecarbis commented on #195
@greenphp Thanks for the detailed info. I can see the part of `rest_validate_value_from_schema` you mentioned.

I've setup a multiselect with the choices and default value you suggested, but can't replicate the problem. So far I've tried adding the block to a post, creating a template for the block, and checking it on the front end.

Can you please provide instructions on how to replicate the prob

[2018-12-12 07:21] camya commented on #195
@lukecarbis I'm working on a **local Dev-Enviroment** with default activated internal WordPress debug mode in wp-config.php (`define('WP_DEBUG', true);`) in order to see problems while developing a feature in PHP.  Maybe that's why you don't see the Error/Notice?

If I deactivate the debug mode, it looks like everything works fine. If I activate it, I receive the notice, which breaks the functiona

[2018-12-12 09:09] annestk commented on #203
@lukecarbis great!

Thank you for making a tool that allows someone like me (who barely knows anything but HTML and CSS) to play with Gutenberg blocks 😄

[2018-12-12 21:13] lukecarbis commented on #195
Ah, yes, that's it. Didn't have `WP_DEBUG` on. Rookie mistake. I was able to replicate this.

[2018-12-13 11:43] RafaArjonilla commented on #156
This would be great. I am looking for wrapping Youtube Iframes in order to style them. Also Twitter Embeds, as you say to control exact placement.

[2018-12-14 01:58] #203 closed, assigned to lukecarbis

[2018-12-14 01:59] #196 closed, assigned to lukecarbis

[2018-12-14 02:28] RobStino commented on #157
Hey @jcklpe
If you're able, would love to have some more details on what you're describing.

[2018-12-14 02:28] RobStino commented on #156
Cool!
We've got both an oEmbed field as well as a video upload field in our roadmap.
Thanks for the suggestions!

[2018-12-14 07:07] jcklpe commented on #157
@RobStino

Since posting this I've started getting my hands dirty and I think my original wording here is probably a little off. I actually did a tutorial for making nested blocks and while conceptually it's similar I think the more accurate term I would be a repeater control type. Some kind of control in which multiple other controls could be grouped inside as a unit. This is similar to how an In

[2018-12-14 10:12] RafaArjonilla commented on #156
Wonderful!

[2018-12-15 14:08] gfazioli opened #208 "Preview php file is not loaded"
Hi, great plugin, but seems that the `blocks/preview-{slug}.php` file is never loaded.

I checked a couple of functions there, for example, `block_lab_template_part()` and the second args `type` is always set to `block` and never on `preview`

Thx in adv

[2018-12-15 14:28] gfazioli commented on #208
Humm ok, I found
[code]
so, this means, now `preview` is not supported

[2018-12-16 10:12] cameronjonesweb opened #209 "Add option for field value to be stored as post meta"
This would be a useful feature as I'm sure you would imagine.

[2018-12-16 22:24] RobStino commented on #209
I like this a lot!

[2018-12-18 15:02] digitall-it commented on #15
I second that request, a new field of type Media. It should come with cutting/resizing helper functions.

[2018-12-19 13:05] lmp-computopic opened #210 "Wrapper blocks"
How do can we wrap other blocks in our custom blocks?

I'd like to have a block type that simply creates a border around it's content (which can be other gutenberg blocks of content) - but I can't find a way to do this?

[2018-12-19 15:36] audetcameron commented on #210
I ended up making a custom block that was just a string and in the string used my opening div  and another one with closing div below my blocks.

[2018-12-19 16:21] audetcameron commented on #208
There are docs for preview | https://github.com/getblocklab/block-lab/wiki/Creating-Preview-Templates

Is this not working yet?

[2018-12-19 16:41] gfazioli commented on #208
@audetcameron it seems not working atm, `preview-` is never used 😞

[2018-12-19 21:30] audetcameron commented on #208
I did a little workaround with admin only css and front end css to show and hide fields.   It worked for now but I really look forward to the preview template taking control.

[2018-12-19 21:33] lukecarbis commented on #210
That's not a bad workaround. Another could potentially be to "recreate" the blocks that you want wrapped, but include an option to add a border.

Besides this there's not any real way of doing that in the plugin at the moment, and we've not got any plans to introduce this.

[2018-12-19 21:33] #210 closed, assigned to nobody

[2018-12-20 07:21] lmp-computopic commented on #210
@audetcameron - thanks for the workaround could you share a fairly complete example?
I'm new with WordPress (coming from Drupal among other things)

@lukecarbis - understandable - In my case I need a border around some elements + a Gutenberg provided button

[2018-12-20 07:27] lmp-computopic commented on #210
@audetcameron - ah sorry - I get your idea now - thanks for the hint

[2018-12-20 13:14] camya opened #212 "Field Multiselect - No selection returns array with element 0. (false)"
Hi,

I created a multi-select field with 3 choices. If I don't select any of them, I nevertheless get an array with a first array element as result in the template output.  (See screen shot below)

**Expected behavior:** I receive an empty array.

**1. Don't select any select option:**

![image](https://user-images.githubusercontent.com/827658/50286708-8ff3c580-0460-11e9-8954-45f55537721b.png)

**

[2018-12-20 16:34] audetcameron commented on #210
Sure thing:     example:     In block lab I created a new block called htmlwrapper with a single text field called htmlwrappertag.      I created my block template
[code]

Then in my main style.css I added
[code]
In functions .php I added
[code]

the extra little bit makes it so in the editor you can see the code  but the front end doesn't see it.

![wordpress-trick](https://user-images.githubuser

[2018-12-21 11:06] gfazioli commented on #208
fixed in 1.1.1

[2018-12-21 11:06] #208 closed, assigned to nobody

[2018-12-29 21:30] sanjay51 commented on #20
Hi Luke, quick question: Is this happening anytime soon?
Thank you.

[2018-12-29 23:26] lukecarbis commented on #20
Hi @sanjay51 – this is likely to be one of the last control types we implement. The next release will include colour and (hopefully) media.

[2019-01-03 15:13] gfazioli opened #213 "Filter block_categories not working"
The following code seems not working for me:

[code]

are you using the filter above to get the categories block?

[2019-01-03 23:39] lukecarbis commented on #213
Sorry! Really need to get in there and update the docs. Block categories can no longer be filtered because Gutenberg doesn't support custom categories anymore (or, at least, they're discouraged), so we removed that functionality from Block Lab.

[2019-01-03 23:39] #213 closed, assigned to nobody

[2019-01-07 13:32] Jebble commented on #213
Gutenberg most certainly supports custom categories. the block_categories filter is documented and the custom categories are working on WP 5.0.2.

You should include custom categories in Block Lab

[2019-01-07 21:41] lukecarbis commented on #213
@Jebble @gfazioli Ah, did some searching and found what you're talking about. Docs here: https://wordpress.org/gutenberg/handbook/designers-developers/developers/filters/block-filters/#managing-block-categories

It used to be that custom categories were defined during block registration. Turning on custom categories for Block Lab will require a creative workaround during the registration process t

[2019-01-07 21:42] lukecarbis opened #215 "Custom block categories"
Support for, and ability to define, custom block categories.

https://wordpress.org/gutenberg/handbook/designers-developers/developers/filters/block-filters/#managing-block-categories

[2019-01-07 23:02] lukecarbis opened #216 "Allow negative numbers for number and range fields"

[2019-01-10 04:00] #32 closed, assigned to lukecarbis

[2019-01-10 09:40] ChrlyDevedson commented on #20
That's too bad

[2019-01-15 10:56] MichaelEnkirch commented on #15
Whats the state here? The Trello Link is "empty". This is such a needed field!

[2019-01-15 21:47] RobStino commented on #15
Hey all. :)
Working on this field right now! We were initially planning on having this released with the `Color` field, but didn't quite get there. Expect to see it within the next few weeks though.

_Sneak Peek_
![image](https://user-images.githubusercontent.com/1578148/51212006-e02c4d80-1962-11e9-8ece-3ad17bc813bc.png)

[2019-01-17 10:57] camya opened #219 "Prefix "Block Lab" functions with the "blocklab_" to avoid fatal errors."
**Problem:**
Many of "Gutenberg Block" related plugins are using the generic "block_" prefix for their function names. This could become a problem rapidly with fatal errors because of re-declared function names.
The function names like block_value(), block_field(), block_config() are too generic.

**Suggestion:**
Please prefix all "Block Lab" functions consistently with the "blocklab_".

Examples:

[2019-01-21 10:45] lukecarbis commented on #20
@sanjay51 @ChrlyDevedson I lie! Working on it now. Not as hard as I had anticipated.

[2019-01-21 22:20] #15 closed, assigned to lukecarbis

[2019-01-23 23:58] RobStino opened #223 "Color Picker Pop-up persists when it shouldn't"
Noticed that the color picker doesn't disappear when clicking away under certain circumstances.
Video demo of the bug -> https://d.pr/v/g3OlGV

[2019-01-25 00:58] lukecarbis commented on #223
@RobStino I should be able to fix that. Should I, or are we going to give up on pursuing this particular rich text implementation?

[2019-01-25 11:21] camya opened #225 "Textarea: Control field option to set "Rows" (Default 4)"
At the moment, the Textarea is rendered with only 4 rows. (`<textarea rows="4">`) This is often too short and leads to heavy scrolling, if you write more text.

Please add a new control field option for "Textarea":

**Textarea rows** `[ 4 ]`

The default value should be 4.

[2019-01-25 12:03] camya commented on #212
I tested this again and found a strange behavior. The **wrong output appears only on initial preview!**

**Initial preview without modifications:**
The wrong array output only appears, if you initially preview your Block Lab form without any modifications of the data made.

[code]

**Preview with selected options, than deselect all:**
If I select some options of the multi-select - than preview it

[2019-01-31 13:38] marselgray opened #226 "Variable declarations appearing on Front End"
When I declared some variables and then attempted to manipulate them, I noticed they were appearing in the Front End.

[code]

![screen shot 2019-01-31 at 8 37 12 am](https://user-images.githubusercontent.com/37955946/52057605-73ed4480-2533-11e9-89b5-fe41b5ff87a2.png)

I managed to hide them by wrapping them in a p tag with display: none; as the styles. But I'm wondering if there is 1) another way

[2019-01-31 17:31] camya commented on #226
Hi @marselgray,

just replace block_field() with `block_value()` and it will work.

`$video_one = block_value('video-one-url');`

Use block_field() function only, if you want directly echo a Block Lab field.

[2019-01-31 21:42] lukecarbis commented on #226
Thanks @greenphp – that's it exactly.

[2019-01-31 21:42] #226 closed, assigned to nobody

[2019-01-31 21:55] marselgray commented on #226
Thank you so much for the help!

[2019-02-01 10:02] finnruijter opened #227 "Update documentation"
I'm missing a lot of fields documentation in the Wiki. Fields like image for example.

[2019-02-01 11:19] finnruijter commented on #25
That would be great!

[2019-02-01 17:59] kadenmclaws commented on #227
I also have a request for a Documentation update. I am specifically trying to create a custom block that allows for addition CSS classes from the Gutenberg's block settings tab, under "Block" -> "Advanced" -> "Additional CSS Classes"

On displaying a block, there is the following example:

[code]

And I am looking for something such as:

[code]

[2019-02-18 14:33] tomjn opened #228 "No escaping in the docs"
Every single example in the docs is missing escaping. Since users tend to copy the code in the docs to be sure they're doing things right, this means most people using block labs will be running insecure code, unawares.

For example in the `block_field` documentation there's an insecure code example:

[code]

Which should be:

[code]

Every code example involving `echo` suffers the same security i

[2019-02-18 22:59] borayeris opened #229 "Arabic script error"
Error loading block: The response is not a valid JSON response.

[2019-02-20 00:40] #216 closed, assigned to kienstra

[2019-02-20 06:35] #225 closed, assigned to kienstra

[2019-02-21 07:28] lukecarbis commented on #227
@finnruijter Docs updated with all the latest blocks! Thanks for pushing me to do this.

@KillerPancakes Block Lab doesn't currently have a way of surfacing the data from the editor's native "Additional CSS Classes" field – but it should! I'll create a new issue for this.

[2019-02-21 07:28] #227 closed, assigned to nobody

[2019-02-21 07:31] lukecarbis opened #236 "Additional CSS Class"
The WordPress editor natively includes a "Additional CSS Class" field in the Advanced section of every block. It should be possible to retrieve the value of this field when creating a template (using a helper function).

Possibilities include:
- A custom helper function (i.e. `block_additional_css_classes`)
- Including the CSS classes with the `block_config()` help function

Props @KillerPancakes

[2019-02-21 07:34] lukecarbis commented on #228
Yes, I've been very aware of that, but also trying to balance making the code as accessible as possible for those new to PHP. Trying to keep things simple. For example:

[code]

becomes

[code]

Do you think adding a paragraph on escaping at the top of the page would be a good balance? Is there another solution?

[2019-02-21 07:38] lukecarbis commented on #219
I understand the concern. If there's another plugin that becomes very popular that does this, we'll implement a safeguard, but for now we'll leave them as is for two reasons:
1. Simplicity
2. It would break existing sites

ACF uses `get_field`, and gets away with it because it's so ubiquitous. Our goal is to be just as well known!

[2019-02-21 07:38] #219 closed, assigned to nobody

[2019-02-21 12:07] tomjn commented on #228
I think that have declarative functions that output is great, my only
concern is that the block_field function is unaware of its context and
can't guess the correct escaping function except in some cases

So instead Id suggest adding variants for various data types eh
block_field_attr block_field_url block_field_kses_post block_field_html etc

As for escaping I'd include it then say something like

[2019-02-21 14:02] markusb commented on #50
Just want to say that I'm looking for the same functionality. Block lab is an excellent way to quickly create a new block, but I'd want the new block to be in a custom plugin and not tied to block lab. This allows me to develop in my dev environment and move just my custom plugin into production, with no other prerequisites.

[2019-02-21 14:04] markusb commented on #179
I'm looking for the same functionality as well. I'd like to create a custom block and export it to a custom, self-contained plugin. So I can move the plugin to where I need it without prerequisites.

[2019-02-22 06:51] #18 closed, assigned to rheinardkorf

[2019-02-28 16:13] ohlauren commented on #179
same!

[2019-02-28 16:41] hacknug commented on #179
It seems to be possible to import/export if you have a Pro license. From [their recently updated site](https://getblocklab.com/block-lab-pro/) (got my newsletter just this morning):

[2019-03-01 01:00] lukecarbis commented on #179
Yes, that's right. Import / Export are in the current Pro version. However, please note that this is a JSON export (to use a block on multiple sites), _not_ a code export.

[2019-03-01 22:42] Riverskiy opened #239 "Block not displayed"
If you use tag “more”, and try post content with strip teaser `<?php the_content(null, true); ?>` blocks are not displayed

[2019-03-02 17:16] pcfreak30 opened #240 "$block_lab_config global"
This is something that may be seen as a nickpick to some. But while WordPress uses globals everywhere, it is still known as a bad practice.

You have the function block_config() that fetches this. However, my suggestion is to make the config a static variable of that function (or possibly even its own class?). In the end, all changes to the config should go through a function. This will be modern

[2019-03-05 22:52] lukecarbis opened #242 "License Expiration"
We should probably handle pro license expiration better. Right now, there's a PHP notice if a 'pro' control like 'user' isn't available:
<img width="1231" alt="53790835-799cc800-3eed-11e9-90bc-c65f9247839d" src="https://user-images.githubusercontent.com/1097667/53843107-227e1c80-3fed-11e9-8e75-1594fdf5e220.png">

[2019-03-07 00:16] lukecarbis commented on #195
@greenphp I'm really sorry – I know we've been back and forth a lot already. I just circled back around to this, and of course, I'm having problems replicating it again.

I know we did a good amount of work on validating the output recently – could you please check to see if you're still affected by this issue?

[2019-03-07 04:25] lukecarbis commented on #240
I agree that this could be handled better, but I don't think the `$block_lab_config` and `$block_lab_attributes` variables should become parameters of the `Plugin` class – mostly because they're used very temporarily. I'm not sure on a better approach though.

[2019-03-07 20:02] lensco opened #244 "Getting an "Error loading block: Invalid parameter(s): context" in editor"
Just added a new block, and displaying the block contents in the editor shows me an `Error loading block: Invalid parameter(s): context` message when not focused. Input, saving and displaying on the website all work fine.

[2019-03-07 20:19] lukecarbis commented on #244
Thanks for reporting @lensco . I've seen this popup in development before, but not on the current version of the plugin. Could you please report back with:
- Your WordPress version
- Your Block Lab version
- Whether or not you're using the Gutenberg plugin
- Your blog config?

[2019-03-07 20:26] lensco commented on #244
I'm working on a local (Mac) machine here with Wordpress 5.1 and Block Lab 1.2.0. Using the default block editor, and a mostly vanilla Wordpress install. Anything else you need to know?

[2019-03-07 20:28] lukecarbis commented on #244
What fields are in your block? What settings did you use? I'll try to replicate the issue so that I can fix it.

[2019-03-07 20:37] lensco commented on #244
Setup is super simple:

<img width="1135" alt="setup" src="https://user-images.githubusercontent.com/246481/53987081-3d9d7900-4120-11e9-9dbf-427e6c15b67f.png">

The block template is this:
[code]

[2019-03-07 23:00] pcfreak30 commented on #240
I didnt say that they needed to be parameters, just at minimum static varibles inside a function. Crude example.

[code]

Basically, it should at least be encapsulated, and going farther, be its own class.

Thoughts?

[2019-03-07 23:22] lukecarbis commented on #240
Makes sense. Having a `Data` or `Data_Store` class would be the way to go. Seems like overkill just to remove two global variables, but I agree it would be better practice. Unfortunately, I've got to give this one a pretty low priority.

[2019-03-08 10:29] RobStino opened #245 "No access error on "Go Pro" page once license is activated"
I noticed today that when you activate your Pro license via the "Go Pro" page in the WP Admin, once it's activated you get a "You can't access this page" style error. I think this is because the page disappears once the license is activated, but it doesn't redirect elsewhere and instead tries to reload the page.
A simple solution for this would be to redirect to the Settings page after license act

[2019-03-09 15:49] ghost opened #246 "Placeholder/drag and drop text designer"
Hi there,
recently got an idea for a new block type that would be awesome to have:

First you create a data set in the wordpress database e.g. with your own custom plugin.
Then you can access this items via drag and drop in a Gutenberg block and drag them into a text. So basically the output would be a mix of text and placeholders. Now if you change the content of the placeholder lets say with you

[2019-03-10 21:50] #195 closed, assigned to lukecarbis

[2019-03-10 21:50] #212 closed, assigned to nobody

[2019-03-11 14:35] paulkirspuu commented on #157
I believe Gutenberg native block `Column` is what one would imagine when talking about nested blocks. Illustrative image of usage, https://i.snag.gy/cmx3Hw.jpg.

This kind of block type would be useful to have in Block Lab to build layout elements easily.

[2019-03-12 04:54] lukecarbis commented on #246
This is a great idea. An MVP version of this might be a simple block of text, with Select dropdown menus dispersed throughout. The values of the select dropdowns could be defined in the field options.

[2019-03-12 04:56] lukecarbis commented on #244
@lensco Looking at this again and having trouble replicating the problem. How did you install Block Lab? From the WordPress.org repo, or by downloading it from Github?

[2019-03-12 05:12] lukecarbis commented on #229
I'm having trouble replicating this error. Here's some screenshots of how I've got my block setup, and it seems to work fine.

![Screen Shot 2019-03-12 at 3 11 12 pm](https://user-images.githubusercontent.com/1097667/54176095-21f7f100-44d9-11e9-8b6b-ab4f5ca6c1cb.png)
![Screen Shot 2019-03-12 at 3 09 38 pm](https://user-images.githubusercontent.com/1097667/54176097-23291e00-44d9-11e9-827d-d458007f3

[2019-03-12 05:15] lukecarbis commented on #229
I also tried with my WP Admin set to Arabic, without problem.

![Screen Shot 2019-03-12 at 3 13 44 pm](https://user-images.githubusercontent.com/1097667/54176192-9599fe00-44d9-11e9-872a-04a01229bcba.png)
![Screen Shot 2019-03-12 at 3 14 10 pm](https://user-images.githubusercontent.com/1097667/54176194-96cb2b00-44d9-11e9-951a-ad451ea65bcb.png)

[2019-03-12 05:29] lukecarbis commented on #239
Can confirm this error exists on a `single` template, when using `the_content(null, true);` to display post content. Changing to `the_content(null, false)` fixes the problem.

I'll try to figure out why stripping the teaser content removes _all_ blocks from the post.

[2019-03-12 06:27] lukecarbis commented on #239
Turns out that this is in fact a core bug, not a Block Lab bug. I've filed a trac ticket, and will create a patch for it shortly. https://core.trac.wordpress.org/ticket/46471

[2019-03-12 06:27] #239 closed, assigned to nobody

[2019-03-12 08:29] AlessandroFerrariFood commented on #36
I think this is the main missing piece.
Please!

[2019-03-12 08:56] lukecarbis commented on #36
Couldn't agree more. It's very high priority.

[2019-03-12 11:25] MattKevan opened #247 "Is it possible to use standard image presets when outputting images?"
It would be great use the built-in image presets to display images.

For example an option in the inspector to select an image preset, or to print images in a template using a preset.

Something like ```<?php block_field( 'image_field','image_preset' ); ?>```

[2019-03-12 17:54] lensco commented on #244
I'm not 100% sure anymore, but I think I got it from Github and installed manually.

[2019-03-12 21:11] lukecarbis commented on #244
That might explain it. When using the sources from Github, you need to manually run `npm install`, then `npm build` before the javascript and css is properly compiled.

[2019-03-12 21:12] lukecarbis commented on #247
Could you describe more about what you mean by a preset? What would be the expected output?

[2019-03-13 00:37] AdsonCicilioti commented on #36
![65cd775ce3efaaaf54cfaf0098f1b8cb_256](https://user-images.githubusercontent.com/6278398/54245278-f8f25300-450e-11e9-969f-b790fe11e123.png)

[2019-03-13 14:01] danielpickett commented on #36
Yes! Very high priority. This is the only reason I won't use BlockLab for my current task: a logo slider where I would need the user to be able to add any given number of images to the block.

[2019-03-13 14:37] lensco commented on #244
I have removed the plugin and reinstalled straight from the Wordpress backend, and I'm getting the same error. Is there anything that needs to be reset?

[2019-03-13 23:12] lukecarbis commented on #244
When you say the "WordPress backend", what exactly do you mean? Uploading a zip into WordPress won't help.

The best way of installing the plugin is to go to the WP Admin, then Plugins > Add new, search for "Block Lab" in the Plugin repo, and then Activate it.

I'll update the README to reflect this, as currently it's inaccurate.

[2019-03-13 23:16] lukecarbis commented on #244
See #248.

[2019-03-14 03:11] lukecarbis opened #249 "Docs describing how to include CSS styles"
There are a couple of ways of including CSS styles for custom blocks, which should be covered in the docs:

- [ ] Including the CSS with the block template file itself
- [ ] Including the CSS in the primary stylesheet and an editor stylesheet
- [x] Including the CSS in a separate stylesheet

This should cover enqueuing scripts in the admin too.

[2019-03-14 03:12] lukecarbis opened #250 "Auto-enqueue styles"
If I have a stylesheet called `blocks/block-{block-name}.css` in my theme, then it should be enqueued automatically!

[2019-03-15 05:38] rolandso commented on #157
I have the same problem, i want to create layout components to create a grid. Simple example is described here:

[2019-03-15 11:07] Artaud commented on #244
I got a very similar issue that I can reproduce reliably.

How to reproduce:
1. Create any block in blocklab (even a super simple block with one text field, that just renders the text)
2. Add the block to a page
3. **Add a custom CSS class to the block** using the Gutenberg block settings menu (Block > Advanced)

2. Result
The block does not render in the editor, and throws "Error loading block: I

[2019-03-15 13:53] pagelab opened #251 "“Icon” control type"
Using icon fonts or, preferably, SVG.

[2019-03-17 09:55] lukecarbis commented on #251
This would be tough, since presumably every site would need a different set of icons.

A workaround would be to create a select dropdown with the icon names.

[2019-03-17 10:01] lukecarbis opened #252 "block_field() strips out new lines from textarea input"

[2019-03-17 10:04] lukecarbis opened #253 "Adding custom CSS causes error"
I got a very similar issue that I can reproduce reliably.

How to reproduce:
1. Create any block in blocklab (even a super simple block with one text field, that just renders the text)
2. Add the block to a page
3. **Add a custom CSS class to the block** using the Gutenberg block settings menu (Block > Advanced)

2. Result
The block does not render in the editor, and throws "Error loading block: I

[2019-03-17 10:05] lukecarbis commented on #244
@lensco I've just tried rebuilding your block exactly as you have described, and I can't replicate the error. Can you please confirm that you installed Block Lab from the WordPress plugin repo, and not from Github?

@Artaud I was able to replicate this problem, but decided to create a separate ticket to discuss it.

[2019-03-17 10:15] lensco commented on #244
Yes, I installed from the Wordpress plugin repo. However, I just tested some more, and I think my issue is simply with the length of the contents of the field? When I shorten the text I paste in the transcript field, it renders just fine in the editor. Are there any limits here?

[2019-03-17 10:20] lukecarbis commented on #244
@lensco At 6000 characters I get a "The response is not a valid JSON response" error, which I'm glad we've picked up!

But it's not the error you mentioned.

Perhaps you could drop the content you're trying to use into pastebin.com? It sounds like it might be a specific character.

[2019-03-17 10:29] lukecarbis opened #254 "Textarea limit of 6,020ish characters"
When putting more than 6,020 characters in a text box, the following error is displayed:

![2019-03-17 20-25-07 2019-03-17 20_27_06](https://user-images.githubusercontent.com/1097667/54488944-1d757300-48f3-11e9-87c2-48e8be157b2e.gif)

[2019-03-17 10:31] lensco commented on #244
Sure, here it is: https://pastebin.com/9yuS6z4R
It's a bunch of markdown, which I parse in PHP on display. The editor seems to parse it as well (when I shorten it).

[2019-03-17 21:37] lukecarbis commented on #244
I also get an error with that. It's a different error, related to word count, though.

Can you experiment to try to find out how much you can fit in the text box before it breaks? My experience has been somewhere between 5,500 and 6,500 characters.

[2019-03-18 07:23] #84 closed, assigned to kienstra

[2019-03-18 10:08] davidallenlewis commented on #157
Create a 1 column Gutenberg “Columns” block and then give it a class in the “Advanced” settings for stying purposes.

Also I built a site with ACF blocks recently and started off with one field as a repeater (an accordion) but then later decided to make it a single block (no repeater... one block = one accordion panel/toggle) since Gutenberg already has the ability to add as many blocks as you nee

[2019-03-18 10:41] davidallenlewis commented on #236
Would love it the native HTML Anchor field could be utilized as well

[2019-03-18 14:35] DieTapete opened #256 "Get attachment ID of image"
Hey, seems like it's not possible to get the ID of an image?! I would propose something like this:
[code]
Alternatively we can of course just return the whole WP_Post object.
[code]

[2019-03-19 01:45] lukecarbis commented on #236
@UnionDesign Not 100% sure what you mean – could you please elaborate?

[2019-03-19 01:55] lukecarbis commented on #256
That's a really nice format. As we grow the types of fields we'll have a need to do something like this. Here's another approach:

[code]

[2019-03-19 11:51] lensco commented on #244
I tried a whole bunch of different combinations, and no luck getting consistent numbers. Depending on the content, it fails somewhere between 11,000 and 12,000 characters. Thenk I checked word count and couldn't get anything consistent either. Weird.

[2019-03-20 09:21] AlessandroFerrariFood commented on #157
If I understand correctly this ticket suggest to support Guttemberg InnerBlocks.
It would be awesome!!
I already have an use case that currently I can't solve with block-lab.
I have a "fancy box" block. It support various stylings, colors, borders, optional title, etc. but I need to place inside not only text (richtext) but blocks too.

[2019-03-20 20:12] pagelab commented on #251
Specifically for icon fonts, an option is to load the icons from a json file generated by [Fontello](https://github.com/fontello/fontello/wiki/How-to-save-and-load-projects) or [Icomoon](https://icomoon.io/docs.html), as [this plugin here](https://codeb.it/fonticonpicker/#acf) does.

[2019-03-21 03:56] lukecarbis commented on #251
Suppose you were using Font Awesome in your theme, you could create an **Icon** select dropdown that had these values:

bacon : Bacon
bone : Bone
bread-slice : Bread
candy-cane : Candy Cane
carrot: Carrot
cheese : Cheese
cookie : Cookie
pizza-slice: Pizza

Then in your template, you could output the icon like so:
[code]

[2019-03-21 10:41] davidallenlewis commented on #256
In ACF what gets returned is controlled by the field configuration in the Dashboard. But I actually like this better though. That way if you ever want to or need to change what gets returned as you've developing a project you can just change that second argument instead of having to redefine the field config. Then again not all field types will require that second argument (only post type fields).

[2019-03-23 19:23] lmartins opened #261 "Ability to set block alignment / sizing options"
Hi, would it possible to allow blocks created with Block Lab to have the option to control the block with, as WP does it for example on a simple image block:
<img width="1244" alt="Image 2019-03-23 at 7 23 22 PM" src="https://user-images.githubusercontent.com/151981/54870636-3c677f80-4da1-11e9-9db4-6d43f9a4c1a4.png">

[2019-03-24 18:34] DieTapete opened #262 "Preview php file is not loaded."
Seems like this was an issue already and was fixed in 1.1.1. but I still can't get it to work. Could it be that this feature is broken again?

[2019-03-24 21:36] darrenbarklie opened #263 "Block only renders comment, not content"
Hi Luke,

Using the latest version, I believe my setup is correct, however encounter the same issue in two separate WP environments.

The plugin correctly identifies the block template, however I can't get my post content to render through to the frontend.  The content is pulled through as comments that can be viewed via the console, but none of the HTML is respected.

Appreciate any support/guida

[2019-03-24 22:58] lukecarbis commented on #261
May as well include in the same issue, there should be the ability to toggle alignment controls, too.

[2019-03-24 22:59] lukecarbis commented on #263
Are other blocks working?

What happens if you remove the comment at the top of your template?

[2019-03-24 23:24] lukecarbis commented on #262
Seems to work okay for me. What are you using for the filename, and where are you putting the template?

![2019-03-25 09-12-14 2019-03-25 09_18_39](https://user-images.githubusercontent.com/1097667/54887454-03352980-4edf-11e9-92df-fb806f2a353b.gif)

[2019-03-25 01:12] moinzaman opened #264 "Adding a function in PHP code inside template file throws fatal error"
Steps to reproduce:

1. Create a block with any field(s)
2. Create a `block-{name}.php` for block to use
3. Use this block in a page or a post and save.
4. Put any function in a php block in the template file. Like this:
[code]
5. Now navigate to edit this page from `wp-admin`
6. See fatal error like so:
![image](https://user-images.githubusercontent.com/505711/54889136-1a801100-4ef7-11e9-9445-142

[2019-03-25 01:24] lukecarbis commented on #264
This is simply because the template needs to be loaded more than once, so the function you're writing is redeclared, causing the fatal error.

I'd recommend putting these sort of functions in your theme's `functions.php` file, or in a plugin, not in the template itself.

I can't imagine a good reason for putting a function in a template, but if there is one, simply wrap it in a `function_exists()`

[2019-03-25 01:24] #264 closed, assigned to nobody

[2019-03-25 07:18] darrenbarklie commented on #263
I created a new block with only the minimal code, but as before the content is only pulled as JSON in the comment.

![image](https://user-images.githubusercontent.com/3026261/54901238-c6146b80-4ecd-11e9-81bd-f655546d32cb.png)
![image](https://user-images.githubusercontent.com/3026261/54901344-11c71500-4ece-11e9-8d3a-182fc4d06f2a.png)

[2019-03-25 09:28] DieTapete commented on #262
Alright, thanks for the video. I used the format `preview-block-[blockname].php` instead of `preview-[blockname].php`. Maybe an example name in the documentation would help other people not to get confused.

[2019-03-25 09:55] DieTapete opened #265 "Feature Request: Selected State as Preview"
Would be cool if there was an option to show the block always in it's selected in the preview. It would remove the neccessity to create a specialized preview view for complex/large blocks.

[2019-03-25 09:58] lukecarbis commented on #262
Glad that got it sorted @DieTapete! The preview format has been added to the wiki here: https://github.com/getblocklab/block-lab/wiki/3.-Displaying-custom-blocks#block-previews

[2019-03-25 09:58] #262 closed, assigned to nobody

[2019-03-25 10:00] lukecarbis commented on #263
@darrenbarklie Do you have any javascript errors in your console?

Can you try disabling all other plugins and see if that fixes the problem?

Can you also try switching to a default theme and see if that helps?

[2019-03-25 11:48] darrenbarklie commented on #263
@lukecarbis No JS errors.  Reverting to the base theme did cause the content to render correctly:

![image](https://user-images.githubusercontent.com/3026261/54917274-5c0ebd00-4ef3-11e9-9a79-cad5864a418d.png)

My custom theme was based off the Automattic starter theme [Underscores](https://underscores.me/).  Strange that it wouldn't facilitate this.

I'll continue to debugging this with against a

[2019-03-25 12:00] darrenbarklie commented on #263
I can confirm that the blocks continue to work with default underscores theme.  Edits to my custom theme must be causing the issue.  Will continue to investigate and close the issue.  Thanks for the prompts @lukecarbis

[2019-03-25 12:00] #263 closed, assigned to nobody

[2019-03-25 13:42] rheinardkorf opened #266 "Align build workflow with that of Gutenberg 5.3+"
New official recommended build workflows have been introduced with Gutenberg 5.3. It would be good to align the BlockLab build process.

See: https://make.wordpress.org/core/2019/03/25/building-javascript/

[2019-03-25 16:32] kienstra commented on #266
Nice, thanks for opening this!

[2019-03-26 01:21] lukecarbis opened #267 "If Block Lab isn't available in your language, show a notice"
It would be cool if we could tell whether Block Lab has a translation for your WP install language, and if not, create a notice with a call to action to "Add your Language".

[2019-03-26 17:23] darrenbarklie commented on #263
I discovered I had called `get_the_content();` instead of `the_content();`.

[2019-03-26 23:02] lukecarbis commented on #265
Great idea. :)

[2019-03-27 12:10] lukecarbis commented on #245
@RobStino Can you please double check this? On my install it redirects to the settings page.

[2019-03-27 12:12] lukecarbis commented on #254
The max number of characters seems to vary. It's more likely that it's a filesize (kb) limit.

[2019-03-27 12:12] lukecarbis commented on #244
Closing this in favour of #254.

[2019-03-27 12:12] #244 closed, assigned to nobody

[2019-03-27 13:23] paulkirspuu commented on #157
@lukecarbis hey. thanks for reopening this issue.
is this matter in queue for development? if yes, can you give a rough estimate on when to expect updates?

[2019-03-28 02:59] #250 closed, assigned to lukecarbis

[2019-03-28 02:59] #249 closed, assigned to nobody

[2019-03-28 04:08] lukecarbis commented on #157
@paulkirspuu We've got other priorities right now, including a post control, taxonomy control, rich text control, and repeater. Partly, this is because we want to give Gutenberg some time to mature in this area before we try to extend it too much.

[2019-03-28 12:37] MattKevan commented on #247
Hi Luke, what I mean is being able to use one of the image presets defined in ```add_image_size()``` in functions.php to output an image.

[2019-03-28 12:47] MattKevan opened #270 "Error loading block: Cookie nonce is invalid"
I've just pushed my site from local to staging, and now most of the Block Lab blocks I created are displaying blank with the error ```Error loading block: Cookie nonce is invalid```. Blocks display fine on the front end, it's just the editor preview that's broken.

Looking in the browser web inspector I get a 403 forbidden error for each block that's not displaying.

`http://co-create.flywheelsite

[2019-03-28 13:23] lukecarbis commented on #270
@MattKevan I encountered this same error once while demoing Block Lab live to an audience, and I couldn't figure out what was going wrong. It ended up fixing itself, which made me wonder if there could be a cache or transient issue at work here.

Thanks for the instructions on how to reproduce the problem, I'll try to replicate it when I next get a chance.

[2019-03-28 13:27] lukecarbis commented on #247
@MattKevan We're currently reworking the way images are returned so that you can get the attachment post ID (#260). Once that's implemented, you can use `wp_get_attachment_image_src()` with the ID to pull down whichever size you like.

[2019-03-28 15:06] MattKevan commented on #270
Looking into it a bit deeper, only blocks with images have the problem. Delete the image and the error goes away, return the image and so does the error.

I found this applied to both newly-created blocks and ones that had been pushed to stage with the migration. I also have caching switched off, so I'd have expected the problem to have gone away by now if it was a cache issue.

[2019-03-28 23:20] Tarka-Dhal opened #271 "Feature Request: Layout elements (containers) with nesting."
Hello, first I have to say you are doing a great job. I really enjoy block lab and hope that it will be a great tool in future! I don't know if you are planning this feature but I didn't find it anywhere (only discussion here: #157). It would be great if you will add layout elements (containers) with nesting. For example: custom columns, containers, etc. - https://i.snag.gy/cmx3Hw.jpg

This featur

[2019-03-28 23:29] lukecarbis commented on #271
Thanks for raising this @tarka-dhal. We know it’s an important feature for a lot of people! We’re tracking this in #157, so I’ll close this issue out in favour of that one.

[2019-03-28 23:29] #271 closed, assigned to nobody

[2019-03-28 23:31] Tarka-Dhal commented on #157
@lukecarbis I think that this feature is really needed. It let you create more complex blocks. This project will be perfect with this feature!

[2019-03-29 14:45] jinxmcg opened #272 "Remove the container div"
Hi,

All the blocks are rendered with
```<div class="container">[block code]</div>. ```
Is it possible to render it without this div or make it optional?

Thank you

[2019-03-29 14:56] jinxmcg commented on #272
I will close this as it seems it was a theme rendering issue.

[2019-03-29 14:56] #272 closed, assigned to nobody

[2019-03-31 13:38] DieTapete opened #273 "Import: Update Blocks"
Hi, updating blocks via import currently only works when I delete all the block I want to update.
Would be nice if the importer has some options of what to do if a block already exists like ignore, replace or merge.

[2019-04-01 04:14] lukecarbis commented on #273
Great idea!

[2019-04-04 05:58] RobStino opened #274 "Convert to HTML doesn't work"
I tried, for the first time ever, converting one of our blocks to HTML via the native block setting option. It didn't work. :)
It just turned it into an empty HTML block.
See this vid
https://d.pr/v/MsdOOh

[2019-04-09 02:32] pcfreak30 commented on #36
My thoughts on the repeaters are storing the data as props on the block as a large JSON blob (inside the blocks HTML comment), and not as meta or options, but that may not be practical? Regardless it should not spam the database, or be DB heavy. That is what I have seen from existing options.

[2019-04-09 03:26] pcfreak30 commented on #245
Hmm got this myself when I activated it.

[2019-04-09 12:32] #247 closed, assigned to nobody

[2019-04-09 12:32] #256 closed, assigned to nobody

[2019-04-11 02:50] lukecarbis commented on #197
@RobStino @greenphp Any thoughts on a better format for select and multi select values?

[2019-04-11 02:57] #176 closed, assigned to nobody

[2019-04-11 03:01] #9 closed, assigned to rheinardkorf

[2019-04-11 03:01] #149 closed, assigned to nobody

[2019-04-11 03:02] #229 closed, assigned to nobody

[2019-04-11 03:05] RobStino commented on #197
@lukecarbis My mind goes to a repeating row of two text inputs. The left for key and the right for value.
I like the simple nature of what we currently have though, but if it doesn't work for our users...
I'm perhaps interested in hearing back from people who are struggling with this first. I don't want to solve a problem that doesn't really exist.

[2019-04-11 03:07] lukecarbis opened #277 ""Taxonomy" control type"
It would be great if we could select a particular taxonomy to choose from as a control setting, and then see a searchable dropdown list of terms in that taxonomy in the post editor.

[2019-04-11 03:14] lukecarbis opened #278 "Field Conditions"
Depending on the value of another field in the same block, whether a field should be displayed or not.

If `field_one` is equal to `foo` then hide `field_two`.

[2019-04-11 03:16] lukecarbis opened #279 "Block Conditions"
Only show the Block for certain Post Types or User Roles.

[2019-04-11 03:24] lukecarbis opened #280 "oEmbed field"
Type a URL (e.g. YouTube or Soundcloud) and the output of `block_field()` is the oEmbed of that URL.

[2019-04-11 03:27] lukecarbis opened #281 "File upload field"
Upload any file (or select an existing one). Choose the file type from the control settings.

[2019-04-11 03:28] lukecarbis opened #282 "Menu field"
Choose a menu from the list of existing WordPress menus, and the output is the `<ul>` of that menu.

[2019-04-11 03:29] lukecarbis opened #283 "Colour palette field"
Choose a colour from a pre-defined list of colours (defined in the control settings).

[2019-04-14 00:28] lukecarbis commented on #270
@MattKevan If #285 doesn't work, could you try disabling WP Super Cache (or any other caching plugin that you've got installed), and resaving your permalinks?

If that still doesn't help, try following some of the steps outlined here:
https://wordpress.org/support/topic/jetpack-4-3-error-cookie-nonce-is-invalid/

[2019-04-14 00:29] lukecarbis commented on #270
For what it's worth, I received this error when I was connected to a wireless network that was trying to redirect traffic to its network login screen. I have a strong feeling this is happening because WordPress is not receiving the URLs it expects.

[2019-04-14 17:04] erickyle opened #286 "Provide filter to allow dynamic population of fields with option lists"
There are cases where we need the same list of options across multiple blocks. Maintaining them separately is fine if the list is short and the blocks are few. However it would be great to be able to filter the options programmatically.

[2019-04-15 04:26] kienstra commented on #270
Hi @MattKevan,
Thanks for letting us know about this.

Have you seen problems like this with other parts of the block editor, not just Block Lab?

[2019-04-15 22:42] lukecarbis commented on #286
Do you mean that you'd like to reuse the same "Fields" – or the settings for a specific Field?

[2019-04-16 04:25] erickyle commented on #286
I meant it would be nice to reuse the settings for a specific field. The use case I have is that there are a number of blocks with a select field that contains about thirty options used to choose an icon from a custom font. Currently I need to update the options for the select field in each of the blocks, so being able to populate those fields from a single source would avoid variances. Does that

[2019-04-17 11:24] lukecarbis commented on #286
Yeah, that makes sense! One thing you could do is hook into the `save_post` hook, then `json_decode` the post content, change whatever you need to change, and `json_encode` it back again.

[2019-04-17 20:17] lukecarbis opened #287 "Add a default value option to fields that use fetchInput."
It should be possible to set the default value for posts, taxonomies, and users.

[2019-04-18 17:56] pagelab commented on #251
Nice workaround. It would be difficult to use a select if there's too many icons, though.

Usually there's lots of icons in these libraries, so a search field would be also quite important to have.

![image](https://user-images.githubusercontent.com/1451087/56371617-cd305000-61d3-11e9-8cde-c21a6faf64d2.png)

[2019-04-18 19:59] erickyle commented on #286
I think the solution you proposed will work just fine. Thanks!

[2019-04-20 01:53] davidallenlewis commented on #236
I mean when registering a block you can configure supports anchor: true in order to get a “HTML Anchor” field in the “Advanced” tab of the Settings sidebar. Right now only the native Gutenberg “Heading” blocks use them by default. It would be nice of Block Lap blocks could use this native feature as well... so every block could have a content-managed / human-readable anchor link if you wanted to u

[2019-04-22 00:26] lukecarbis opened #288 "User input should store ID as well as username."
I noticed that the user field only saves the username, not the ID. This is different to the post field, which stores both (title and ID). The user field should store an array like the post field, for consistency.

Current:
[code]

Target:
[code]

Potentially we don't need to store the `name` (login name), only the `nicename`, as the `name` is not currently needed.

[2019-04-22 02:59] kienstra commented on #288
**Question About Backward Compatibility**

Hi @lukecarbis,
Thanks for opening this issue from #257.

How important is it to keep backward compatibility? It's going to be a little complex, probably filtering [render_block_data](https://github.com/WordPress/wordpress-develop/blob/98e942e10c53e7edd8075fc3fe68eff289cb2db2/src/wp-includes/blocks.php#L201) for the block rendering. And also converting th

[2019-04-22 03:04] lukecarbis commented on #288
If backwards compatibility is going to be difficult to achieve, I think we can settle for notifying all Pro customers about the change, since the User field is only available to them.

[2019-04-22 03:47] kienstra commented on #288
Sounds good. Sorry for the delay on this, would it be alright if I worked on it tomorrow (my Monday)?

[2019-04-22 03:47] lukecarbis commented on #288
Of course!

[2019-04-22 05:21] lukecarbis commented on #157
This might help a lot of use cases: https://wptavern.com/gutenberg-5-5-adds-new-group-block-for-nesting-child-blocks

[2019-04-22 23:31] #19 closed, assigned to lukecarbis

[2019-04-23 02:25] lukecarbis commented on #270
I've spent a lot of time investigating this, and I'm not sure there's a problem we're able to fix in Block Lab. Closing for now unless someone can show steps to replicate that don't also effect non-block-lab dynamic blocks.

[2019-04-23 02:25] #270 closed, assigned to nobody

[2019-04-24 07:32] RayPS opened #295 "Unable to publish a block with non-english title"
Reproduce step: create a block with a Chinese title and publish.

[2019-04-26 14:26] MattKevan opened #297 "Images not saving after latest update"
Hi, after upgrading to the latest version of the plugin, I've noticed that images aren't saving.

After selecting an image, it's displayed in the preview, but it disappears on saving the post. It's not shown on the page, and going back into edit page shows an empty field.

I've attached a quick screen recording to show it in action.

[Screen Recording.mov.zip](https://github.com/getblocklab/block-

[2019-04-26 19:34] kienstra commented on #297
**Sorry**
*Possible Workaround*

Hi @MattKevan,
Thanks for letting us know about this, and for your nice [screen recording](https://github.com/getblocklab/block-lab/files/3121693/Screen.Recording.mov.zip).

I also see this issue, sorry I missed it before.

As a workaround, could you go to the block with the image in `/wp-admin` > Block Lab, and click "Update"? There's no need to change anything.

[2019-04-27 23:53] #288 closed, assigned to kienstra

[2019-04-28 00:34] #277 closed, assigned to nobody

[2019-04-28 00:58] lukecarbis commented on #295
I've tried reproducing this as described (actually, in both Hebrew and Chinese), but it's worked every time for me. Could you show me how your block is configured?

![Screen Shot 2019-04-28 at 10 50 42 am](https://user-images.githubusercontent.com/1097667/56856751-86e1aa80-69a4-11e9-8a52-75ed8806acfd.png)

![Screen Shot 2019-04-28 at 10 51 00 am](https://user-images.githubusercontent.com/1097667/5

[2019-04-28 01:59] RayPS commented on #295
This is 100% reproducible here, even with a empty block configuration. The “update” button only responds to a english title. Is there any information I can provide?

[2019-04-28 11:31] lukecarbis commented on #295
Yes – can you screenshot the Block (obviously before you publish it)? And maybe copy / paste the text values you're using so I don't have to figure out how to type them myself!

[2019-04-29 22:22] aldenfbrown commented on #297
Hello @kienstra,

Unfortunately this fix did not work for us locally or on our deployed instance living on WP-Engine. Please let us know if you would like us to test any other work around.

Thanks in advance!
Alden

[2019-04-29 22:35] kienstra commented on #297
Hi @aldenfbrown,
Thanks, could you please help with some more details about the issue?

Did you create a block with an image field before [version v1.2.3](https://wordpress.org/plugins/block-lab/#developers) (released on April 23rd), upgrade to `v1.2.3`, and have problems saving new changes to the block?

If it's on a live URL, it'd be great if you could share a link.

Thanks!

[2019-04-30 19:58] aldenfbrown commented on #297
@kienstra,

Thanks for the reply. We are not able to update image fields that are in blocks created before the 1.2.3 release and image fields in new blocks created after the release. After reverting the back to the 1.2.2 release and updating the blocks the image fields are rendering as expected. Unforunately, I can not provide you a link without approval although that may be something I can get. L

[2019-04-30 20:46] kienstra commented on #297
Hi @aldenfbrown,
Thanks for the details.

It sounds like you took the step shown below for every block with an image field, right?

![updating-this](https://user-images.githubusercontent.com/4063887/56831936-1ade3580-6830-11e9-9c0c-682a468cfba8.gif)

(For every block that has an image, going to /wp-admin > Block Lab, selecting the block, and clicking "Update")

[2019-04-30 21:23] aldenfbrown commented on #297
We did, although that did not resolve the issue.

[2019-04-30 21:32] kienstra commented on #297
OK, thanks. I'm going to test this again to see if I can reproduce it.

[2019-04-30 21:37] aldenfbrown commented on #297
Thank you!

[2019-04-30 22:13] kienstra commented on #297
**Sorry, Another Question 😄**

Hi @aldenfbrown,
Thanks for confirming.

It sounds like you're pretty savvy, so sorry to run through this again.

But have you done a "hard refresh" when in the block editor (Shift + Command + R in Mac and Chrome)?

The block attributes are in a JavaScript `const`, and might have been cached.

I couldn't reproduce this. Going from [version 1.2.2](https://plugins.trac

[2019-04-30 22:21] aldenfbrown commented on #297
I will give that a shot and let you know either way. Thanks!

[2019-04-30 22:21] kienstra commented on #297
**Testing On Staging?**

Hi @aldenfbrown,
Also, have you tested this on staging?

Maybe you have a different WP Engine setup than me, but if you could possibly copy the live site to staging, it'd be interesting to see if this still existed:

<img width="665" alt="staging-site" src="https://user-images.githubusercontent.com/4063887/56997146-65cbb600-6b6c-11e9-98f1-bc6aaa912d84.png">

Maybe this is

[2019-05-01 00:29] aldenfbrown commented on #297
OK here is what have, it appears the image fields are returning an id vs. url with the update to 1.2.3 and 1.3.0.

**before the update:**
`{
"blockName": "block-lab/large",
"attrs": {
"image-src": "http://localhost:8000/wp-content/uploads/2019/04/arrow-up.png",
}
},`

**after the update:**
`{
"blockName": "block-lab/large",
"attrs": {
"image-src": 653,
}
},`

This happens even after all the steps

[2019-05-01 02:06] kienstra commented on #297
Hi @aldenfbrown,
Thanks a lot for those details.

Both **before the update** and **after the update** the  attributes look right. It's expected that after the update to `1.2.3`, the `"image-src"` [be an integer](https://github.com/getblocklab/block-lab/blob/3dd303328e9f518cc1daa6cbeadbd601289a671d/php/blocks/controls/class-image.php#L29).

1. Is the image not appearing, even though it's saving tho

[2019-05-01 07:23] rochow opened #300 "Enhancement: License Number"
[code]

Recommend not showing the number within WP admin, because context of unlimited will be for developers and having a QTY displayed isn't ideal for a number of reasons :)

[2019-05-02 09:21] lukecarbis commented on #300
Great point. The way it's displayed at the moment isn't ideal for agencies who don't want to advertise how many licenses they have active to their clients.

[2019-05-02 19:57] kienstra commented on #297
**Could you please help?**

Hi @lukecarbis,
Could you please test this? I couldn't reproduce it, but I could have missed something.

It sounds the issue that's reported is:
1. Start with a version before `v1.2.3`, like `v1.2.2`
2. Create a block with an Image field, create a post with the block, select an image for the block, and save
3. Upgrade to version `v1.2.3` or `v1.3.0`
4. Go to the block U

[2019-05-03 23:56] kienstra commented on #287
Hi @lukecarbis,
Were you thinking of an `<select>` to choose the post, taxonomy, or user?

For example:
<img width="1120" alt="post-fieldhere" src="https://user-images.githubusercontent.com/4063887/57170820-12a86c00-6dd5-11e9-971a-09c2226cc90b.png">

We'll probably have to consider cases with many posts, maybe thousands.

The simplest way to do this would be to accept a post ID in the `<input>`, b

[2019-05-04 11:44] designmonkeymedia opened #301 "Block Theme Folder Structure"
It would be great and much tidyer if we could structure the blocks in the theme/blocks/ folder for each block e.g.

- /theme
  - /blocks
     - /block_one
         - preview.php
         - block.php
         - block.js
         - block.css
      - /block_two
         - preview.php
         - block.php
         - block.js
         - block.css

This would be great!

Thanks,

Sam

[2019-05-04 20:18] kienstra commented on #301
**Thanks For Opening This!**

Hi @designmonkeymedia,
Thanks a lot for suggesting this. It would be easier to be able to structure blocks like this.

We'll consider this. If we plan on adding it to a release, you'll see a milestone added to it, like [1.3](https://github.com/getblocklab/block-lab/milestone/5) or [1.4](https://github.com/getblocklab/block-lab/milestone/6)

[2019-05-05 11:05] RayPS commented on #295
Here is a screen recording of the reproduction:
![Screen Recording 2019-05-05 at 18 59 12 2019-05-05 19_03_56](https://user-images.githubusercontent.com/1941540/57192931-9050b100-6f68-11e9-93b9-5d7706bf5d4d.gif)

[2019-05-06 00:02] lukecarbis commented on #297
I was able to reproduce it. My 10 minute walk-through which includes testing a bunch of different ideas is here: http://fromsmash.com/d921ab0c-6f91-11e9-b6fe-06812412be8a

In the end, I found the issue was isolated to:
- Only the image field
- Only fields with a dash in the slug (I used `image-src`)

[2019-05-06 00:20] lukecarbis commented on #287
I guess I was thinking of something similar to what we're showing in the editor. Maybe a select2 or something along those lines?

[2019-05-06 00:23] lukecarbis commented on #301
@RobStino Any thoughts?

[2019-05-06 00:26] lukecarbis commented on #295
@RayPS I've followed along with the gif exactly, using WordPress 5.1.1 and Block Lab 1.3.0, however Publishing works perfectly fine for me. I tried in Safari and Chrome on Mac.

Is it possible that there's another plugin that could be causing this? Could you try with only Block Lab enabled and nothing else?

[2019-05-06 03:29] kienstra commented on #297
Thanks, @lukecarbis!

[2019-05-06 04:42] kienstra commented on #297
**Question about updating the block**

Hi @lukecarbis,
Thanks a lot for testing this. Your screencast really helped.

Did you do step 4 [above](https://github.com/getblocklab/block-lab/issues/297#issuecomment-488810130) (Go to the block UI and click update)?

It's a little confusing how I wrote that step. "Block UI" refers to the `/wp-admin` > Block Lab > Edit Block UI, not the block editor:

<img

[2019-05-08 01:37] RayPS commented on #295
I've tried your suggestion with a fresh wp docker image and the result are certainly like your expect. But so far I have no way to identify with plugin was causing this problem. Thanks so much for figured out.

[2019-05-08 01:37] #295 closed, assigned to nobody

[2019-05-08 07:32] kienstra commented on #253
#293 should prevent this error.

[2019-05-08 23:24] lukecarbis commented on #297
@kienstra Ah yes! I didn't do this. Just ran back to my Local Dev environment and tried it, and everything works. You're right, I did get confused by the instruction. I needed to **Update** the Block itself, not the post containing the block.

@aldenfbrown @MattKevan Have you tried this?

[2019-05-09 17:44] eriktdesign commented on #261
+1, this would be very useful for the kind of stuff I'm building with this.

[2019-05-09 19:35] eriktdesign commented on #236
Was surprised the custom class wasn't in the block_config() function -- that's where I assumed it would be. I'd advocate for that, as well as including block alignments in there as well. #261

[2019-05-11 21:30] kienstra commented on #253
This was mentioned on this wp.org support topic. It'd be nice to ping `@eriktdesign` there when the fix is released:

https://wordpress.org/support/topic/adding-classname-to-custom-blocks/#post-11521342

[2019-05-12 21:55] eriktdesign commented on #253
Thanks @kienstra -- I'll follow here.

[2019-05-14 13:32] Artaud commented on #297
@kienstra, sorry for me too, but I have encountered the issue too and just updating the block helped resolve it.

[2019-05-14 17:13] kienstra commented on #297
Thanks, @Artaud!

[2019-05-14 22:33] #297 closed, assigned to lukecarbis

[2019-05-15 02:18] lukecarbis opened #303 "Fields with duplicate slugs are removed"
When creating a block, if I create two fields that have the same slug, when I save the block one of the fields will be removed completely.

A better solution would be for the second field's slug to get a number appended.

[2019-05-17 06:53] robertsass opened #305 ""Container" control type"
It would be awesome to have a simple Container block, that takes other blocks so that you can nest blocks and build individual layouts.
_Lazy Blocks_ calls that "Inner Blocks": https://lazyblocks.com/documentation/blocks-controls/inner-blocks/

[2019-05-18 21:30] kienstra commented on #305
**Thanks!**

Hi @robertsass,
Thanks, this is an interesting idea.

We'll consider this. If we plan on adding it to a release, you'll see a milestone added to it, like [1.4](https://github.com/getblocklab/block-lab/milestone/6) or [1.5](https://github.com/getblocklab/block-lab/milestone/7).

[2019-05-18 23:32] lukecarbis commented on #254
Additionally, it seems like it's not actually the size of the _textarea_ text that matters, but the size of the entire JSON once it's saved. For example, you could have a single textarea that fits a whole bunch of characters before it errors, or multiple textareas that fit much less text before it errors.

Lastly, its seems like non-english text (e.g. Cyrillic) may contribute to the problem.

[2019-05-18 23:34] lukecarbis commented on #305
Closing in favour of https://github.com/getblocklab/block-lab/issues/157.

[2019-05-18 23:34] #305 closed, assigned to nobody

[2019-05-19 09:18] #253 closed, assigned to nobody

[2019-05-19 19:17] #252 closed, assigned to lukecarbis, kienstra

[2019-05-20 03:49] RobStino opened #307 "block_field( 'className' ) outputs `No` when Custom Class is empty"
Folks,
Just testing out the `className` solution. Sorry I didn’t get to it the other day.
I did notice something.
If no custom class is set, `block_field` outputs `No`. I guess there is a small chance that someone would have an actual class called `No`.

[2019-05-20 07:14] robertsass commented on #157
Maybe I don't understand what the Repeater can do, but my use case would be to create custom blocks with Block Lab, which all act as a container, but may differ from each other in their template source. That way I could offer the clients/authors a easy way to create a layout, without knowing which CSS framework is used and having to teach them how to nest native column blocks inside each other and

[2019-05-20 22:47] lukecarbis opened #308 "License information show as renewing even when not"
Currently Block Lab shows a message indicating that licenses are set to auto-renew, even when this is not the case (which it currently isn't for any Early Access Pass customer).

![Screen Shot 2019-05-21 at 8 45 34 am](https://user-images.githubusercontent.com/1097667/58056599-0b3edc00-7ba5-11e9-87df-8d46d04fa5e7.png)

[2019-05-21 03:28] #242 closed, assigned to lukecarbis

[2019-05-21 03:55] #307 closed, assigned to nobody

[2019-05-22 04:47] x5hwuk7nc6jsudcc commented on #251
It would be great if the Textarea field type allowed inputting SVG code... or if there were an SVG/HTML input field type.

[2019-05-23 04:10] Tarka-Dhal opened #312 "tinymce advanced integration"
Will be possible to integrate TinyMCE Advanced to RichText?
https://cs.wordpress.org/plugins/tinymce-advanced/

[2019-05-23 13:03] rikkilake opened #313 "Multisite support for Block Lab blocks"
Block-lab seems to fit the bill perfectly, however when I click "+" to add the block I have created it is not appearing in the list of blocks when attempting to add one into a page.  I absolutely sure I have created the block correctly; you've made it so simple so I don't know what it won't appear for me.

Unfortunately it doesn't work in multi-site; a block only exposes itself on the parent site,

[2019-05-23 14:46] rikkilake commented on #313
I just got around this by Deactivating "Network Active" and instead "Activating" it against a single site.

Perhaps this may help:

https://felix-arntz.me/blog/making-plugin-multisite-compatible/

[2019-05-23 15:18] rheinardkorf commented on #313
@rikkilake Blocks are posts types. This isolates them to a particular site in which it was created. So if the block was created in blog_id=1 then it will not be available in blog_id=2.

Licensing options and plugin options are also not multisite compatible and are also per site. @lukecarbis , @RobStino you might want to consider whether or not you want BL Pro to be setup network wide or per site.

[2019-05-23 19:00] kienstra commented on #313
@rheinardkorf, thanks a lot for your expertise with this. That helps a lot.

Good ideas to consider, like sharing blocks across the network.

[2019-05-24 00:38] x5hwuk7nc6jsudcc opened #314 "HTML input field type"
An HTML input field type would be very useful..

[2019-05-24 00:41] x5hwuk7nc6jsudcc opened #315 ""Copy" or "Duplicate" block field action"
It would be helpful to be able to quickly copy/duplicate a block field..

[2019-05-24 00:47] x5hwuk7nc6jsudcc opened #316 "Import block fields from PHP template"
It would be really helpful if I could just upload my block template file, e.g.

[code]

And then Block Lab automatically added the fields from that template file to my block (e.g. link-url-1, link-title-1, etc.).  Would save a lot of manual entry and keep me focused on the front-end.

[2019-05-24 05:23] abillahbd opened #317 "Add an option to include css ONLY in the editor"
Hello I don't want the blocks to include stylesheets to the front end. I will use my custom css on the front end. So please add an option to output only the HTML code on the front end.

[2019-05-24 15:26] eriktdesign commented on #236
Looks fixed in 1.3.1 -- thanks!

[2019-05-25 19:37] lukecarbis commented on #312
I don't think something like this will make it into the core plugin, but I'd encourage someone to create an extension.

[2019-05-25 19:37] #312 closed, assigned to nobody

[2019-05-25 19:41] lukecarbis commented on #314
@strayguevara We discussed this recently – adding a "code" field which used WordPress' built-in CodeMirror library.

We decided, though, that it could be confusing. What is the expected output of a code field? The plain code itself? The code once it's been processed server-side? The code wrapped in a `<pre>` tag? The code wrapped in a read-only syntax-highlighting [CodeMirror](https://codemirror.n

[2019-05-25 19:43] lukecarbis commented on #316
Interesting! Simplifying the process of building blocks has always been top priority for us, but we've always taken a "WP Admin" first approach. I like that you're approaching this from a different angle.

How would Block Lab know what field type each field is? How would know what settings to use for each field? (e.g. help text or default values)

[2019-05-25 19:46] lukecarbis commented on #317
@abillahbd Block Lab already allows this.

Simply don't include any CSS in your template file, and don't create any `blocks/block-{block slug}.css` file in your theme.

It's also worth noting that if you create a `blocks/preview-{block slug}.css` file, this will add CSS to the admin editor only.

[2019-05-25 19:46] #317 closed, assigned to nobody

[2019-05-25 19:47] #236 closed, assigned to nobody

[2019-05-26 14:42] hybridherbst commented on #281
Just found out about Block Lab and really like the idea, but without the ability to have files as custom fields it doesn't really make sense to use. Main usecase would be making blocks for specific types of file embeds for us.

Are there any "easy" workarounds to this? E.g. could I manually upload files to ftp and link them as plain text fields?
Any idea when/if that will happen?

[2019-05-26 21:23] x5hwuk7nc6jsudcc commented on #314
There is a built-in "custom HTML" Gutenberg block element, my expectation would be that an HTML input field would replicate this kind of functionality (i.e. the code is processed as if it were part of the document).

In terms of use case, I have a project right now where I want to allow the client to input SVG images in-line. Having a custom HTML input field would open up this possibility.

Anothe

[2019-05-26 21:33] x5hwuk7nc6jsudcc commented on #316
The Field Label we know, and you could probably de-slug and capitalise that for the Field Name as a default.

A sensible approach for the Field Type would be to default everything to Text, unless the field exists on a known attribute.  For example, if it exists on a "src" attribute you could default it to Image.  If it exists on an "href" attribute you could default it to URL.

All other fields co

[2019-05-26 22:36] RobStino commented on #245
Testing this again, and I can't replicate the issue.
Note, someone in the Community Slack referenced this issue though. I'll share this with them in case they have further inights.

[2019-05-26 22:41] lukecarbis commented on #281
@soraryu Yes, the workaround is to upload the file somewhere (even your media library), and then use a text field (or even better, a URL field) to store the download URL.

[2019-05-26 22:44] lukecarbis commented on #245
Yeah I've found it hard to replicate too – my hunch is that it only happens on environments with slow-ish / no internet. @RobStino Could you try that?

[2019-05-26 22:47] lukecarbis commented on #314
The SVG use case is interesting. I'd love to know more about how that block looks and works.

Would a MailChimp subscription form – why not:
a) Use a MailChimp block
b) Create the MailChimp block, and hardcode the javascript / HTML into your template (with a field for variables like the list ID)

[2019-05-26 23:00] lukecarbis commented on #316
@strayguevara I like the way you're thinking. Technically, this is a really tough ask, and could make the codebase pretty heavy.

If your main goal is to create a block programatically, maybe you could try building a JSON file manually? You can drop a JSON file in your theme's `blocks` folder, and Block Lab will automatically use that. Here's an example of what it might look like:

[code]

[2019-05-26 23:12] x5hwuk7nc6jsudcc commented on #314
The MailChimp snippet probably wasn't the best example, as in reality we would most likely break this down into finer variables, as you pointed out.

But perhaps I did want to do that. _Why not_ allow HTML as an input field?

In terms of how it would look, it would probably look a lot like the textarea input field. And the end-user may drop something like this in:

`<svg xmlns="http://www.w3.org/2

[2019-05-26 23:25] x5hwuk7nc6jsudcc commented on #316
@lukecarbis the objective is really about reducing the time spent configuring the plugin.  In other work we do, we use static site generators like Jekyll and Hugo a lot. In their respective templating languages you can focus on writing up the front-end of the site and create variables as you go.  What I really like about your plugin is that it creates a similar environment for WordPress where we c

[2019-05-26 23:40] lukecarbis commented on #314
Is there any reason you couldn't simply drop the SVG code above into a textarea field? Or would an SVG work better with an image (or file) field, uploading the file itself, instead of the code?

Couple reasons why I'm personally not enthusiastic about this idea:
- Could be confusing for users (see my comment above)
- Simple workarounds already exist
- Extra code to maintain and support

Not to say

[2019-05-26 23:43] lukecarbis commented on #316
When you put it like that, I can see how an "import from template" plugin could be really useful – even if it's not intelligently guessing input types (everything just defaults to `text`).

If it were an add-on, instead of in the main plugin, that would solve a lot of my concerns around code bloat.

[2019-05-26 23:57] x5hwuk7nc6jsudcc commented on #314
The textarea field seems to strip all of the SVG code when we drop SVG code into it.

The objective insofar as SVG is concerned is to have the SVG inline the document, rather than an additional HTTP request like an image.  That's why dropping code in there seems the natural solution.

However if https://github.com/getblocklab/block-lab/issues/281 allowed uploading SVG files, then that would actual

[2019-05-27 23:40] RobStino opened #319 "Block Icon is off-centre"
Noticed today that the block icon is off-centre when the block is selected in the editor.
A GB core update must have nudged the padding a bit or something.

![image](https://user-images.githubusercontent.com/1578148/58442235-992e4000-812c-11e9-9a06-6c32396e085b.png)

[2019-05-28 01:40] x5hwuk7nc6jsudcc opened #320 "Renaming a block's slug causes it to break in documents where it is already in use"
How to replicate:
- Create a block and use it in a document
- Edit the block's slug and update the php filename accordingly
- Return to the document and the block looks for the previous slug with no way of updating it to the new slug

Expected functionality:
- Updating the block's slug will update it in documents where it is used automatically
- Alternatively, if a block source cannot be located (

[2019-05-28 02:18] x5hwuk7nc6jsudcc commented on #25
This would be a very useful feature as it would reduce the number of blocks required to reproduce similar design elements.

Use case: We have an intricate design that uses two columns, with some custom icons above each column. On another page we have the same design but it uses three columns and doesn't have icons.  Having a conditional field logic would allow us to keep all of that code in a sing

[2019-05-28 12:45] rikkilake commented on #236
Looking in block_config() this does not appear to be fixed in 1.3.1.

No additional classes shown. :-(

array (size=6)
   'name' => string 'card' (length=4)
   'title' => string 'Card' (length=4)
   'icon' => string 'folder' (length=6)
   'category' => string 'common' (length=6)
   'keywords' =>
      array (size=2)
          0 => string 'card' (length=4)
          1 => string 'bootstrap' (length=

[2019-05-28 23:19] lukecarbis commented on #236
We didn't put it in `block_config()`. The Additional CSS classes can be access through the block slug `className`. e.g.:

[code]

More info here: https://github.com/getblocklab/block-lab/wiki/7.-FAQ

[2019-05-28 23:23] lukecarbis commented on #320
Thanks for reporting this!

[2019-05-29 03:10] x5hwuk7nc6jsudcc commented on #215
This would be great. We've modulated a recent design to about 20 blocks and being able to split these into 3-4 custom categories would be very helpful. Would love to see this in 1.4...

[2019-05-29 03:17] x5hwuk7nc6jsudcc opened #322 "Unregister core/default Gutenberg blocks"
It would be useful to be able to unregister core Gutenberg blocks with a simple check/uncheck functionality.

For example, we have written our own Heading block, and so the default Heading block is superfluous.  This may lead to confusion for end-users, and so having the ability to unregister easily would be helpful.

[2019-05-29 04:18] x5hwuk7nc6jsudcc opened #323 "Update documentation for Post field type"
This is a great plugin and you're all doing an awesome job!

Documentation needs to be added for using the Post field type here: https://github.com/getblocklab/block-lab/wiki/6.-Available-field-types

There is a little explanation on how to use them here: https://github.com/getblocklab/block-lab/pull/257#issuecomment-484757502

Keep up the good work!

[2019-05-29 04:57] lukecarbis commented on #322
I feel that this is a little out of scope for Block Lab. Plus, WordPress core already has a Block Manager:

![2019-05-29 14-56-33 2019-05-29 14_57_18](https://user-images.githubusercontent.com/1097667/58530436-14255280-8222-11e9-8a7f-760625a054a2.gif)

[2019-05-29 09:58] rikkilake commented on #236
Thank you.

[2019-05-30 01:12] x5hwuk7nc6jsudcc commented on #50
Is anyone working on this as a standalone plugin? Link to repository?

[2019-05-30 01:15] x5hwuk7nc6jsudcc commented on #323
I'm also happy to help contribute to documentation if required

[2019-05-30 02:30] x5hwuk7nc6jsudcc opened #324 "Show 'category' in Content Block manager admin screen"
Would be helpful to see the Category in the Content Block manager screen.  Even better if this field was sortable.

Very crude mock-up attached.
![mock-up](https://user-images.githubusercontent.com/19599955/58604126-9c652f80-82d6-11e9-862d-02c9ed8ffff4.png)

[2019-05-30 02:40] x5hwuk7nc6jsudcc commented on #319
This does appear to be coming from WP core (see screenshot attached).  It is also affecting icons from default WP blocks (see for example "widgets/latest posts").

Give that it's coming from WP core and is affecting default blocks, not sure if you intend to fix it.  If you do, this css will do it:
[code]
![inspector](https://user-images.githubusercontent.com/19599955/58604351-62e0f400-82d7-11e9-95

[2019-05-30 03:44] lukecarbis commented on #324
Great idea!

[2019-05-30 03:44] lukecarbis commented on #323
This is on my radar, but if you'd like to help out, that would be amazing!

[2019-05-30 03:45] lukecarbis commented on #319
I agree with @strayguevara – let's leave this for a core fix.

[2019-05-30 03:45] #319 closed, assigned to nobody

[2019-05-30 03:46] x5hwuk7nc6jsudcc commented on #323
Happy to contribute to documentation. Useful for our own reference anyway. Just tell me how.

[2019-05-30 03:47] lukecarbis commented on #323
You should be able to add and edit pages here: https://github.com/getblocklab/block-lab/wiki – let me know if there's some sort of access restriction.

[2019-05-30 03:50] x5hwuk7nc6jsudcc commented on #323
I don't see an option to add or edit..
![Screen Shot 2019-05-30 at 13 49 01-fullpage](https://user-images.githubusercontent.com/19599955/58607157-cff98700-82e1-11e9-93b7-42479769a748.png)

[2019-05-30 03:54] x5hwuk7nc6jsudcc commented on #323
Thanks, that works now.

[2019-05-30 03:56] lukecarbis commented on #323
Just changed something – can you check again?

[2019-05-30 03:58] x5hwuk7nc6jsudcc commented on #323
Looks good.

[2019-05-30 10:32] x5hwuk7nc6jsudcc commented on #323
Let me know if you're happy with these:

Posts - https://github.com/getblocklab/block-lab/wiki/6.-Available-field-types#post
Taxonomy - https://github.com/getblocklab/block-lab/wiki/6.-Available-field-types#taxonomy

[2019-05-30 23:33] lukecarbis commented on #323
@strayguevara Looks great! I made a couple minor tweaks. Thank you!

[2019-05-30 23:33] #323 closed, assigned to nobody

[2019-06-01 22:23] lukecarbis opened #325 "Duplicate Block"
One user has suggested adding the ability to duplicate a block. Note – this is different than [duplicating a field within a block](https://github.com/getblocklab/block-lab/issues/315). This feature would duplicate the entire block.

See W.org topic here: https://wordpress.org/support/topic/clone-a-block-possible/

[2019-06-02 11:04] RobStino commented on #325
I've noted in the past that the normal "Duplicate Post/Page" style plugins don't work for Block Lab blocks.

[2019-06-03 18:16] fschmittlein commented on #245
I have the same issue an the same message

[2019-06-04 13:01] Tarka-Dhal opened #326 "Import / Enable / Disable / Register using PHP API"
**Something like this:**
https://www.advancedcustomfields.com/resources/register-fields-via-php/

[2019-06-04 23:00] lukecarbis commented on #326
Great idea for registering new custom blocks with a PHP API.

In terms of enabling / disabling blocks – we're leaving that task to WordPress Core, which already includes a Block Manager.

[2019-06-06 04:58] #308 closed, assigned to nobody

[2019-06-06 05:07] #245 closed, assigned to nobody

[2019-06-06 05:07] lukecarbis commented on #20
Closing in favour of #221.

[2019-06-06 05:07] #20 closed, assigned to lukecarbis

[2019-06-06 21:02] #324 closed, assigned to nobody

[2019-06-10 01:12] x5hwuk7nc6jsudcc opened #330 "Add support for custom taxonomy"
The taxonomy control type is excellent. It would be great if this could also accept custom taxonomy, for example the 'product category' and 'product tag' taxonomies that are installed with WooCommerce https://docs.woocommerce.com/document/installed-taxonomies-post-types/

[2019-06-10 01:43] abillahbd opened #331 "block_value returns only the ID instead of the full URL for "image" block types"
How to replicate:

- Create a block and set an "image" field
- Use it in a document and upload an image to the block
- `echo` the value of block_value( 'field-name' ), it returns only the ID instead of the full URL

Expected functionality:
I am new to this project. Tried to find why this happens in the Docs, or if it is intended, but could not. What I understand, is that it should return the full

[2019-06-10 02:01] abillahbd opened #332 "Feature Request: a templating function to return all data of a block"
Imaging in one instance of a block in a document, I have the following data:
`"author" => "Neil",
"price" => "30",
"currency" => "USD"`
etc.

I need a function that would return all data of the current instance of the block, so that I can check and process the data from within a helper function somewhere in the `functions.php` file like so:

`if ( $author == 'Neil' ) {
    echo "Oh! This is Neil!"

[2019-06-10 05:35] x5hwuk7nc6jsudcc commented on #331
See here: https://github.com/getblocklab/block-lab/wiki/6.-Available-field-types#image

Using `block_field('field-name')` will return the URL, whereas using `block_value('field-name')` will return the Attachment ID.  This allows you to return different image sizes, among other things.  e.g.

`<?php
$attachment_id = block_value( 'field-name' );
echo wp_get_attachment_image( $attachment_id, 'medium'

[2019-06-10 05:39] x5hwuk7nc6jsudcc opened #333 "Range field type does not allow "0" as a value"
This seems to be a bug.  I have a Range field type, which should allow a range of 0 to 100.  However editors are unable to enter the value "0".

When I allow the range of -1 to 100, editors are still unable to use the value "0" (although can select "-1").

[2019-06-10 08:57] #331 closed, assigned to nobody

[2019-06-10 23:11] lukecarbis commented on #330
@strayguevara We built the taxonomy dropdown to filter out custom taxonomies which don't show in the REST API. This must exclude Product Categories and Product Tags from WooCommerce.

@kienstra Could you explain the reason why we did this? https://github.com/getblocklab/block-lab/blob/develop/php/blocks/controls/class-taxonomy.php#L91

[2019-06-10 23:15] kienstra commented on #330
Hi @lukecarbis,
Sure, as I remember, this excludes taxonomies where `show_in_rest'` isn't `true` because they won't appear in the control in the block editor. The block editor uses the REST API to get the taxonomies.

[2019-06-10 23:16] lukecarbis commented on #332
@abillahbd You can already achieve this in a couple of ways. Your example has an easy solution. Try using the [`block_value()`](https://github.com/getblocklab/block-lab/wiki/4.-Templating-functions#block_value) function.

[code]

Additionally, you can retrieve all other block settings using the [`block_config()`](https://github.com/getblocklab/block-lab/wiki/4.-Templating-functions#block_config) a

[2019-06-10 23:16] #332 closed, assigned to nobody

[2019-06-10 23:22] lukecarbis commented on #330
Oh course! That makes sense.

I guess this causes an incompatibility with some plugins that are hiding their taxonomies from the REST API. See [`woocommerce/class-wc-post-types.php`](https://github.com/woocommerce/woocommerce/blob/180a0aaf8d9f26f022040185e461e7a90b2f2038/includes/class-wc-post-types.php#L82). The `show_in_rest` argument defaults to `false`.

@strayguevara Could you try adding the

[2019-06-10 23:32] lukecarbis commented on #331
Thanks for your answer @strayguevara. I've added this question to the FAQ on the Wiki, since I've seen it come up a few times now.

https://github.com/getblocklab/block-lab/wiki/7.-FAQ

[2019-06-10 23:53] lukecarbis commented on #333
Can confirm this bug. I believe that the problem is caused by the fact that the "minimum" setting for the field doesn't save if the value is set to 0.

![2019-06-11 09-50-31 2019-06-11 09_53_04](https://user-images.githubusercontent.com/1097667/59234125-b97ef400-8c2e-11e9-8476-31c0c3ccf79f.gif)

![Screen Shot 2019-06-11 at 9 51 34 am](https://user-images.githubusercontent.com/1097667/59234126-bb48

[2019-06-10 23:56] kienstra opened #334 "Child theme block CSS isn't loaded when there's a block CSS file in the parent"
Thanks to @RobStino for finding this.

Steps to reproduce:
1. Create a block, like 'Test Image,' with some control like an Image control
2. Create a template for it in a child theme, like `blocks/block-test-image.php`
3. Create a CSS file for it in the child theme, like `blocks/block-test-image.css`
4. Go to the front-end, and observe that the CSS file is present, as expected:

<img width="798" al

[2019-06-11 00:00] kienstra commented on #334
@lukecarbis also found that the template file from the parent theme is overriding the template from the child theme.

[2019-06-11 00:06] x5hwuk7nc6jsudcc opened #335 "Auto-generate the slug only when the title field is filled out for the first time"
I think this is a bug, as the problem and solution are described in this issue, which is marked as resolved: https://github.com/getblocklab/block-lab/issues/134

Steps to reproduce:

1. Add a new Field to a block
2. Edit the Field Title, and the Field Slug is automatically generated
3. Modify the Field Slug
4. Edit the Field Title again

Expected functionality: Field Title should update without ch

[2019-06-11 00:16] x5hwuk7nc6jsudcc commented on #330
Thanks, @lukecarbis this works:

[code]

[2019-06-11 00:16] #330 closed, assigned to nobody

[2019-06-11 00:50] lukecarbis commented on #145
Closing this in favour of #335, since it's better described there.

[2019-06-11 00:50] #145 closed, assigned to lukecarbis

[2019-06-12 00:47] abillahbd commented on #332
@lukecarbis Unfortunately your example code is not what I meant. The way you did it, it means I have to keep using the same code over and over again in my block's source code. To add to that, imagine if I need to use the same code over multiple blocks, it won't be very nice to use the same code over and over again. On top of that, if I need to change something, that'd be a nightmare.

What I wante

[2019-06-12 01:03] lukecarbis commented on #332
@abillahbd I'm not sure I do get your point. Perhaps you could provide a more practical example?

[2019-06-13 05:36] abillahbd commented on #332
@lukecarbis Here's a very practical example, one that I am currently faced with:
Let's say `my_custom_block` has 3 `text` fields, namely, `first_name`, `last_name`, and `display_option`.

One instance of the block in a document has the following data:
`"first_name" => "John", "last_name" => "Doe", "display_option" => "last_"`
Another instance of the same block has this data:
`"first_name" => "John

[2019-06-13 10:35] rheinardkorf commented on #332
@abillabd I think the same can be achieved using a utility function. First parameter is the block and perhaps 2nd and 3rd could be callback functions.

Even if there was a convenience function in the plugin you would still need to create your own logic methods.

[2019-06-13 23:12] lukecarbis commented on #332
@abillahbd Maybe I don't understand? In your block's template file, why not doing something like this?

[code]

You can use `$display_name` as many times as you like in the template. It will display the first or last name depending on the `display_option` selected for each instance of the block.

[2019-06-14 17:11] adrianbw opened #338 ""Internal Link" control type"
I'd really like to see a control that pulled up Wordpress's page selection tool, so I can make a block link to another internal page more easily than hunting down the URL and pasting it in (and then hoping it doesn't change).

[2019-06-14 17:49] kienstra commented on #338
Hi @adrianbw, there is a [post control](https://github.com/getblocklab/block-lab/blob/8509d8ced2a678c0ddd1ff8acfa6516ec40c355e/php/blocks/controls/class-post.php) that can search for pages. Unfortunately, it's normally only available with the Pro license. Though you're free to test it from this repo.

For reference, here's [the PR](https://github.com/getblocklab/block-lab/pull/257).

[2019-06-15 04:08] abillahbd opened #339 "CTRL+Z (windows 10) on inputs/textareas undoes the document instead of the block's text field"
How to replicate:
- Create a document and upload content to it
- Make some edits to the uploaded content
- Insert a custom block that has a text field
- Type something into the text field
- Press CTRL+Z
- It will undo the post document instead of the text field

Expected behavior:
- CTRL+Z should undo the input of the text field

Thanks

[2019-06-15 22:36] lukecarbis commented on #339
Thanks for reporting this!

[2019-06-15 22:47] #335 closed, assigned to lukecarbis

[2019-06-16 23:15] #338 closed, assigned to nobody

[2019-06-17 00:55] kienstra commented on #334
**Question About Expected Behavior**

Hi @lukecarbis,
Hope you're having a great day so far.

If there are CSS files for a block in both the parent and the child theme, what should happen?

Like:
`<parent-theme>/blocks/block-test-image.css`
`<child-theme>/blocks/block-test-image.css`

Should this enqueue only the child theme styling, or both?

It looks like `block_lab_locate_template()` is [return

[2019-06-17 00:59] lukecarbis commented on #334
My day is all the better for having you in it. 😄

That's a great question. I'm inclined to override the CSS, as that's the same behaviour as WordPress core.

A better question would be what to do in this case:
`<parent-theme>/blocks/block-test-image.css`
`<child-theme>/blocks/css/block-test-image.css`

In this case, I would choose whatever is less complex to implement, as it's extremely edge-case.

[2019-06-17 17:32] kienstra commented on #334
Hi @lukecarbis,
Aw, thanks 😄

It looks like if there's a PHP template for a block in both the parent theme and child theme, it'll use the one in the parent theme.

So it might be a little strange to use the child theme's CSS, while using the parent theme's PHP template.

But you make a good point that using the child theme's CSS instead of the parent theme's is consistent with how Core works.

Do

[2019-06-18 00:28] x5hwuk7nc6jsudcc commented on #251
We have a preference to use inline SVG for graphics and so finding a suitable workaround for this has been fairly important to us.  This is what we are doing:

1. Use the "Image" input field type in your block (note you need to allow SVG uploads within WordPress)

2. In your block PHP, use:
[code]

[2019-06-18 02:47] x5hwuk7nc6jsudcc opened #344 "Post control for products only showing 5 products, search filter not working"
Post control for WC products is only showing the first 5 products.  Scrolling is not working.  Filtering/searching is not working. See video attached.
![recording](https://user-images.githubusercontent.com/19599955/59649762-164a5380-91c7-11e9-9edd-ec060982ac7e.gif)

[2019-06-18 09:31] #333 closed, assigned to lukecarbis

[2019-06-18 10:40] lukecarbis commented on #251
Nice @strayguevara – field validation would come in handy in this case.

[2019-06-19 00:28] x5hwuk7nc6jsudcc commented on #344
I know you guys are working hard to get 1.4 released but would be great to have a fix for this bug asap :S

[2019-06-19 03:01] lukecarbis commented on #344
Absolutely!

[2019-06-19 15:20] ronniegchagas opened #347 "Is it possible to use shortcode to call a block?"
Hello everyone!

Is it possible to use shortcode to call a specific block?

If so, how can I call it?

[2019-06-19 22:01] ronalfy commented on #347
After looking at the code, it doesn't appear to have a shortcode but instead a helper function called `block_field` which will output the value of the block field. It's easy enough to code a shortcode with attributes that call this function, but from the looks of the code, there isn't shortcode capability.

[2019-06-19 22:15] lukecarbis commented on #347
@ronniegchagas I use shortcodes with block lab by creating a text field in my block (let’s give it the name `shortcode`), and then using the `do_shortcode` function:

[code]

[2019-06-19 22:15] #347 closed, assigned to nobody

[2019-06-20 17:06] erickyle commented on #286
Seems like the `save_post` hook will not allow me to manipulate the form elements generated by Block Lab. I need a way to inject a list of icons into the "Icon" select menu field for the block. You can see where I have the Choices field populated in the Block Lab block editor, but I must update the list of icons in multiple blocks since they all use the same list of icons. Please let me know if I'

[2019-06-20 21:56] lukecarbis commented on #286
If you hook in _late_ (as in, after Block Lab does – a priority of `20` should work) to `wp_insert_post_data`, you should be able to `json_decode` the post content, make any changes you need, and re-encode it again to be saved.

That said, I think a better way would be to create a custom Field Type. You could create a Field Type called Icon, and maybe just include help text as a setting.

We don't

[2019-06-21 00:21] RobStino opened #351 "Global CSS Template File"
When building blocks for a site, I often have css styles that are re-useable across blocks, as well as the the larger theme. An example is styling for a `tile` component. This tile component could have styling that includes things like `border`, `padding`, and `background-color`. These styles could easily be relevant to multiple blocks.

The current options for handling these global styles have fl

[2019-06-22 17:18] pgallastegui commented on #286
Hi, Luke!

I work in Eric's team, and I've been looking at your latest suggestion.

We have created a subclass of Control_Abstract which we add to the controls list using the block_lab_controls filter. It is basically a copy of the Select control, but with the default values populated, and a different name (ctaicon).

After doing that, the control shows correctly when we go to create a new block o

[2019-06-23 00:08] lukecarbis commented on #286
@pgallastegui @erickyle – I've not seen anyone actually extending Block Lab with a custom control yet, so this is exciting!

Well done on adding the custom control to the Edit Block screen. The next step will be to build the control out in Javascript, so it can be included in the Editor.

To do this, you could try starting with our existing `select` control, and modifying it to suit your needs: ht

[2019-06-23 23:15] pgallastegui commented on #286
Hi, Luke!

Thanks again for pointing me in the right direction. After a couple of crash courses on React, I think I am still missing something. I've downloaded the development branch, duplicated the select control and modified the constant name. Next, I included it in the index.js at the same level. I ran an npm build, and that obviously resulted in a replacement file for editor.blocks.js that see

[2019-06-25 05:34] x5hwuk7nc6jsudcc commented on #351
Yeah, I think this would be useful. It would also help to keep block code contained as a package, separate to any theme work. I'm currently doing this using scss mixins, but there is a lot of repetition in the output code that could be dispensed with.

[2019-06-25 06:23] rog opened #352 "Your site doesn’t include support for the block. You can leave this block intact or remove it entirely."
I updated the plugin and I got the message:

<img width="630" alt="Untitled" src="https://user-images.githubusercontent.com/1069532/60073912-4f168b00-96e7-11e9-8114-d4856b9c33d8.png">

And when I try to edit the block, I don't get the FieldTypes list:
<img width="716" alt="Untitled 2" src="https://user-images.githubusercontent.com/1069532/60073914-4faf2180-96e7-11e9-9931-20c7f48c297d.png">

I can'

[2019-06-25 08:49] lukecarbis commented on #352
Hey @rog – I just tried to replicate the error myself, and couldn't manage to cause it. Can you describe how the block was setup, which fields it had, etc?

Also, is the installation registered as Pro?

[2019-06-25 09:26] rog commented on #352
No it's no PRO.

I think the problem it's with the `wp.blockEditor` instance, blockEditor is marked as undefined.
Doing some research it's on this line: https://github.com/getblocklab/block-lab/blob/255a41696923f1319e9bdbf0701aefa902836977/js/blocks/controls/rich-text.js#L2

My WP version it's: WordPress 5.1.1

[2019-06-26 06:47] mukeshpanchal27 commented on #351
@RobStino It is great thought.

Global style is great option if any block needed special css then we can use parent selector to add different css for that block element only.

Also if possible add an option to remove/dequeue that global style in case of it was conflict with any theme or plugin css or end user need to add/change style as per there need.

[2019-06-26 23:02] x5hwuk7nc6jsudcc opened #354 "Global blocks"
This is a feature request.

**Proposed functionality**
Global blocks are like normal blocks, except that when a user edits the content of that block, it updates all instances of that block throughout the site.

**Example use case**
You have a block for your brand USP, which is present on most pages. The intention is for that brand messaging to be the same across all pages, but you also want to all

[2019-06-26 23:39] lukecarbis commented on #354
Interesting idea.

One workaround that comes to mind that could make this possible now is to create a custom post type – we could call it "Reusable Content", and each post there could contain the content you want to make globally available.

Then create a Block Lab block with a Post selector, set to the Reusable Content post type.

That's not perfectly what you're asking for, but it could be a wor

[2019-07-02 15:18] paddykontschak commented on #352
@rog you need Wordpress 5.2.2 for BlockLab 1.3.3.

[2019-07-02 19:11] #352 closed, assigned to nobody

[2019-07-03 15:19] torian257x opened #359 "feature request: wysiwyg text field"
a text field that allows adding links, bold text, etc

[2019-07-03 22:46] lukecarbis commented on #359
Hi @Jossnaz! We already do have this feature, though it's only available in the Pro version. You can find it under the name "Rich Text".

[2019-07-03 22:46] #359 closed, assigned to nobody

[2019-07-04 01:33] kienstra commented on #351
Hi @RobStino, this sounds useful, and it wouldn't be too hard. It'd probably be similar to [enqueue_block_styles()](https://github.com/getblocklab/block-lab/blob/43c552d5b10c384888e4df242e3e79bfdf02bb4b/php/blocks/class-loader.php#L270).

[2019-07-09 04:39] phpbits opened #360 "Add filter to `get_block_attributes` to allow third-party attributes"
I've created [EditorsKit](https://wordpress.org/plugins/block-options/) plugin to extend Gutenberg editor and blocks. Using the plugin together with Block Lab is logging this error `{"code":"rest_invalid_param","message":"Invalid parameter(s): attributes","data":{"status":400,"params":{"attributes":"editorskit is not a valid property of Object."}}}` since the attribute was registered via JS. Is it

[2019-07-09 04:39] phpbits commented on #360
https://github.com/getblocklab/block-lab/blob/ff62e03c8de8c9a427e77772191a4d0636fc576d/php/blocks/class-loader.php#L164

[2019-07-10 17:08] torian257x commented on #157
@lukecarbis big fan of block lab so far. I wish more freedom in defining sub folders for my block templates... but its not really so important, and maybe there even is a way, I just havent looked really yet (as my project is still considerably small).

That nesting is not supported? absolute killer. I started looking for different solutions, even though it would be a real shame. Looks like your co

[2019-07-10 17:11] Tarka-Dhal commented on #157
@Jossnaz I have to agree with you. Nesting is most wanted feature. I stopped using BlockLab because I needed this feature too.

[2019-07-10 17:21] torian257x commented on #157
@Tarka-Dhal what are you using now? hand coding the blocks is so tedious

[2019-07-10 17:23] Tarka-Dhal commented on #157
I'm using ACF with PHP importing. For nesting support I have to hard code (I have only some containers, wrappers, etc.).

[2019-07-10 18:16] kienstra opened #362 "Some fields from other blocks appear in the Inspector"
Thanks to Grant for reporting this.

It looks like there are some fields that unexpectedly display in the Inspector when other blocks are selected. I saw this for 'Select' and 'Multi-Select' fields, but not 'Text' fields.

Steps to reproduce
1. Create a new Block Lab Block, like 'Block 1 Testing Inspector'
2. Add 'Select' and 'Multi-Select' fields, and select 'Inspector' instead of 'Editor'

<img

[2019-07-10 21:55] lukecarbis commented on #157
@Tarka-Dhal @Jossnaz just wanted to chime in to say I absolutely hear you. I'm still not convinced that nesting isn't something that Gutenberg should do by default… but I also think I just don't understand what it is you're trying to achieve.

Could you post how you've been able to create what you wanted with ACF or Lazy Blocks?

[2019-07-10 23:42] robertsass commented on #157
In contrast to BlockLab, Lazy Blocks goes much more in the direction of Ultimate Blocks - a collection of almost completely styled blocks as a complete product. BlockLab is lightyears ahead and way more advanced and flexible. Just the fact that the template files are PHP files (as known from WordPress themes & with all the consequences regarding the programming possibilities but also the facts tha

[2019-07-11 12:32] torian257x commented on #157
@lukecarbis "I'm still not convinced that nesting isn't something that Gutenberg should do by default…" so you are convinced? double negative...  I'll just assume you are not convinced.

gutenberg will implement group blocks, at least it seems like: https://core.trac.wordpress.org/search?q=group+block so you not being convinced, seems like you are the only one. But maybe I just don't understand wh

[2019-07-11 23:51] lukecarbis commented on #157
Wow! First of all, thanks so much for taking the time to post all this. There's clearly some passion here, that frankly, is a bit of a surprise!

![iu](https://user-images.githubusercontent.com/1097667/61092753-e707c900-a48a-11e9-9e8d-42b451f4349e.gif)

Here's what I can promise: Once we finish the repeater field, I'll speak with @RobStino and @kienstra about very seriously considering nested bloc

[2019-07-12 06:46] robertsass commented on #157
@lukecarbis it could look like the native Column block. Or, if you want to go deeper and not just create a container block but leave the option to put the container field together with all those already existing other fields into the same block, I would suggest to just style it like a dropzone known from file uploads. Just a bordered or indented area.

[2019-07-12 13:07] lewisself64 opened #365 "Add data-align attribute on blocks"
It would be really good to have the ability to add the `data-align` attribute on blocks to enable creation of wide and full width blocks. I've not been able to find anything that allows this in the settings. Could possibly be a drop down on the block properties sidebar?

[2019-07-12 17:40] torian257x commented on #157
@robertsass I think the problem is that the column block itself looks crap. Just nest a couple column layouts into itself, it quickly becomes unusable.
@lukecarbis there is energy around for this, because block lab block builder can indeed be the next big thing for professionals to build, and then for the normal users to consume. I am currently using the builder for email templates, that use html

[2019-07-12 19:02] robertsass commented on #157
@Jossnaz That's right, but consider that native Columns block is designed for end users. It's good enough to put text into columns like it's known from printed magazines. Of course it's not designed to be used to implement complete ambitious layouts.
But that's not what we're talking about. We're not talking about another Grid block, but about nesting. The only thing I meant to suggest by referrin

[2019-07-13 20:53] #322 closed, assigned to nobody

[2019-07-14 02:44] lukecarbis commented on #286
@pgallastegui @erickyle Sorry it took so long – here's an example on how you can extend Block Lab with a custom control: https://github.com/getblocklab/block-lab-pokemon-control

[2019-07-15 10:45] #362 closed, assigned to nobody

[2019-07-15 10:51] lukecarbis commented on #365
Totally agree! Closing this issue in favour of #261.

[2019-07-15 10:51] #365 closed, assigned to nobody

[2019-07-15 10:56] lukecarbis commented on #25
Closing in favour of #278.

[2019-07-15 10:56] #25 closed, assigned to nobody

[2019-07-15 10:58] lukecarbis commented on #157
Just to add to the conversation here, @RobStino and I caught up to chat about this, and came up with a great use case for nested blocks: A Slider Block.

Imagine being able to insert a "slider" block, and within it, insert an image, an embedded video, a quote, and maybe even another custom block.

This couldn't really work in the conventional Gutenberg "columns" sense.

(We should keep discussion

[2019-07-15 11:03] #360 closed, assigned to nobody

[2019-07-15 11:05] lukecarbis commented on #334
@kienstra I'd suggest we should always default to child (template and css) if it exists, and fallback to parent if it doesn't (matching core).

[2019-07-15 11:05] #215 closed, assigned to kienstra

[2019-07-15 16:39] HongPong opened #367 "Best practice for relative URLs"
Hi all,

Block Lab has been very helpful. I have a question about managing a field that might involve both external and relative URLs. When I try to save a relative URL it rejects that with the validator ("Please enter a URL").

I didn't know until now that HTML inputs of type 'url' forbid relative URLs. sigh! ( https://stackoverflow.com/questions/3670437/input-type-url-for-relative-urls -- also,

[2019-07-15 20:53] bbertucc opened #368 ""Template functions" links to a page that doesn't exist"
After creating a block for the first time, I noticed the "Template Functions" link goes to a page on github that doesn't exist.

This is the URL it sends you to: https://github.com/getblocklab/block-lab/wiki/4.-Template-Functions

Probably should be this URL: https://github.com/getblocklab/block-lab/wiki/4.-Templating-functions

(note the lowercase "f" in "functions")
<img width="573" alt="Screen

[2019-07-16 02:44] lukecarbis commented on #368
Thanks for reporting this! Fixed now.

[2019-07-16 02:44] #368 closed, assigned to nobody

[2019-07-16 02:46] lukecarbis commented on #367
Hey @HongPong – glad you're enjoying Block Lab.

I think we're going to try to stick to the HTML spec when it comes to the URL fields. Unfortunately, that means relative URLs won't work with the URL field.

For now, a standard text field will be best, however, you might like to follow #158 – the Field Validation feature. Once implemented, this will add the ability to add a Regex (or similar) valid

[2019-07-16 02:46] #367 closed, assigned to nobody

[2019-07-16 03:28] bbertucc commented on #278
@lukecarbis, just ran into two cases for field conditions:

First use case:

It takes two fields to build a button in my block: a "button-text" field and a "button-url" field. The user keeps entering in "button-text" without "button-url". Ideally, both fields would be required if they are using one of them.

Another use case:

A user can choose between a background image or a background color from

[2019-07-21 18:59] kienstra commented on #254
It looks like this [support topic](https://wordpress.org/support/topic/field-type-textarea-not-show-in-admin/) has a similar issue:

[2019-07-22 01:14] lukecarbis commented on #344
@strayguevara – I've been messing this for a while this morning, and I was having trouble replicating it.

![2019-07-22 11-02-37 2019-07-22 11_10_23](https://user-images.githubusercontent.com/1097667/61599980-5b075580-ac71-11e9-9037-8ffaeadfbeb9.gif)

Then I had a bit of an idea… I realised that search is probably including the content as well as the title.

I tried it out by adding the text "One"

[2019-07-22 01:15] x5hwuk7nc6jsudcc commented on #344
Ahh! Yes, that's definitely what's going on..

[2019-07-22 01:49] #344 closed, assigned to lukecarbis

[2019-07-22 10:33] lukecarbis commented on #316
@strayguevara I'm going to close this in favour of #326, as I think that addresses the problem you describe really neatly.

[2019-07-22 10:33] #316 closed, assigned to nobody

[2019-07-22 10:56] lukecarbis commented on #354
@strayguevara On closer inspection, I think this is _exactly_ what Reusable Blocks do. Take a look:

![2019-07-22 20-26-52 2019-07-22 20_29_40](https://user-images.githubusercontent.com/1097667/61626024-79943d80-acbf-11e9-8984-91e0cf7f4816.gif)

[2019-07-22 11:08] RobStino commented on #301
Wow. Delayed review from me. :D Sorry about that.
It's an interesting idea. I think I'd have to say I agree.
One site I'm working on at the moment has about 20 custom blocks and more structure like this would make it easier to navigate.
@kienstra @lukecarbis Is there anything technical stopping use form adding this as another templating path that Block Lab can auto-magically navigate and pair file

[2019-07-22 12:43] lukecarbis commented on #301
I think this should be pretty easy.

[2019-07-22 17:04] kienstra commented on #301
There's no blocker to this, we could add logic to [block_lab_locate_template()](https://github.com/getblocklab/block-lab/blob/ad4c916b0b31f79be851b43f0d5a79ea73cd6ef9/php/helpers.php#L167).

[2019-07-22 23:38] x5hwuk7nc6jsudcc commented on #354
Amazing! Did not know this feature existed in WordPress.

[2019-07-22 23:38] #354 closed, assigned to nobody

[2019-07-23 03:19] #351 closed, assigned to nobody

[2019-07-23 03:38] #334 closed, assigned to nobody

[2019-07-23 03:39] #301 closed, assigned to lukecarbis

[2019-07-27 11:22] haicu commented on #179
Just curious. Is there any progress made on export to code yet?

[2019-07-27 21:02] lukecarbis commented on #179
Yes – we experimented with a rudimentary prototype, but in the end decided to wait and see what WordPress Core's implementation of a Block Directory looks like, so that we can ensure that our exported blocks are compatible with that.

[2019-07-30 09:34] knutsp opened #375 "Handle extra attributes to blocks added via Block API - without errors in the editor"
From https://wordpress.org/support/topic/causing-other-blocks-to-not-load-in-editor/#post-11780925

[2019-07-31 21:48] kienstra commented on #375
Hi @knutsp,
Thanks for bringing this up.

If it's alright, we'll carry this conversation forward in the [Otter plugin's support topic](https://wordpress.org/support/topic/causing-other-blocks-to-not-load-in-editor/#post-11787358).

It looks like this issue also appears when using [Otter Blocks](https://wordpress.org/plugins/otter-blocks/) with Core dynamic blocks that use `<ServerSideRender>`. So

[2019-07-31 21:49] kienstra commented on #375
**Closing**

Hi @knutsp,
Thanks for raising this. If after further conversation on [Otter's plugin's support topic](https://wordpress.org/support/topic/causing-other-blocks-to-not-load-in-editor/#post-11787358) we find that this is an issue with Block Lab, I'll reopen this.

[2019-07-31 21:49] #375 closed, assigned to nobody

[2019-08-05 14:23] abillahbd opened #378 "Second time "Add Field" does not update slug for that field when pressed CTRL+V"
Issue: When creating a block, when I click on "Add Field" button, if it's the first field, then whenever I paste something into the "Field Label" textbox, it automatically updates the "slug" for that field. But if it's the second field (second time adding a field), then pasting into the "Field Label" does not update the "slug".

How to replicate:

Go to "add new block" page.
Click "Add field" butt

[2019-08-14 22:44] lukecarbis commented on #378
This occurs because the field "blurs" (loses focus) when the browser window loses focus (which presumably you're doing to copy the value you need).

An easy workaround is to copy the value to your clipboard _before_ adding the new field. Like this:

![2019-08-15 08-32-43 2019-08-15 08_42_21](https://user-images.githubusercontent.com/1097667/63061532-cffc4100-bf38-11e9-97ff-f160f676da86.gif)

It is

[2019-08-15 05:06] #378 closed, assigned to nobody

[2019-08-16 19:24] Joshua-Madrid opened #385 "Creating Bootstrap Blocks With Block Lab"
Hi Block Lab or Anyone Interested,

I am trying to use block lab to create Bootstrap Friendly Blocks. I have found the Built-in Guttenburg Blocks clunky and hard to use. I am trying to make these blocks for a client, but I am sure can be used for other projects as a set of premade bootstrap friendly blocks.

I am taking a shot in the dark as I am working on this. I know that a Container friendly f

[2019-08-16 19:58] Joshua-Madrid commented on #385
[code]

[2019-08-16 20:24] Joshua-Madrid commented on #385
Oh another thing is that these Blocks can become a premade set that can be used as examples and to make.

[2019-08-19 12:07] rdcorp opened #388 "Allow add_action in block template"
#MyFirstIssue

I tried calling WordPress function

`add_action("wp_head",function(){});`

in one of the template php files.

But its not working.

However, _do_shortcode_ is working fine.

[2019-08-19 12:20] kienstra commented on #388
Hi @rdcorp,
Thanks for brining this up, and for opening your first issue 😄

It looks like on the front-end (not in the block editor), the `'wp_head'` action will have already run by the time the template runs.

<img width="974" alt="temp-bl" src="https://user-images.githubusercontent.com/4063887/63264731-236ee600-c2cf-11e9-8883-c522d02b2406.png">

Could you please elaborate on the use case of addi

[2019-08-19 12:24] rdcorp commented on #388
Thanks @kienstra for such a quick reply!

I am creating a FAQ block similar to this one :

<img width="342" alt="preview-full-authority hacker FAQs desktop" src="https://user-images.githubusercontent.com/4024605/63265058-4509a680-c2aa-11e9-9dc4-82638c0c9d55.png">

I am building Google rich snippet schema from the block template and trying to add it to the header code.

https://developers.google.co

[2019-08-19 13:09] kienstra commented on #388
Hi @rdcorp,
Thanks a lot for the details.

It looks like it [might be possible](https://codelabs.developers.google.com/codelabs/structured-data/index.html#2) to add structured data in the `<body>`, which is where the template would typically be output:

Would that work for your case?

[2019-08-19 13:17] rdcorp commented on #388
Sounds good!

I will try it out and update here.

Thanks again!

[2019-08-19 13:34] kienstra commented on #388
Thanks, @rdcorp!

[2019-08-19 13:34] #388 closed, assigned to nobody

[2019-08-20 17:30] thefrosty opened #389 "Config constant for license key"
Would be great to allow the license key to be defined in a constant like `BLOCK_LAB_LICENSE_KEY`.

[2019-08-20 21:16] lukecarbis commented on #389
I like this idea – thanks for submitting it! One small consideration is that we'd need to hide / alter the Licence key setting area.

[2019-08-20 22:30] kienstra commented on #389
Hi @thefrosty,
Thanks for suggestion! Could you elaborate on the use case of having a constant for the license key, and how that would help?

Thanks for using Block Lab!

[2019-08-21 01:05] kienstra commented on #389
Ah, maybe it would be to programmatically set the license key, to avoid having to add it in the  Block Lab Settings > License key `<input>` element.

[2019-08-21 02:50] kienstra commented on #389
<img width="688" alt="license-key-here" src="https://user-images.githubusercontent.com/4063887/63398880-48b83d00-c412-11e9-84d8-e3ab41753441.png">

[2019-08-21 20:45] Joshua-Madrid opened #390 "Error When using block"
So I am running into this issue where My block is "Updating Failed" when trying to preview the Results of a POST in wordpress. On the Backend in admin I see the "message Error Loading Block:" and the Preview is stuck in generating.

here is my folder structure

**theme>blocks>tshirt-sales>block.php and block.css**

here is the block code used

[code]

this has happened to me 2 times now I am not s

[2019-08-21 21:32] #385 closed, assigned to nobody

[2019-08-22 00:21] kienstra commented on #390
Hi @Joshua-Madrid,
Thanks for your detailed information.

Are there any other block-related plugins active, other than [Gutenberg](https://github.com/wordPress/gutenberg/)?

There was an issue where when other plugins add other `props`, it can cause a similar error to the one you mentioned: https://github.com/getblocklab/block-lab/issues/375#issuecomment-517034901

After recreating the fields, and

[2019-08-22 00:40] Joshua-Madrid commented on #390
I thought it could be a woocommerce blocks so I deleted that plugin since I was not using it but other than that I do not have any other block related plugin active.

[2019-08-22 00:54] kienstra commented on #390
Ah, interesting. Thanks for checking that.

Are there any console errors after the message 'Error Loading Block' appears?

[2019-08-22 01:11] JulieKuehl opened #391 "Update "Learn More" links in New Block alert"
The "Learn More" links should be updated for the new docs.

- Block Templates: https://getblocklab.com/docs/get-started/add-a-block-lab-block-to-your-website-content/
- Template Functions: https://getblocklab.com/docs/functions/

![learn-more-links](https://user-images.githubusercontent.com/1095701/63478446-7d96b500-c44f-11e9-8923-bf832d67c6fe.png)

[2019-08-22 01:11] Joshua-Madrid commented on #390
I am not sure how to see PHP errors in the console I can see Javascript errors sometimes. but nothing for this error. here is a list of the plugins i am using

[2019-08-22 01:14] Joshua-Madrid commented on #390
Akismet Anti-Spam
Block Lab
Customizer Export/Import
EWWW Image Optimizer
Google Analytics Dashboard for WP
Premmerce User Roles
Relevanssi
Simple Custom CSS and JS
Sucuri Security
Super Forms
WC Custom Add to Cart
WooCommerce
WooCommerce Dynamic Pricing
WooCommerce Min/Max
WooCommerce Product CSV Import
WooCommerce Services
Yoast SEO

[2019-08-22 01:19] JulieKuehl opened #392 "Remove Meta Data from Docs Template"
The post meta data isn't appropriate on the Docs pages. Can it be removed in the template?

![remove-docs-meta-data](https://user-images.githubusercontent.com/1095701/63478804-e3377100-c450-11e9-9f06-83d29add8211.png)

[2019-08-22 01:43] Joshua-Madrid commented on #390
Ill email you a video with the issue

[2019-08-22 13:00] lukecarbis opened #393 "Blank repeater rows don't show at all"
If a repeater contains a blank row, we would expect it to be output with default values. However, it currently is not even looped through at all.

[2019-08-22 13:14] #36 closed, assigned to lukecarbis

[2019-08-22 13:14] #391 closed, assigned to nobody

[2019-08-22 13:42] kienstra commented on #390
Thanks for the information. A video of the issue would help 😄

[2019-08-22 13:51] davidludman commented on #156
Maybe I'm being naive but would it not be easier to turn the "image" field into a "media" field that allows you to pick from all media by default? Then if you wanted to only include only certain file type/s it could reference a new field present at setup that could contain a comma delimited list of allowed extensions (.jpg, .gif, .mp4 etc...).

[2019-08-22 13:55] lukecarbis commented on #156
That's a great idea @ludderz – or instead of allowed extensions, you could choose allowed media types (e.g. Image / Video / Any).

[2019-08-22 16:21] thefrosty commented on #389
You follow up is correct. I work in corporate installs and between all the environments if database copy downs don't happen we might not be able to activate a key. So we have a API key file for all our key constants.

[2019-08-22 16:23] thefrosty commented on #389
There are plenty of code examples out there, check out any delicious brains plugins or the recently update metabox.io who added this feature in version 5.1.

[2019-08-23 11:53] Joshua-Madrid commented on #390
I have block lab pro and can import and export blocks, I am thinking if wipe block lab out and reinstall it, it may work again. or it could be that the database has some other kinda block plugin information remaining?

[2019-08-23 15:38] eriktdesign opened #397 "Failed licensing check (maybe?) causing website to hang"
Our development environments were seeing super long load times and timeouts this morning. New Relic monitoring revealed external hits to getblocklab.com taking 40,000ms. The Block Lab website appears to be down today. Looking at source, I'm guessing the plugin is trying to re-validate my license, but the super-long timeout is causing the website to hang.

Disabling the Block Lab plugin (via CLI) r

[2019-08-24 00:53] kienstra commented on #397
Hi @eriktdesign,
Thanks for bringing this up. We're working on it now.

Are you using the Pro version also? It looks like it is making requests to our site to validate the license that are failing, like you mentioned.

If you're using Pro, removing the license key for the moment should enable you to keep using the plugin.

The Pro fields will still render like before. The only change will be that

[2019-08-24 01:40] kienstra commented on #397
Hi @eriktdesign,
Sorry about this.

For the moment, making this one-line edit will restore the full Pro functionality:

[code]

This should prevent requests to server, as long as it's you're not on the `/wp-admin` > Block Lab > Block Lab Settings page.

Of course, this would be in a built version of the plugin, like one downloaded from WordPress.org.

When making that edit to this repo on GitHub,

[2019-08-26 03:34] lukecarbis opened #399 "Repeater row limit"
There should be a row limit to repeaters. Use case: Adding buttons to the bottom of a hero section. e.g. I might have a hero that allows for _up to_ 2 buttons.

[2019-08-26 04:42] lukecarbis opened #400 "Block builder API"
A feature request I hear a lot is a way of programatically adding new blocks, using PHP to define them.

For example:
[code]

Inspired by [this](https://github.com/StoutLogic/acf-builder/wiki) and [this](https://www.advancedcustomfields.com/resources/register-fields-via-php/).

[2019-08-26 04:47] lukecarbis opened #401 "Block template stub"
A feature request I hear a lot is the ability to quickly stub out a template from Block Lab's block builder UI.

The purpose is to quickly copy all the field names into a document so that you don't have to go back and forth copy / pasting them.

This could be done with a button that automatically creates the block template in your theme, or shows a starter template in a textarea that could be copy

[2019-08-26 16:30] kienstra commented on #401
That's a good idea, it'll help remove the need for people to look at the documentation first.

[2019-08-26 23:34] kienstra commented on #390
Hi @Joshua-Madrid,
Sorry for the delay.

Like you mentioned, saving the block again could help. Simply clicking 'Update' might help:

<img width="1127" alt="click-here" src="https://user-images.githubusercontent.com/4063887/63730248-d4681880-c8ad-11e9-9f5d-265546e6d5c9.png">

Could you please let me know if that works? If not, simply recreating the block from scratch could help.

[2019-08-27 17:57] BenHarris opened #403 "Repeater row count"
Add the ability to get the number of rows in a repeater

[2019-08-28 03:50] kienstra opened #404 "Continue with integration and unit tests"
A follow-up to #402.

- [x] Add an integration test for the repeater.
- [ ] Add more unit tests (likely to be in several PRs, including #433)
- [x] In the [integration test](https://github.com/getblocklab/block-lab/blob/f0f59564d13802ef7185ef3d639bfe4ef1b25c04/tests/php/integration/test-template-output.php), also test for blank and default values (thanks to @lukecarbis for this [suggestion](https:

[2019-08-28 03:51] kienstra commented on #8
#404 is related to this, and will capture much of the integration and unit tests for now.

[2019-08-28 04:25] #397 closed, assigned to nobody

[2019-08-28 04:31] kienstra opened #405 "Consider adding list controls to the Rich Text control"
The [Rich Text control](https://github.com/getblocklab/block-lab/blob/fa36740ce6c0de3019187186dff6f82cee038689/js/blocks/controls/rich-text.js) doesn't have a way to add lists, like `<ul>` or `<ol>`:

<img width="772" alt="rich-text-here" src="https://user-images.githubusercontent.com/4063887/63825918-3febcd80-c922-11e9-8b03-589930254445.png">

...though the Core List block does have list controls

[2019-08-29 00:02] kienstra commented on #400
Yeah, that's a good idea. I've heard requests for this also.

[2019-08-29 00:22] kienstra commented on #399
Hi @lukecarbis,
Were you thinking of something like this:
<img width="828" alt="max-row-here" src="https://user-images.githubusercontent.com/4063887/63901116-e25e8c00-c9c8-11e9-956f-5dd13ae06775.png">

Also, there should probably be feedback in the block editor when the row limit is reached. Maybe the + icon to add a new row would be disabled, with a popover on hover.

[2019-08-29 00:36] lukecarbis commented on #399
More likely something like this:

![Screen Shot 2019-08-29 at 10 33 35 am](https://user-images.githubusercontent.com/1097667/63901575-7c194e00-ca48-11e9-81c5-f74e6136432a.png)

Worth mentioning, though, that while we do call them "rows" in the code, the word "Row" hasn't yet been used in a user facing way. We may yet want to change what we call them.

Potentially, we could just hide the new row ic

[2019-08-29 02:01] kienstra commented on #399
Good ideas. The screenshot looks good.

If it's alright, I'll probably get to this after the blank row issue (#393), and the issue with changing the repeater name causing removing the sub-fields

[2019-08-30 14:46] BenHarris commented on #314
@strayguevara the "SVG Support" plugin with the below code in your block works well
[code]

WordPress SVG support is the real problem here.

[2019-09-02 05:59] kienstra commented on #393
This seems to only be a problem in the editor, and it looks to be related to how [ServerSideRender](https://github.com/WordPress/gutenberg/blob/e2490612decf2f0ac614d6ee9f6d1269d0bfc615/packages/server-side-render/src/server-side-render.js#L22) handles empty values.

On the front-end it looks like empty rows display fine.

The issue in the editor seems to be from how `<ServerSideRender>` handles em

[2019-09-03 18:42] #393 closed, assigned to nobody

[2019-09-03 18:53] kienstra opened #410 "With multiple repeater blocks on the same post, only the 1st displays"
Thanks to Markus for bringing this up.

## Steps to reproduce
1. Create a block with a repeater. It doesn't matter what sub-fields it has.
2. Add a template for the block if it doesn't yet have one
3. Add the block to a post
4. Add another one of the same block to the post
5. Expected: 2 repeater blocks display on the front-end
6. Actual: only the 1st repeater displays on the front-end:

<img widt

[2019-09-03 23:03] #410 closed, assigned to nobody

[2019-09-03 23:45] kienstra commented on #403
@BenHarris, thanks for opening this!

[2019-09-03 23:54] kienstra commented on #403
@BenHarris,
Thanks for bringing this up.

Could you please elaborate on the use case of counting the number of rows?

No to say it's not useful, just trying to get a sense of relative priority for this issue.

Thanks, Ben!

[2019-09-04 09:58] RobStino opened #416 "No field widths/field location options on initial load of first field"
Walkthrough of the issue.
Video only points out the *Field Width* options, but if you watch you'll see the same issue with *Field Location*.
https://d.pr/v/DWJs7U

[2019-09-04 10:04] RobStino opened #417 "Giant tooltip for move up/down on repeater"
![image](https://user-images.githubusercontent.com/1578148/64245916-316b6a80-cf4f-11e9-889a-916a667e73c1.png)
Guessing this is not meant to be this big.
On develop branch.

[2019-09-04 22:27] RobStino opened #418 "block_sub_field returns image ID instead of URL"
Walkthrough -> https://d.pr/v/DPXBPa

[2019-09-04 23:38] kienstra commented on #418
@RobStino, thanks for bringing this up. I also see this.

[2019-09-08 21:56] lukecarbis commented on #403
@BenHarris This isn't the most ideal, but it is possible to get the number of rows in a repeater using the `$block_lab_attributes` global:
[code]

That said, if there were some compelling use cases for knowing the repeater rows, I think creating a new helper function might make sense here instead.

[2019-09-09 03:05] #418 closed, assigned to nobody

[2019-09-09 04:02] lukecarbis commented on #417
They are meant to be that big. Unfortunately, using the default Tooltip component, we can't do anything to change the size. It's the same for all tooltips in Gutenberg.

<img width="490" alt="Screen Shot 2019-09-09 at 2 01 13 pm" src="https://user-images.githubusercontent.com/1097667/64502602-5fafc800-d30a-11e9-9298-f8e091213e2c.png">
<img width="423" alt="Screen Shot 2019-09-09 at 2 01 21 pm" src

[2019-09-09 04:02] #417 closed, assigned to nobody

[2019-09-09 10:00] #390 closed, assigned to nobody

[2019-09-09 11:24] BenHarris commented on #403
In my use case, the site is using Bootstrap. If there were 1-2 elements, they should have a 50% width each (col-6), if there were 3, they should be 33% each (col-4). I achieved it in the end by just looping and counting, then a reset and re-looping.

[2019-09-10 22:05] #416 closed, assigned to nobody

[2019-09-10 23:54] #399 closed, assigned to nobody

[2019-09-11 18:38] kienstra opened #425 "Replace globals $block_lab_attributes and $block_lab_config"
The globals `$block_lab_attributes` and `$block_lab_config` are used in the class [Loader](https://github.com/getblocklab/block-lab/blob/25d16644074dfdce1b639d0b272cd17d9c745e18/php/blocks/class-loader.php#L284) and in [helpers.php](https://github.com/getblocklab/block-lab/blob/25d16644074dfdce1b639d0b272cd17d9c745e18/php/helpers.php#L26).

It'd be best to not use globals, and instead move them in

[2019-09-12 20:02] stevenkword opened #427 "PHPCS is Throwing Errors"
PHPCS is throwing an error against the latest version of the WP Coding Standards.  It was addressed previously through the usage of phpcs:ignore, however I believe the ruleset namespaces have since changed have changed.  PR incoming.

[2019-09-12 20:50] kienstra commented on #427
Hi @stevenkword, thanks for bringing this up. I'll look at this, and will look at your PR when it's ready.

[2019-09-12 21:17] kienstra commented on #427
It looks like I should have included `phpcodesniffer-composer-installer` in `composer.json`, like how the [AMP plugin does](https://github.com/ampproject/amp-wp/blob/dcfa44ccfbbd083d302d7e2a58917966a6a0c984/composer.json#L20).

At least locally, `npm run lint:php` is passing with this diff:

[code]

[2019-09-12 22:11] kienstra commented on #405
Let's prioritize this 😄

[2019-09-12 23:40] lukecarbis opened #428 "WPML Compatibility"
This might need to be via a separate helper plugin.

Since we're storing block configuration details as a JSON blob in post content, translating a block would be really difficult / not even possible right now.

Of course, translating blocks to multiple languages would be quite a common requirement.

[2019-09-12 23:42] kienstra commented on #428
Ah, great point.

[2019-09-13 00:31] lukecarbis commented on #403
It would also be nice to get the current index while looping through.

[2019-09-13 00:50] lukecarbis commented on #403
@BenHarris Another fairly easy way of getting the total rows is:

[code]

Do you think that's sufficiently easy, or should there be a helper function, such as:
[code]

[2019-09-13 04:25] kienstra opened #430 "Entering title into Post field doesn't find the correct post"
### Update: Please see [this comment](https://github.com/getblocklab/block-lab/issues/430#issuecomment-531337948). This search is behaving how you'd expect WordPress search to, but it'd be best if this somehow only searched page titles, not also their content.

Here's a [screencast](https://cloudup.com/ceXPaOvEgcN) of the issue the user provided. I  cropped it to hide the URL, and added some text

[2019-09-13 05:06] lukecarbis commented on #430
I think I know what causes this. It's come up before. The WordPress search function includes both the title _and_ the post content when conducting a search. So in this example, any page which contains the text "Admissions" in the post content will show up too.

In terms of speed, here's a gif of how well it work for me running live. If the staging server this was running on is slow anyway, then th

[2019-09-13 05:10] kienstra commented on #430
Hi @lukecarbis,
Ah, great point. It's searching the content also.

Like you mentioned, searching for simply 'Admissions' might not return the right title, as 'Admissions' could be in the content of a lot of posts.

Though it should probably still return the correct page when typing the entire title, right?

The user reported that this issue exists even when typing the entire title.

[2019-09-13 07:55] BenHarris commented on #403
Nice work @lukecarbis :-)

[2019-09-13 17:55] kienstra commented on #430
Ah, maybe 'Admissions' was the page title.

In that case, with the current way WordPress search works, we wouldn't expect it to find that title if 'Admissions' is in the content of enough pages.

[2019-09-13 18:11] kienstra commented on #430
'Admissions' was the page title. So the search is currently behaving how we'd expect WordPress search to behave.

Still, maybe there's a way to limit the search to only page titles. May by passing an extra parameter to [apiFetch](https://github.com/getblocklab/block-lab/blob/41fd3922f44ce1dbb1c4677d5b7f54317c5959a6/js/blocks/components/fetch-input.js#L86), or filtering `pre_get_posts`.

[2019-09-15 20:32] kienstra commented on #254
Here's another related support topic:
https://wordpress.org/support/topic/json-error-20/

[2019-09-15 22:58] lukecarbis commented on #326
Closing this in favour of #400.

[2019-09-15 23:20] lukecarbis commented on #430
Some time searching didn't reveal any quick or easy way of doing this. There's no additional arguments we can send to the WP REST API endpoint to only search titles. We'd have to create a custom endpoint, and construct a custom database query.

I'd say that it's not worth including that extra code just to fix this one issue.

[2019-09-15 23:29] kienstra commented on #430
Yeah, this wouldn't be easy. Like you mentioned, it'd require some custom work with the REST API, probably with a custom SQL query.

[2019-09-15 23:43] kienstra commented on #405
Hi @lukecarbis,
If you're looking for something to work on today, feel free to pick this up. But not to assign you work 😄

Otherwise, I'll probably start this tomorrow or Tuesday.

[2019-09-16 00:10] lukecarbis commented on #400
In terms of how a PHP API should be structured, here are some options.

1. Helper functions, with config array.

ACF uses a single large configuration array, and provides two helper functions. Here's an example of how this might look in Block Lab.

[code]

2. Class based, with config array.

Gravity Forms uses a similar approach, but with a class (`GFAPI`), and instead of a configuration array, it

[2019-09-16 00:33] RobStino commented on #400
I'm more familiar with the style of Option 1, so I'd lean that way, but it comes down to which is better really. My experience is limited. :)
I do like the idea of the `Builder` alongside. It would be interesting to get insight on how widely used/appreciated that method is.

[2019-09-16 00:39] lukecarbis commented on #400
@RobStino What about if it was just the builder, standalone? No helper functions. Would work like this:

[code]

Or do you prefer the helper functions:
[code]

[2019-09-16 00:40] #326 closed, assigned to nobody

[2019-09-16 18:22] kienstra commented on #400
Hi @lukecarbis,
Wow, what a great writeup!

Option 1 (helper function) looks really good to me, and maybe option 4 after that.

I think option 1 would be the most similar to existing 'registration' functions in WordPress:
* [register_block_type()](https://developer.wordpress.org/reference/functions/register_block_type/)
* [register_post_type()](https://developer.wordpress.org/reference/functions/r

[2019-09-16 21:24] RobStino commented on #400
@lukecarbis I think I like the helper functions. But I could learn new things if they're considered better. :)
It probably comes down to:
- What will our community be most comfortable with
- What "just works"
- What is flexible

[2019-09-17 03:01] #403 closed, assigned to nobody

[2019-09-19 20:35] kienstra commented on #427
**Question about phpcs**

Hi @stevenkword,
Hope you're doing great.

Were you able to run `phpcs` without error in this repo?

Doing `npm run lint:php` should run that command and shouldn't show any error or warning. As long as `composer install` was run at some point.

Thanks, Steven!

[2019-09-19 20:39] kienstra commented on #425
Ah, it looks like this issue is a duplicate of #240

[2019-09-20 20:15] kienstra commented on #8
#404 is a duplicate of this. I should have simply added on to this issue.

But if it's alright, I'll close this issue in favor of #404.

[2019-09-20 20:15] #8 closed, assigned to rheinardkorf

[2019-09-22 22:24] lukecarbis commented on #240
Closing this in favour of #425.

[2019-09-22 22:24] #240 closed, assigned to nobody

[2019-09-23 13:34] BenHarris opened #436 "Block failing to render in editor"
When attempting to render a block in the editor, the following error is displayed when the request size is greater than the web servers' limit (`LimitRequestLine` on Apache, defaulting to 8190):

![image](https://user-images.githubusercontent.com/581090/65429141-9c50e880-de0d-11e9-8f3c-001006c2b4c3.png)

I hit the issue when building a team block with a repeater, where each of the 10 team members

[2019-09-23 17:02] kienstra commented on #436
**Thanks for bringing this up!**

Hi @BenHarris,
Thanks for opening this. Could you please help with some questions?

1. Does that 'Error loading block' display appear only in the 'preview' display of the block, like:
<img width="1168" alt="example-preview-of-block" src="https://user-images.githubusercontent.com/4063887/65446096-3eb2a100-ddf9-11e9-963e-9306d3257a59.png">

2. Does the 'control' dis

[2019-09-23 17:17] BenHarris commented on #436
Hey @kienstra,

1. Yes
2. Yes
3. Not quite sure what you mean

Sorry, didn't see that issue. It is the same problem, only I found the root cause!

[2019-09-23 17:23] kienstra commented on #436
Hi @BenHarris,
Thanks, that helps!

Thanks, where do you see that it's making a POST request? Locally, it looks like it's making a GET request, though I could be wrong:

<img width="936" alt="get-request-here" src="https://user-images.githubusercontent.com/4063887/65447762-e087bd00-ddfc-11e9-841d-4fa3c38239b4.png">

[2019-09-23 17:27] kienstra commented on #436
Ah, sorry. You're saying it should switch to use POST instead of GET.

[2019-09-23 17:30] kienstra commented on #436
I'll see if that might help. It would involve reimplementing [ServerSideRender](https://github.com/WordPress/gutenberg/tree/d38a123cfc6494eabf66805094946e39b04a5abe/packages/server-side-render), so I'm not sure about it.

[2019-09-24 01:34] kienstra commented on #436
@lukecarbis pointed out that this Gutenberg issue is related: https://github.com/WordPress/gutenberg/issues/16396

[2019-09-27 10:33] DavidMillington-CD opened #437 "Empty Rich Text field outputs </p>"
Hi, if you add a Rich Text field to a block but don't enter any text then it outputs a `</p>` tag in the frontend.  The expected behaviour would be a blank string similar to how the Text field functions.  This happens when the RTE is a top level field and also when it is added as a sub field to a repeater.

Black Lab 1.4.1

[2019-09-27 18:35] kienstra commented on #437
Hi @DavidMillington-CD,
Thanks for opening this. I'll look at it.

[2019-09-28 23:39] lukecarbis commented on #436
Closing in favour of https://github.com/WordPress/gutenberg/issues/16396.

[2019-09-28 23:42] #392 closed, assigned to nobody

[2019-09-30 09:12] DavidMillington-CD opened #441 "Renaming repeater removes sub-fields"
If you create a block with a repeater and sub-fields, then later come back to it and rename the repeater and some of the sub-fields and save then the sub-fields will vanish.

[2019-09-30 16:33] kienstra commented on #156
This video control was requested by another user.

[2019-09-30 20:26] kienstra commented on #441
Hi @DavidMillington-CD, thanks for bringing this up. We've seen this also, but didn't find a quick solution.

Feel free to check back on this issue, a possible PR will reference it.

[2019-10-01 18:33] #427 closed, assigned to nobody

[2019-10-02 16:21] kienstra commented on #430
Another user reported this issue as well.

[2019-10-02 23:24] lukecarbis commented on #430
One option I just thought of – we could filter the query's "ORDERBY" parameter with the `[posts_orderby](http://codex.wordpress.org/Plugin_API/Filter_Reference/posts_orderby)` filter, and do a MYSQL order by `CASE` or `LOCATE`.

Essentially combining [this](https://wordpress.stackexchange.com/a/41723/33195) and [this](https://stackoverflow.com/a/18726122/1372282).

[2019-10-02 23:35] kienstra commented on #430
Ah, interesting

[2019-10-03 00:54] kienstra commented on #437
Thanks for opening this. I also see that a Rich Text control without any text entered in it unexpectedly outputs `<p></p>` on the front-end:

<img width="1244" alt="rt-control" src="https://user-images.githubusercontent.com/4063887/66091692-6ec31800-e54e-11e9-88c1-50b3c1172bb6.png">

[2019-10-03 00:58] kienstra commented on #437
We might add a workaround to this, like in the `validate()` method of the `Rich_Text` control. But this issue doesn't exist with the WIP 'Classic Text' block in #432.

[2019-10-03 07:33] DavidMillington-CD commented on #437
It's not just the fact it is outputting empty tags.  It's the fact it is outputting broken tags.  You are looking at it in the inspector which fixes the tag for the display it shows you e.g. `<p></p>`.   You have to view source on the actual broken code to see the real output which is just `</p>`:

- [Inspector View](https://i.imgur.com/FVLxf94.jpg)
- [Actual Outputted Code](https://i.imgur.com/qe

[2019-10-04 20:43] torian257x opened #442 "slack invite link doesnt work any longer"
https://block-lab.slack.com/join/shared_invite/enQtNjE1NjUxNDIzNTY4LWRlMzFjZTY3ZDJiZmI4YzhkYzMyMDZiMzNiZDc1ZGMyODA2Mjg3NzkyYzkwNDQwN2JkYjk3YzE2NjIyOGRlYTk

says invite link expired

from

https://getblocklab.com/welcome-to-the-lab/

[2019-10-04 20:45] torian257x opened #443 "polylang compatibility? multi language support"
notice: I haven't written multilanguage pages yet with wordpress, only using wordpress literals e.g. properties, not entire pages

what about translating text and images in custom blocks?

or: how to support 30 languages with block labs blocks?

would polylang work well together with block labs?

[2019-10-05 17:29] kienstra commented on #443
Hi @Jossnaz,
That's a good question.

Field values in Block Lab are saved just like any other block editor attributes for dynamic blocks. So I'd imagine they might have the same translation support in Polylang as other attributes.

Though I don't know much about Polylang. Do you know how much Polylang supports the block editor in general?

<img width="901" alt="label-help-text" src="https://user-i

[2019-10-05 17:54] kienstra commented on #437
Hi @DavidMillington-CD,
Great point. You're right, only a `</p>` appears when the Rich Text field has no value:

<img width="528" alt="closing-p" src="https://user-images.githubusercontent.com/4063887/66258786-ee2f3200-e76e-11e9-9f89-7e0918a67620.png">

This looks to be from calling `wpautop( "<p></p>" )`, which is what the Rich Text control saves for an empty value:

<img width="982" alt="wpautop

[2019-10-06 18:05] torian257x commented on #443
@kienstra actually my question was more basic. It would be interesting to look into translating the blocks as well but for my use case I needed polylang to work with the blocks one created. And it seems, that it does. E.g. we can create pages with blocks, and then translate the entire page using new blocks

[2019-10-06 18:05] #443 closed, assigned to nobody

[2019-10-06 18:10] kienstra commented on #443
OK, that's good to hear!

[2019-10-06 21:35] lukecarbis commented on #442
Thanks for reporting this, @Jossnaz. I've updated the website with the correct link: https://join.slack.com/t/block-lab/shared_invite/enQtNjE1NjUxNDIzNTY4LTcyODQwMDE2ODZmODJiZTllZDJiODU0ZWQzNjg4YTkxM2EyODYxNWQ0YTA3MTI3NjBiNWQ4ZWIxYTlmYzE3YzU

[2019-10-07 08:35] DavidMillington-CD opened #445 "Crashes site if administrator role renamed"
Hi, we use the Members plugin to manage user roles and permissions.  We have two levels of administrator and so renamed the default.  When we try to view the site we get the "The site is experiencing technical difficulties." message when trying to view any pages.  The error log shows:

PHP Fatal error:  Uncaught Error: Call to a member function add_cap() on null in [snip]/plugins/block-lab/php/pos

[2019-10-07 11:49] DavidMillington-CD opened #446 "Feature Request: Media Download"
Currently there is an "Image" option.  When you click that it opens the Media Library but the filter is set to only allow images to be selected.  It would be nice if there was a "Media" option that lets us pick any media that has been uploaded to the library.  An example use case is that our client wants to link to PDF forms they have uploaded to the Media Library.  Currently the only way to link

[2019-10-07 17:11] kienstra commented on #445
Hi @DavidMillington-CD,
Wow, sorry about that. That sounds like a big hassle to get the site back up again.

Good point that the plugin should have better handling for that role. I'll work on this.

[2019-10-07 17:12] kienstra commented on #445
Hi @DavidMillington-CD,
Wow, sorry about that. That sounds like a big hassle to get the site back up again.

Good point that the plugin should have better handling for that role. I'll work on this.

[2019-10-07 17:15] kienstra commented on #446
Hi @DavidMillington-CD, that's a good idea. Pull requests for this idea will reference this issue, so you can check back in this issue to see its status.

[2019-10-10 21:09] kienstra commented on #445
I'm working on this now.

[2019-10-12 23:41] #437 closed, assigned to nobody

[2019-10-16 00:10] #425 closed, assigned to nobody

[2019-10-18 20:02] aimeed commented on #278
Hi there, I'm a web project manager at cultureamp.com and we would really love the ability to use conditional fields. Can you provide an update on the priority and timeline for this issue?

[2019-10-22 11:43] #400 closed, assigned to nobody

[2019-10-22 15:05] #445 closed, assigned to kienstra

[2019-10-23 06:33] lukecarbis opened #450 "Memory leak when an empty Rich Text field loses focus."
I'm experiencing huge browser slow-downs when in the Gutenberg editor and a Rich Text field is blurred.

I've seen this error in my console:

Using Safari.

@kienstra Think you could take a look into this?